[2018-11-12 12:55] mjudeikis opened #2113 "[RFE] Periodic jobs access to the team"
We run multiple periodic jobs in prow.
When jobs fail, we need a way to access them and find what broke down so we can debug locally.

It should be possible to grant access to the team/group for periodic jobs namespaces. Something like:

[code]
where `azure-team` is our team group in CI cluster.

@kargakis @stevekuznetsov @bbguimaraes

[2018-11-13 03:19] smarterclayton commented on #2089
I plan on replacing this very shortly with the new openshift test binary which will be able to tolerate / handle this correctly by waiting for cluster stabilization before continuing.  We'll also remove the router wait loop in favor of `oc wait` against the cluster version payload application.

[2018-11-13 16:22] #2055 closed

[2018-11-14 18:10] wking commented on #2070
Got this again [just now][1].

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/625/pull-ci-openshift-installer-master-images/1084/build-log.txt

[2018-11-15 21:55] stevekuznetsov commented on #2113
No. Expose the artifacts you need. There is no guarantee that any job namespaces or pods are existing when you go look, as they will get GC-ed. This approach isn't tenable.

/close

[2018-11-15 21:55] #2113 closed

[2018-11-16 05:47] bparees commented on #2070
On pto, can't look right now, maybe @legionus or @dmage can.

[2018-11-16 13:20] dmage commented on #2070
Ehm, where can I get the logs?

[2018-11-19 11:30] mfojtik opened #2181 "set the user id for unit tests"
In 1.12.2 rebase PR there is a unit test failing from kube that require the UID <-> username mapping.
The prow container that run the unit tests use the random UUID so there is no entry for that user inside /etc/passwd.

We should probably consider using the fixed UID (1001?) for these containers to avoid such failures.

[2018-11-19 17:57] stevekuznetsov commented on #2181
That seems kind of crazy as a requirement for a unit test .... can you go into more detail?

/cc @smarterclayton

[2018-11-19 18:34] smarterclayton commented on #2181
please fix the unit test

[2018-11-20 14:48] kargakis opened #2187 "branch protector is updating literally all branches in all repos under the org"
It probably shouldn't care about most branches and only protect `master` and `release-*` branches to save tokens.

[2018-11-20 15:12] stevekuznetsov commented on #2187
It's only updating specific repos we have it configured for and on those repos, only the branches Tide merges to (which is all of them in many repos). Explain what you mean?

[2018-11-20 15:13] kargakis commented on #2187
Some repos have 10s of branches that the branch protector shouldn't care about protecting.

[2018-11-20 15:16] stevekuznetsov commented on #2187
Do you want it to somehow detect that? You could go into the config right now and configure it as you want.

[2018-11-20 16:15] kargakis commented on #2187
Maybe a configuration issue then? You probably do not want to be spending tokens on every non-release branch

http://pastebin.test.redhat.com/671145

[2018-11-20 16:17] kargakis opened #2190 "branch protector applied config is not working"
[code]
After merging https://github.com/openshift/release/pull/2186, I seem to be able to merge in azure-misc but not in openshift-azure.
/kind bug

[2018-11-20 16:32] stevekuznetsov commented on #2190
Can you be explicit and clear on exactly what you think is missing?

[2018-11-20 16:34] stevekuznetsov commented on #2187
Not an issue... I don't see a good reason not to do all branches. If you feel like your repo needs to be working in a different way, configure it that way. I'm aware of what the job is doing.

/close

[2018-11-20 16:37] kargakis commented on #2190
Misssing the green button in openshift-azure.

[2018-11-22 14:13] jim-minter opened #2212 "rename all periodics files to indicate branch"
Clayton asked:

Then said:

@kargakis please could you rename the appropriate files accordingly?

[2018-11-23 08:47] kargakis commented on #2212
@smarterclayton none of the periodics files use the branch name in their filenames. I am not sure of the mechanics to read these files anymore and I don't want to break our periodics. Also, I guess we should be renaming them all at once? An intermediate state where you have files with both formats is probably worse than consistency with the one or the other format.
[code]

[2018-11-23 08:48] kargakis commented on #2212
And fwiw all openshift-azure periodics are targetting openshift-azure@master.

[2018-11-26 18:49] stevekuznetsov commented on #2212
Periodics are not inherently tied to a repo, or a ref, or anything... which is why I put them into a `_periodics` file at firat

[2018-11-26 18:49] stevekuznetsov commented on #2212
Whoa, ctrl+enter now closes the issue?

[2018-11-27 15:58] stevekuznetsov commented on #1438
[code]

Is this a race with another job deleting the pod? Or is there something garbage collecting things? That test took ... forever ...

/cc @bbguimaraes @petr-muller

[2018-11-27 16:03] gabemontero commented on #1438
I'll initiate new jenkins e2e in a bit and log into api.ci and try to tail the test pod logs .... get a sense as to what is going on

[2018-11-27 18:00] gabemontero commented on #1438
So https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/744/pull-ci-openshift-jenkins-master-e2e-gcp/100 is still in progress ... teardown says it is already completed but it is still cooking

[2018-11-27 18:04] gabemontero commented on #1438
As is https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/745/pull-ci-openshift-jenkins-master-e2e-gcp/101

That project is still up though, and the e2e-gcp has
[code]

So something else with our last change is most likely wrong with my last attempted fix.  I'll quit cluttering this issue then.

[2018-11-27 18:44] gabemontero opened #2234 "help getting jenkins e2e back on track"
/kind question

/area test-execution

So until yesterday, it had been 3 weeks since we last tried (and successfully ran) the jenkins e2e.
The jenkins e2e no longer worked we we tried again yesterday.

The failure was that the openshift/jenkins repo content we expected to pick via augmenting the test image with https://github.com/openshift/release/blob/master/ci-operator/config/openshift/jenkins/op

[2018-11-28 17:42] stevekuznetsov commented on #2234
/cc @smarterclayton

Wait, if you want output image tags.... why don't you just use `images:` entries? Why do you build the images ... with a name you don't want ... then re-tag them later? I am so confused about your config.

[2018-11-28 18:00] gabemontero commented on #2234
Yeah @stevekuznetsov our config is super old ... we had to do it this way to get it work at the time.

So I'm interpreting your response as doing my first proposed bullet ... get rid of the `output_image_tag_step` stanza, and then change the `to` setting for `images` to be `test`.

And then use `IMAGE_TEST` in our template.

That sound right?

We just want our test image to be a combo of the defau

[2018-11-28 18:20] stevekuznetsov commented on #2234
Yes, I think that would work

[2018-11-28 18:23] gabemontero commented on #2234
Thanks.  Will get a PR up in a bit.

[2018-11-28 23:17] #2234 closed

[2018-11-29 02:05] aveshagarwal commented on #1584
I am running into this issue as well (https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-kube-scheduler-operator/35/pull-ci-openshift-cluster-kube-scheduler-operator-master-verify/3).

The issue, as I understand, is that containers are being run with some random non-root user id, and that user belongs to the root group. All files in the container are owned

[2018-11-29 16:20] gabemontero opened #2260 "jenkins e2e still hosed"
/kind question

/area test-execution

So https://github.com/openshift/release/pull/2250 does not seem to have been sufficient.

Looking at the build logs for https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/746/pull-ci-openshift-jenkins-master-e2e-gcp/103 it does not look like any of the jenkins images were built or tagged into pipeline and/or stable.

Ul

[2018-11-29 16:44] stevekuznetsov commented on #1584
/assign @smarterclayton

[2018-11-29 16:49] stevekuznetsov commented on #2260
You still have all of the images marked as optional .... did you test your new configuration before we merged?

[2018-11-29 16:49] stevekuznetsov commented on #2260
See https://github.com/openshift/release/tree/master/ci-operator#testing-a-template

[2018-11-29 17:14] gabemontero commented on #2260
Forgot about the local test recipe ... will pursue that and report back - thanks.

[2018-11-30 01:15] gabemontero commented on #2260
Hmmm ... my local ci-operator test run was short circuited by

`2018/11/29 20:05:33 warning: Could not add annotations because you do not have permission to update the namespace (details: namespaces "ggm-test" is forbidden: User "gabemontero" cannot update namespaces in the namespace "ggm-test": no RBAC policy matched)`

But removing the optional markers certainly built the images like I tradition

[2018-12-03 19:25] bparees opened #2287 "optional test jobs not being treated as optional"
I created this PR:
https://github.com/openshift/origin/pull/21574

At some point e2e-gcp-crio started getting run against it, i'm not sure why (that job is optional and my PR does not touch any paths that are listed in the run if changed:
https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/origin/openshift-origin-master-presubmits.yaml#L309
)

I could not get the bot to sto

[2018-12-03 23:12] stevekuznetsov commented on #2287
Turns out the job is not optional

/close

[2018-12-03 23:12] #2287 closed

[2018-12-03 23:15] bparees commented on #2287
in my defense it was also not "always_run".  i guess you'd call it "conditional" but not "optional".

[2018-12-04 22:16] wking commented on #2070
Saw this again today over [here][1].  @smarterclayton, do you know where @dmage can get the logs?

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/778/pull-ci-openshift-installer-master-images/1448/build-log.txt

[2018-12-05 13:34] jmontleon opened #2311 "imagestream missing for ASB/TSB Operator tests"
/kind bug
/area test-execution

## What did you expect to happen?
Tests to run successfully

## What happened?
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_ansible-service-broker/1143/pull-ci-openshift-ansible-service-broker-master-build/26?log#log

[code]

## How can the error be reproduced?
Submit a PR or /retest a PR on the openshift/ansible-service-broker

[2018-12-05 15:16] kargakis opened #2313 "optional jobs run by default on every PR"
We just merged a couple of optional jobs (see https://github.com/openshift/release/pull/2293 and https://github.com/openshift/release/pull/2309) and they seem to be running on PRs w/o having them requested (see https://github.com/openshift/openshift-azure/pull/824#issuecomment-444517722).

/kind bug

[2018-12-05 15:17] kargakis commented on #2313
@openshift/sig-azure fyi

[2018-12-05 15:18] kargakis commented on #2313
FWIW it seems they run on PRs only initially and on subsequent retests they arent

[2018-12-05 15:48] droslean commented on #2311
I've created the missing `imagestream`. The tests should be fine now.

[2018-12-05 15:57] droslean commented on #2311
/close

[2018-12-05 15:57] #2311 closed

[2018-12-05 19:36] stevekuznetsov commented on #2313
Yeah, this is a bug in the new `status-reconciler` component

/close

https://github.com/kubernetes/test-infra/pull/10348

[2018-12-05 19:37] #2313 closed

[2018-12-06 08:33] kargakis commented on #2313
Do you need to rebase openshift/test-infra?

[2018-12-07 23:09] wking opened #2340 "images job fails: unable to upload layer sha256:... to destination repository: unknown blob"
/kind bug

`images` job for the installer, but likely not installer-specific.

## What happened?

[logs][1]:

[code]

I'm reporting the flake here in case there's anything useful in the ci.openshift.com logs, but this is likely a registry bug/flake.

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/793/pull-ci-openshift-installer-master-images/1560/build-log.txt

[2018-12-10 15:47] kargakis opened #2348 "the retester bot is broken"
[code]
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/periodic-retester/

Looks broken ever since [2018-12-03 15:28 CET](https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-retester/2100/)

@stevekuznetsov @bbguimaraes @petr-muller @droslean
/kind bug

[2018-12-10 16:35] petr-muller commented on #2348
Looks like another fallout from our migration to upstream images (which have binaries put into a different place).

[2018-12-10 21:37] stevekuznetsov commented on #2348
oh boy

[2018-12-10 21:45] #2348 closed

[2018-12-10 23:44] stevekuznetsov commented on #2340
@mfojtik @legionus

[2018-12-11 00:09] wking commented on #2070
Saw this again today over [here][1].

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/batch/pull-ci-openshift-installer-master-e2e-aws/2133/build-log.txt

[2018-12-12 15:47] kargakis opened #2370 "cannot run ci-operator locally anymore"
Not sure if this is a release or a ci-operator issue.

I am trying to use ci-operator locally to run our e2e test.
[code]
This command used to work but not anymore.
[code]
Seems like a clonerefs issue.
/kind bug
@stevekuznetsov @petr-muller @bbguimaraes

[2018-12-12 15:50] bbguimaraes commented on #2370
`ci-operator` had to be updated when we started using upstream images. You just need to pull the latest version and recompile.

[2018-12-12 16:10] kargakis commented on #2370
@bbguimaraes thanks

[2018-12-12 16:10] #2370 closed

[2018-12-12 17:14] petr-muller opened #2374 "Tracer is dead after we no longer build it ourselves"
https://tracer-ci.svc.ci.openshift.org/ is down.

After https://github.com/openshift/release/commit/b2665d0be2216db58947d927ae9d3d09e971ba61#diff-732194a40c01839cb14c35bcd6331495 we no longer build Prow binaries ourselves and later https://github.com/openshift/release/commit/936af6d428dd494469d81d04dba270caa38f9415#diff-652864204e272998aa934002826b44b0 removed a reference to the ImageStream and re

[2018-12-12 17:22] petr-muller opened #2375 "config-updater failed to deploy because it does not have `--github-token-path` param"
In https://github.com/openshift/release/commit/f1c565e47908702f93dc081024685e82063799c7#diff-7a22377df068e20b9fcaa99661eedcaf, a parameter `--github-token-file` (deprecated by upstream) was replaced by `--github-token-path` everywhere but our config-updater still only has `--github-token-file` (https://github.com/openshift/test-infra/blob/master/experiment/config-updater/main.go#L40) only. This pr

[2018-12-12 20:38] cgwalters opened #2378 "only prune release images after...a week or so"
Today there's a pretty aggressive GC of release images that aren't tagged.  I am not sure what the prune policy is exactly, but I stood up a cluster this morning and it already died due to [operators using Always as a pull policy](https://github.com/openshift/library-go/issues/144).

How hard would it be to tune down this pruning to say...a week or so to start?

[2018-12-12 20:39] stevekuznetsov commented on #2378
/assign @smarterclayton

[2018-12-12 21:20] wking commented on #2070
Saw this again today over [here][1], although this time the message was:

[code]

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/882/pull-ci-openshift-installer-master-images/1658/build-log.txt

[2018-12-14 09:07] kargakis opened #2394 "openshift logo seems broken in openshift prow instance"
Probably related to the switch to use the upstream images directly.

@bbguimaraes @stevekuznetsov

[2018-12-14 16:10] wking commented on #2378
@smarterclayton recently increased this to 72 hours.  I dunno what it was before.

[2018-12-14 19:53] wking commented on #2070
Got [another][1]:

[code]

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/911/pull-ci-openshift-installer-master-e2e-aws/2313/build-log.txt

[2018-12-14 20:00] bparees commented on #2070
timestamp: 2018/12/14 19:29:44

[2018-12-14 20:03] bparees commented on #2070
Nothing in the registry logs related to that request, I don't think it got there.  I'm increasingly suspicious these errors have the same networking flake root cause as the no route to host errors that are being seen in the GCP runs.  We have also seen tls handshake timeouts there(talking to things other than the registry).

[2018-12-14 20:04] bparees commented on #2070
my only other suggestion would be to add another registry instance in api.ci since there are only 3 currently and if it's cpu-bound, perhaps that could cause this.

[2018-12-14 20:05] bparees commented on #2070
@smarterclayton @stevekuznetsov opinions on adding another regsitry replica instance to api.ci?

[2018-12-14 20:12] bparees commented on #2070
I do see some gaps from 19:29:09->19:34:31 between requests for an image from "i-op-7x26ipsi"

However during that time the registry processes lots of requests for images from other namespaces.  So again, nothing seems unhealthy on the registry side.

[2018-12-14 20:34] bparees commented on #2070
@smarterclayton @stevekuznetsov I don't have edit permission to change the replica count

[2018-12-14 20:51] smarterclayton commented on #2070
Updated

On Dec 14, 2018, at 12:34 PM, Ben Parees <notifications@github.com> wrote:

Do it. Do two more.

@smarterclayton <https://github.com/smarterclayton> @stevekuznetsov
<https://github.com/stevekuznetsov> I don't have edit permission to change
the replica count

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/r

[2018-12-17 20:56] stevekuznetsov commented on #2394
Yeah we need to volume mount our CSS+images into deck container

[2018-12-17 20:56] stevekuznetsov commented on #2394
/assign

[2018-12-17 21:31] stevekuznetsov commented on #2374
Hrm. Seems like a major mistake on my end. We should get `tracer` built upstream.

[2018-12-17 23:08] wking commented on #2070
Got another one of these [here][1], so I guess it wasn't a CPU-bound issue?

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/240/pull-ci-openshift-machine-config-operator-master-images/444/build-log.txt

[2018-12-17 23:12] bparees commented on #2070
I am officially ignoring this issue until the generalized network problems are resolved and we still see this happening.

[2018-12-17 23:14] stevekuznetsov commented on #2375
The upstream `updateconfig` just puts data into `ConfigMaps`. The `config-updater` (ugh, naming) does `Templates` and `Lists`.

We should rebase `openshift/test-infra` and update the `config-updater` code. What a mess

/assign

[2018-12-18 00:41] stevekuznetsov commented on #2375
Actually thinking about this more, we should just run `make <something>` on a postsubmit for `openshift/release` and call it a day.

[2018-12-18 00:41] stevekuznetsov commented on #2375
Then we can remove the deployment entirely

[2018-12-18 10:00] petr-muller commented on #2375
Hm, one less thing to worry about sounds good. Plus, it forces us to keep the `make <something>` in good shape.

[2018-12-18 13:11] bbguimaraes commented on #2375
This was something I considered in the context of the synchronization necessary for the staging namespace. Isn't there a similar argument to be made for both services?

Currently we have the following problem:

- we have make commands that can be used to bootstrap, but are not executed post-submit
- we have services that are executed post-submit, but cannot be used to bootstrap*

Therefore we have

[2018-12-18 20:11] stevekuznetsov commented on #2375
We now have a postsubmit.

/close

[2018-12-18 20:11] #2375 closed

[2018-12-20 11:10] kargakis opened #2457 "prow-config-semantics requires me to set a specific run command"
In https://github.com/openshift/release/pull/2456, I am adding an optional `pull-ci-openshift-openshift-azure-master-e2e-azure-vnet` job with `/test vnet` as a command to run the job. The semantics job requires me to set it to `/test e2e-azure-vnet`. I think it's much simpler if this kind of judgement is left to a human and at least ensure there are no duplicate commands in our jobs. Also, there i

[2018-12-20 17:23] stevekuznetsov commented on #2457
If you want it to be called `vnet`, call the job `vnet` too. There's no way to sanely break these things out.

[2019-01-04 00:19] kikisdeliveryservice commented on #2070
I just saw this today [here](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/164/pull-ci-openshift-machine-config-operator-master-e2e-aws/823/build-log.txt)

[2019-01-04 20:59] wking opened #2505 "Registry "Client.Timeout exceeded while awaiting headers""
Possibly another symptom of whatever is causing #2070, but I [just saw][1]:

[code]

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/983/pull-ci-openshift-installer-master-images/1941/build-log.txt

[2019-01-04 21:01] stevekuznetsov commented on #2505
/cc @legionus @bparees @mfojtik @smarterclayton

[2019-01-10 10:11] kargakis opened #2552 "sync github teams in the CI cluster"
At the moment, we maintain our own [CI group](https://github.com/openshift/release/blob/master/projects/azure/cluster-wide.yaml) which is essentially duplicating [`sig-azure`](https://github.com/orgs/openshift/teams/sig-azure). We should be able to take advantage of the github integration in the CI cluster and sync github teams to openshift groups.

/kind enhancement

[2019-01-10 17:47] stevekuznetsov commented on #2552
Who is the audience for this issue? Is there an existing team sync that OpenShift provides?

[2019-01-10 19:42] rphillips commented on #2505
Just hit this exact problem with this [PR](https://github.com/openshift/machine-config-operator/pull/249) and [test logs](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/249/pull-ci-openshift-machine-config-operator-master-images/618/build-log.txt).

[2019-01-10 19:52] rphillips commented on #2505
@sjenning Seth, rightly pointed out, the `registry.svc.ci.openshift.org` pulls are succeeding and `docker-registry.default.svc` are failing.

[2019-01-10 20:08] bparees commented on #2505
so service proxy issue?

[2019-01-11 19:20] bparees commented on #2070
@openshift/sig-network-edge a question on this error:

[code]

registry.svc.ci.openshift.org is a re-encrypt route.  If the TLS handshake failure is happening between the router and the backend pod (ie during the re-encrypt phase), is this the error the docker client would see?

I might have expected to only see this error for a handshake failure to the router(ie between the client+router), wherea

[2019-01-11 23:05] thekad opened #2571 "Update openshift-azure build process to pull from registry.redhat.io"
/kind cleanup
/area test-execution

All openshift-azure images should pull from registry.redhat.io to match upstream. Make sure all oreg_url builds are updated accordingly

[2019-01-14 08:32] droslean commented on #2374
/close

[2019-01-14 10:06] petr-muller commented on #2374
Why was this closed? The referenced PR did not resolve the problem.

[2019-01-14 10:07] droslean commented on #2374
/reopen

[2019-01-14 10:11] droslean commented on #2374
@petr-muller good point. We still have to create the image upstream (gcr.io/k8s-prow/tracer:v20190109-716fe27)

[2019-01-15 09:43] kargakis opened #2586 "ordered-prow-config nonsensical requirement"
We are trying to add a PR job that is not using a status context in github (see https://github.com/openshift/release/pull/2585). The ordered-prow-config job result doesn't make much sense.
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_release/2585/pull-ci-openshift-release-master-ordered-prow-config/2987
/kind bug
@petr-muller @stevekuznetsov @bbguimara

[2019-01-15 10:56] petr-muller commented on #2586
All the job does is parse-and-save using the test-infra code, and the reason for what you see is that `Context` is not marked as optional here, so the default value is marshalled and not omitted: https://github.com/kubernetes/test-infra/blob/master/prow/config/jobs.go#L121

If we are sure that having an empty context is okay then the proper fix is probably to mark the field as optional upstream.

[2019-01-15 16:22] stevekuznetsov commented on #2586
@kargakis please stop pushing the boundaries. You're just making your life harder. Set a status and `skip_report`

[2019-01-15 17:05] kargakis commented on #2586
Yeah, merged an empty context.

[2019-01-15 17:05] #2586 closed

[2019-01-15 17:38] #2457 closed

[2019-01-16 09:32] kargakis opened #2608 "tcp timeouts occuring in OSA CI tests"
We have been experiencing a specific test flake for a long time and we cannot seem to be able to reproduce outside of CI. MSFT has confirmed that they haven't seen it either in their tests. The tests are not doing anything crazy, they simply stand up a cluster in Azure, then query the api server to healthcheck nodes, and infra components. In short, every now and then our tests fail with a tcp time

[2019-01-18 16:49] stevekuznetsov commented on #2608
This could be the load balancer in GCP for api.ci acting up?

[2019-01-21 19:38] coreydaley opened #2648 "No useful log information available from test failure"
/kind bug

/area test-artifacts

## What did you expect to happen?
I expect to be able to view useful logging information about why the test failed

## What happened?
The test ran for 3 hours and did not produce any useful artifacts

## How can the error be reproduced?
It seems to happen frequently on my image registry operator pull requests

## Is there anything else we need to know?
https://open

[2019-01-23 14:19] kargakis opened #2672 "Enable CI configuration to co-exist with repos under test"
Essentially a "make the openshift prow deployment work like travis".

It will be much more convenient if we can run all of our tests 1. locally, 2. manually using the CI cluster, and 3. automatically in prow, using a single repo.

Today we can only do 1. in `openshift-azure`, 2. and 3. in `release`. This also creates the requirement that we have to duplicate our instructions and secret placement a

[2019-01-23 14:47] kargakis commented on #2672
I guess what we mainly need is enabling at least 2. in which case we move over the ci-operator config and templates while still keeping the prowjobs in the release repo for the automated tests to continue working appropriately.

[2019-01-23 15:43] stevekuznetsov commented on #2672
It's really never going to happen, I think. There's too much momentum and too much to gain from having it in one repo. Moving that for Prow would be a massive undertaking and I'm not even sure it will be allowed from a trust perspective upstream. Have you used the staging namespace? What is missing for your needs?

[2019-01-23 15:46] droslean commented on #2672
@stevekuznetsov Can this work if they enable the `config-updater` for their repo? I mean that of course, the `config-updater` won't find the paths that are meant to be for `release` repo. Will, that create any problem?

[2019-01-23 15:58] stevekuznetsov commented on #2672
So so so so many things about Prow and our config structure assume this will never happen. I really don't want to even consider the implications of trying to hack it together with something like `config-updater` instead of implementing it top-down correctly.

Again, I repeat:

If the goal is reproducible builds and dev debugging, have you all used the staging namespace? Will the rehearsals suffice

[2019-01-23 16:08] kargakis commented on #2672
I don't think we do but it doesn't sound like it would address any of the issues I am bringing up here. I can try spelling out our situation better:
1. Local testing of our e2es (`make e2e`) can only be done in our repo. Manually testing the e2e job, using the ci-operator image can only be done in `openshift/release`. Ideally, we want our developers to be familiar with both ways of running tests a

[2019-01-23 16:09] stevekuznetsov commented on #2648
We need to identify a run while in-progress or quickly after it fails and dump the events from the namespace, as mentioned on Slack.

/cc @smarterclayton

[2019-01-23 16:12] stevekuznetsov commented on #2672
Write a script that clones latest `openshift/release` to some temp location, cache it, and hide that from users?

Work with us to ensure our staging workflow works for you.

This is mostly self-inflicted. Can it be hidden?

[2019-01-23 16:15] kargakis commented on #2672
I guess caching release is an alternative solution, there is potential to improve our flows just by doing that.

@mjudeikis @charlesakalugwu

[2019-01-26 10:36] petr-muller commented on #2672
@stevekuznetsov , given `ci-operator` will probably never be used without files from `openshift/release`, maybe we could implement a helper option in `ci-operator` directly to fetch the config from there? All you would need to provide would be a repo, and perhaps allow to override org (default to openshift) and branch (default to master)... Could be useful for everyone.

[2019-01-27 16:53] stevekuznetsov commented on #2672
Sure, we could do that. Would need to add `git` to the `ci-operator` container image

[2019-01-28 19:52] bparees commented on #2070
@ironcladlou bump ^^

[2019-01-28 21:38] ramr commented on #2070
@bparees  yes, so if the router is up and servicing requests and is unable to get to the registry - pod doesn't exist/service doesn't exist etc, it would return a 503. Same's true if say the destination CA cert doesn't match for a re-encrypt route (aka it can't send a request to the-pod-backing-the-service).
In general, any errors the router talking to the service [pods] for the route, would manif

[2019-01-28 22:32] jim-minter opened #2723 "roll back #2721 after next release"
need to remember to roll back https://github.com/openshift/release/pull/2721 after next release, when the new branch has `make create` in it.

[2019-01-29 13:31] petr-muller commented on #2672
Or simply reach out to GH for a raw file via HTTP - it's not that GH is a wonderful file hosting service but it could suffice for fetching YAMLs.

[2019-01-29 13:31] danwinship commented on #2070
Right, because if the network was totally broken you'd get "can't connect" or "no route to host", but with a misconfigured MTU, you can successfully connect but then run into problems when the server tries to send a response containing a TLS certificate that's larger than 1500 bytes.

As long as all of the hosts in the cluster have the same MTU, we should be autodetecting it correctly; you can fin

[2019-01-29 15:26] stevekuznetsov commented on #2672
Would be worried about token usage on that, but we could do some math to see if it would work

[2019-01-29 15:27] stevekuznetsov commented on #2672
Oh, but it's on the user end. Could use unauthenticated API access and be fine

[2019-01-30 11:16] kargakis opened #2740 "pj-rehearse job looks broken"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_release/2739/pull-ci-openshift-release-master-pj-rehearse/377

/kind bug

@droslean

[2019-01-30 11:22] petr-muller commented on #2740
Needs https://github.com/openshift/release/pull/2649 to merge

[2019-01-31 13:35] cgwalters opened #2750 "create job to pull updated oscontainers"
We need a job which either pulls updated `machine-os-content` oscontainers, or the RHCOS stream does a push.

I think offhand the best approach would be for the release-controller phase to do it?

[2019-02-02 05:12] wking opened #2770 "CI tests fail with "Unable to load build details...""
/kind bug
/area test-execution
/area test-artifacts

This has the same symptoms as #1337, but only happens occasionally.  A random test will show up as "failed" in GitHub, and following the link to details gives you [this][1]:

[code]

@stevekuznetsov dug up a backing:

[code]

[1]: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_installer/1181/pull-ci-openshift

[2019-02-04 18:59] stevekuznetsov commented on #2770
This is likely CPU starvation on the upload process @smarterclayton

[2019-02-04 19:01] stevekuznetsov commented on #2648
@smarterclayton is this `ci-operator` artifacts nonsense?

[2019-02-04 22:14] smarterclayton commented on #2770
@sjenning is there someone from pod team who can look at how the cgroup is configured on these pods in 3.11 on the cluster and verify we’re not missing something fundamental?

[2019-02-05 15:16] sjenning commented on #2770
Not familiar with the CI pod or where it is defined.  Any help?

[2019-02-05 16:38] stevekuznetsov commented on #2770
@sjenning let's sync on this one -- example Pod YAML:

[code]

[2019-02-05 16:52] sjenning commented on #2770
Ah right so `initupload` container is running `BestEffort` i.e. makes no `cpu` `requests`.  This means that it gets the tiny crumbs of CPU left on the node under contention.

The best practice is to make pods `Burstable` by providing a `requests` but no `limits`.

I recommend:
- Remove the `limits` and add `memory` `requests` for the `test` container .  This will allow pods whose nodes have cpu av

[2019-02-06 06:17] smarterclayton commented on #2770
the pod should be burstable already

[2019-02-06 06:19] smarterclayton commented on #2770
every pod I'm aware of has at least one container with requests.  I did a visual pass and confirmed that as of two days ago.  it does seem possible that we might be starving, but those containers are bursty and usually run after the main, very highly leveraged container is done

[2019-02-06 16:50] smarterclayton commented on #2770
I'm testing without limits but with requests.

https://www.dropbox.com/s/d577ir1apfaybkj/Screenshot%202019-02-06%2011.38.28.png?dl=0

is incredibly suspicious (req 3 lim 7 pod)

[2019-02-06 19:44] #2770 closed

[2019-02-13 20:12] chancez opened #2848 "Support onboarding new repo to ci-operator via scaffolding"
/kind feature

It would be great if you could use ci-operator or another tool to scaffold out the files required to onboard a new repository. Currently it's somewhat difficult to find a good example to start from, and having it generated means we can always update the default files generated when best practices change.

CC @stevekuznetsov

[2019-02-13 20:13] chancez opened #2849 "Link to Gdoc for onboarding new component in CI operator"
/kind feature

https://docs.google.com/document/d/1SQ_qlkcplqhe8h6ONXdgBr7YUVbs4oRSj4ISl3gpLW4/edit# should be linked to in the README, or the content should be moved into the ci-operator README.

CC @stevekuznetsov

[2019-02-19 10:04] mjudeikis commented on #2608
yes, it might be :/
we seen less of these so closing. But we suspect this is lb config and how it handles long hanging tcp sessions
/close

[2019-02-19 10:04] #2608 closed

[2019-02-19 10:04] mjudeikis commented on #2571
/close

[2019-02-19 10:04] #2571 closed

[2019-02-19 10:07] mjudeikis opened #2904 "always_run ignored on existing PR's"
Each time we merge  `optional: true` and `always_run: false` jobs, it triggers them on all PR.
In example this got merged:
https://github.com/openshift/release/commit/1ef240f5c077d15fb7af795b1f133a0fb962adb6

And now all PR's got:
![image](https://user-images.githubusercontent.com/3225744/53006906-1bbcaa80-342e-11e9-909c-7c7669512c4c.png)

/kind bug

[2019-02-19 10:43] wking opened #2905 "release-latest registry.svc.ci.openshift.org/ci-op-hdsq08kg/stable@sha256:...: 504 Gateway Time-out"
/kind bug
/area test-execution

## What did you expect to happen?

A successful e2e-aws run.

## What happened?

From [the build log][1] of an openshift/installer#1163 run:

[code]

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/1163/pull-ci-openshift-installer-master-e2e-aws/3905/build-log.txt

[2019-02-19 10:47] wking commented on #2905
Same issue over [here][1].

[1]: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_hive/222/pull-ci-openshift-hive-master-e2e/97

[2019-02-19 11:15] droslean commented on #2905
It seems that `stable` imagestream wasn't even created in the temporary namespace. I'll take a look.

[2019-02-19 11:43] petr-muller commented on #2904
Looks like a bug in the reconciler.

/cc @stevekuznetsov

[2019-02-19 11:45] mjudeikis commented on #2904
It does not do this for new PR's just for existing :/

[2019-02-19 11:55] petr-muller commented on #2904
Yeah, that's what status reconciler does - it watches changes in job configuration and propagates them to existing PRs - triggers newly added jobs, retires contexts of those removed, etc. Here it seems to be triggering some jobs that should not be triggered.

[2019-02-19 13:51] droslean commented on #2905
Same issue with the namespaces that `stable` imagestream exists. Syncing with registry team, the issue should be that the registry is trying to pull from itself, and it creates a neverending loop.

[2019-02-19 15:00] stevekuznetsov commented on #2904
This should have been fixed.... And this issue is a dupe of another from Michalis

[2019-02-19 15:11] mjudeikis commented on #2904
We saw this morning. Any chance this is not rolled out? Michalis who? :)

[2019-02-19 19:21] stevekuznetsov commented on #2904
Fixed by https://github.com/kubernetes/test-infra/pull/11369

[2019-02-20 11:10] hexfusion opened #2913 "question: release image version bump"
The etcd image Dockerfiles do not properly add the client binary etcdctl. I am about to commit the changes to https://github.com/openshift/etcd/tree/openshift-4.0 branch. My question is how do we handle the image bump with regards to versioning? Does this change just get pulled in or do we need to version the change with a version bump in the config?

https://github.com/openshift/release/blob/mast

[2019-02-20 11:21] bbguimaraes commented on #2913
Simply merge to master, that is going to trigger this job:

https://deck-ci.svc.ci.openshift.org/?job=branch-ci-openshift-etcd-openshift-4.0-images

It will build the image and push it to the CI registry. The release payload will also be updated to include it.

[2019-02-20 12:02] hexfusion commented on #2913
@bbguimaraes thanks for the quick reply.

[2019-02-20 12:02] #2913 closed

[2019-02-25 09:50] droslean commented on #2905
/close

The issue was resolved. Related [PR](https://github.com/openshift/image-registry/pull/161). Ci cluster's registry has already been patched.

[2019-02-25 09:50] #2905 closed

[2019-02-28 19:21] kikisdeliveryservice opened #2980 "Update MCO owners to include MCO team on PRs"
As brought to my attention in a recent PR #2975 the MCO Owners are out of date and not pinging the current members of the MCO team.

These two files are out of date:
https://github.com/openshift/release/blob/master/ci-operator/config/openshift/machine-config-operator/OWNERS
https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/machine-config-operator/OWNERS

Can you please ad

[2019-02-28 20:04] stevekuznetsov commented on #2980
Those configurations are for teams to self-manage -- please update the files at your discretion and submit a PR.

[2019-02-28 20:40] kikisdeliveryservice commented on #2980
will do, thanks @stevekuznetsov !

[2019-03-06 12:28] hexfusion opened #3013 "question: config nesting clarification"
question: `github.com/openshift/kubecsr` has 3 separate binary deliverables.

* kube-aws-approver
* kube-client-agent
* kube-etcd-signer-server

It was unclear from the my reading of the docs if the below was valid. Nesting multiple separate images under the repo name.

[code]

Or does this require a separate base directory for each such as

[code]

/kind question

[2019-03-06 12:29] hexfusion commented on #3013
To be clear each package has its own Dockerfile in the same repo.

[2019-03-06 12:55] petr-muller commented on #3013
Building multiple images from a single repo is achieved *inside* the ci-operator config file, see e.g. the [openshift/origin one](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/origin/openshift-origin-master.yaml#L27)

So you should have this file structure:

[code]

and inside the file multiple items in the `images:` list

[2019-03-06 17:40] hexfusion commented on #3013
@petr-muller thanks a lot

[2019-03-06 17:40] #3013 closed

[2019-03-06 19:52] #2980 closed

[2019-03-12 15:12] gabemontero opened #3074 "api.ci setup blocking openshift/jenkins PR image building"
/kind bug

/area test-execution

The last successful openshift/jenkins ci/prow/images build was https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/814/pull-ci-openshift-jenkins-master-images/100

Something changed, apparently with mirrors for yum installs, since then on api.ci

Now all openshift/jenkins PRs are failing with

[code]

the last run from https:

[2019-03-12 15:29] bparees commented on #3074
@stevekuznetsov @smarterclayton

[2019-03-12 20:37] stevekuznetsov commented on #3074
/assign @smarterclayton

[2019-03-13 00:29] smarterclayton commented on #3074
Where is dumb-init coming from?

[2019-03-13 00:56] gabemontero commented on #3074
We've been installing it since 3.9 @smarterclayton

When we dropped it in via https://github.com/openshift/jenkins/pull/422, we did not have to add any new repos in the Dockerfile.rhel7 in order to pull it in.

And the discussion in the PR talks about it being in copr.

So simplistically, it is in rhel7.

Also found this old email thread where the dude tells us he added it to copr:  https://lists.

[2019-03-13 01:37] smarterclayton commented on #3074
Everything passes for me.  I can repeatably build master and publish as
prow jobs.

On Tue, Mar 12, 2019 at 8:56 PM Gabe Montero <notifications@github.com>
wrote:

[2019-03-13 01:40] smarterclayton commented on #3074
Also, why are you installing the openshift clients RPM?  you should already
be based on the CLI image.

On Tue, Mar 12, 2019 at 9:37 PM Clayton Coleman <ccoleman@redhat.com> wrote:

[2019-03-13 03:31] gabemontero commented on #3074
Yep the image build is now passing again in https://github.com/openshift/jenkins/pull/816 after at least 12 failures over 24 hours based on https://openshift-gce-devel.appspot.com/pr/openshift_jenkins/816

thanks @smarterclayton for whatever fix you introduced (or if you simply looking at this chased away whatever flake was occurring ... couldn't tell from https://github.com/openshift/release/issu

[2019-03-13 03:31] #3074 closed

[2019-03-13 15:33] rogbas opened #3091 "Problem building image for new component - not enough info to troubleshoot"
/kind bug

## What did you expect to happen?
A new ci job configuration was added for a new operator (**openshift/dedicated-admin-operator**), that will be used by the **Managed Openshift services (Dedicated/Online/Pro)**. As part of the automatic PR checks, the image building process is failing.
PR: https://github.com/openshift/release/pull/3047

## Current config file (after changes suggested on

[2019-03-13 15:40] jewzaam commented on #3091
@jeremyeder FYI

[2019-03-13 18:41] stevekuznetsov commented on #3091
Hrm -- this might be a misunderstanding with how builds work? You're getting all the logs from the docker build in the output of the job. Your Dockerfile is failing on [this](https://github.com/openshift/dedicated-admin-operator/blob/5f4afa4fbae953c58dcb0a3a5bb9b6e51fb74484/build/Dockerfile#L7) line -- you never mount in the binary you need into the container image build. Your build is `from: base

[2019-03-13 20:53] smarterclayton commented on #3091
Multistage is required if you don't want a giant image with your build tools.

[2019-03-13 20:53] smarterclayton commented on #3091
I would recommend multistage instead of injecting contents, but it's not the end of the world.

[2019-03-13 22:42] stevekuznetsov commented on #3091
@smarterclayton can you please link to an example of the multistage pattern?

[2019-03-13 22:46] rogbas commented on #3091
RE the multi staged Dockerfile, we are considering using something like the snippet below, would be nice if you could provide some feedback:

[code]

[2019-03-20 14:27] gabemontero opened #3164 "more api.ci mirror paing blocking openshift/jenkins PR image building #3074"
/kind bug
/area test-execution

very similar to https://github.com/openshift/release/issues/3074 there appear to be problems with the rpm mirroring employed by api.ci that is affecting the openshift/jenkins image builds

see https://github.com/openshift/jenkins/pull/817 and the last run https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/817/pull-ci-openshif

[2019-03-21 15:05] gabemontero commented on #3164
the mirrors have reconciled

[2019-03-21 15:05] #3164 closed

[2019-03-26 12:29] danwinship opened #3238 "e2e-aws-upgrade doesn't get early logs"
e2e-aws-upgrade appears to share its artifact-gathering logic with the other tests, but it does a bunch more reboots and restarts of things, and so as a result many of the logs from before the upgrade started don't get gathered, making it hard to understand what was going on afterward in some cases

eg, in https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/release-openshift-origin-i

[2019-03-28 12:20] tnozicka commented on #1584
@mfojtik seen it here today https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_api/267/pull-ci-openshift-api-master-verify/548

[2019-03-28 12:23] tnozicka commented on #1584
(That job was using `cp -a` as well https://github.com/openshift/api/blob/80eef12477e5367bfe16a17731bc5fbf80a09e74/hack/verify-protobuf.sh#L17)

[2019-04-05 10:11] vdemeester opened #3364 "ci-operator: support for "dynamic" branches"
/kind question

Discussed with @pmorie earlier this week, one thing we end up creating a pull-request to enalbe CI on each new release branches on, for example, `knative` components (see https://github.com/openshift/release/pull/3342).

I was wondering if it would be possible (somehow) to support smarter patterns for those, like for example any branches that has satisfies the following regexp `rel

[2019-04-05 14:19] stevekuznetsov commented on #3364
Prow allows scheduling jobs on branch regex but what we saw in the past was that without fail jobs went stale, config rotted and nobody forked jobs when they needed to. Forking preemptively fixes that. How often do you create release branches? To regenerate jobs you just copy paste the ciop config right? How much work is it?

[2019-04-05 14:21] stevekuznetsov commented on #3364
Also I'll say you're hitting this as you don't follow the common branching patterns, those repos get branches and ci automatically. Maybe we could make those tools useful for you too and reduce workload.

[2019-04-05 14:37] vdemeester commented on #3364
@stevekuznetsov good points (on config rotted, etc..). I think it's manageable :wink: I was just wondering.

I'm interested in that :angel:

[2019-04-05 19:55] stevekuznetsov commented on #3364
Let me finish up the work for branching etc and I will publish docs on how it's set up.

[2019-04-14 21:21] #2723 closed

[2019-04-14 21:22] #1618 closed

[2019-04-23 10:23] arocki7 commented on #633
We are having the same issue. We are at 3.11.

[2019-04-30 20:28] gabemontero opened #3647 "3.11 e2e-gcp tests seem to be skipping *ALL* the ginkgo suites"
/kind bug
/kind question

/area test-execution

## What did you expect to happen?

I expected these tests:

[code]

to have been run, and see some confirmation of that in both https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/844/pull-ci-openshift-jenkins-openshift-3.11-e2e-gcp/47 and https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_jen

[2019-04-30 22:56] stevekuznetsov commented on #3647
@smarterclayton

[2019-04-30 22:57] stevekuznetsov commented on #3647
Those tests have

[code]

[2019-05-01 13:23] gabemontero commented on #3647
hmmmm .... it is suppose to be https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/jenkins/openshift-jenkins-openshift-3.11-presubmits.yaml#L31-L36

[code]

[2019-05-02 22:16] hexfusion opened #3675 "Running tests that require kubeconfig and s3 bucket"
I am trying to get etcd-operator into release and I have a question with regards to testing. To run the test suite the script needs access to KUBECONFIG and an s3 bucket via aws secret.

https://github.com/coreos/etcd-operator/blob/master/hack/test

What would be the best approach here?

[2019-05-02 22:19] stevekuznetsov commented on #3675
If you add a test stanza like this:

https://github.com/openshift/release/blob/b05852c0f7cf57b11be737f433fc1f4d8cf80be1/ci-operator/config/openshift/ansible-service-broker/openshift-ansible-service-broker-master.yaml#L67-L73

Your test runs with a `$KUBECONFIG` pointing to the test cluster created for your job and in AWS.

[2019-05-02 22:20] hexfusion commented on #3675
perfect thanks @stevekuznetsov

[2019-05-02 22:20] #3675 closed

[2019-05-03 00:10] stevekuznetsov commented on #3647
Not sure -- @smarterclayton can you advise

[2019-05-03 00:10] stevekuznetsov commented on #3647
@gabemontero you can open a PR to change it and the rehearsals should test it for you

[2019-05-03 01:31] gabemontero commented on #3647
sorry @stevekuznetsov - change what exactly ?

[2019-05-03 01:40] stevekuznetsov commented on #3647
The TEST_COMMAND from the value it is today to what you linked instead?

[2019-05-03 01:56] gabemontero commented on #3647
ok but *where* do I make that change @stevekuznetsov ?

I thought the fact I had it like that in the 3.11 presumit was what was required?  which other file do I need to update ?

[2019-05-03 01:58] gabemontero commented on #3647
you mean change the template at https://github.com/openshift/release/blob/master/ci-operator/templates/openshift/openshift-ansible/cluster-launch-e2e-openshift-jenkins.yaml#L256 and make it what is listed in the presubmit ?

[2019-05-03 13:12] gabemontero commented on #3647
wait ... or are you saying open a dummy PR and use the rehearsal jobs to help debug @stevekuznetsov ?

(sorry if I'm dense wrt this stuff)

[2019-05-03 14:46] stevekuznetsov commented on #3647
I pulled my link from `ci-operator/jobs/openshift/origin/openshift-origin-release-3.11-presubmits.yaml` -- I would imagine if the Origin 3.11 jobs do run the correct tests and the Jenkins ones do not, then yes let's make the templates in sync and correct the command for the Jenkins jobs

[2019-05-03 17:37] gabemontero commented on #3647
10-4 I'll do a diff on the base template and the jenkins snowflake template and report back

And then if need be compare presubmits/postsubmits with a functional 3.11 repo

[2019-05-06 15:47] LorbusChris commented on #1584
Hitting this here: https://github.com/openshift/api/pull/301

[2019-05-06 21:06] gabemontero commented on #3647
@stevekuznetsov - after a few debug runs, I see the call to ginkgo occurring as I would expect, with `TEST_FOCUS` and `TEST_PARALLELISM` getting their values from the presubmit as I would expect.

However, that call to `ginkgo` simply does not execute any tests.

I then went back and looked at a recent openshift/origin 3.11 PR I had ... https://github.com/openshift/origin/pull/22623

In there, I s

[2019-05-06 21:33] gabemontero commented on #3647
Found this nugget:  https://github.com/openshift/origin/blob/release-3.11/test/extended/setup.sh#L7-L9

[code]

And have changed the template to use `-focus` vs. `--ginkgo.focus` ... we'll see what happens ...

[2019-05-09 06:50] #3647 closed

[2019-05-14 01:12] chancez commented on #3364
I'd be interested in this too. Part of the need stems from the rebase workflow of taking an upstream release and applying our changes on top. I don't see how CI could create these branches for us automatically so I don't really think your proposed idea would work for us.

We do plan to keep creating branches for each upstream release however, the biggest problem is I'm not really sure how these br

[2019-05-14 02:09] stevekuznetsov commented on #3364
Yeah, we need to hash out a design for forks. I might try to write some ideas up and get feedback soon, was focused on the non-fork branching recently.

[2019-05-14 17:20] chancez commented on #3364
I'm also realizing, ART is likely to have to handle this also right? Need to include them in the discussion as well.

[2019-05-18 10:19] matzew opened #3834 "knative mirror job not working ?"
/kind question

It seems that we have no working image mirror job for our knative images.
They are configured here:

* https://github.com/openshift/release/blob/master/cluster/ci/jobs/image-mirror.yaml#L331-L377

and the "mapping" file is here:

* https://github.com/openshift/release/blob/master/cluster/ci/config/mirroring/knative/knative_v0_6_quay

Is it possible that we lack some hook here:

* h

[2019-05-18 10:19] matzew commented on #3834
@petr-muller do you have an idea ?

[2019-05-18 10:28] matzew commented on #3834
the images are actually in the `registry`.

For instance:

[code]

gives me:
[code]

[2019-05-20 14:04] matzew commented on #3834
Do we need something in here, for the knative bits:
https://github.com/openshift/release/blob/master/Makefile#L272-L274

[2019-05-20 14:38] petr-muller commented on #3834
I don't think you need anything around https://github.com/openshift/release/blob/master/Makefile#L272. I'm looking at the cluster and I do not even see `image-mirror-knative-v0.6-quay` CronJob there (there are ones for 0.4 and 0.5 though). So the reason why the images do not get publishes is that the cronjob does not even exist.

Our postsubmit calls the `postsubmit-update` make target, but this t

[2019-05-20 17:25] petr-muller commented on #3834
/reopen

Merging https://github.com/openshift/release/pull/3843 created the cronjob but it seems to be failing, I do not know why yet.

[2019-05-21 00:03] stevekuznetsov commented on #3834
Why are the CronJobs not in separate namespaces like we originally intended? I want the knative team to be able to debug this end-to-end

[2019-05-21 06:53] matzew commented on #3834
Ok, what's needed in order to change that - I think I do lack understanding of what actually needs to be done in order to fix it

[2019-05-22 09:40] petr-muller commented on #3834
So the reason whe CronJobs are failing is likely this:

1. The jobs [need](https://github.com/openshift/release/blob/master/cluster/ci/jobs/image-mirror.yaml#L376) a `/etc/imagemirror/knative/knative_v0_6_quay` file
2. `/etc/imagemirror` is a [mount](https://github.com/openshift/release/blob/master/cluster/ci/jobs/image-mirror.yaml#L367) of the [image-mirror](https://github.com/openshift/release/b

[2019-05-22 10:55] matzew commented on #3834
OK, will take a look - thanks!

[2019-05-22 19:27] adambkaplan opened #3864 "ci-operator/populate-owners fails"
/kind bug

## What did you expect to happen?
ci-operator/populate-owners.sh succeeds

## What happened?
Failed:
[code]

I believe the azure-misc repo has been deleted.

## How can the error be reproduced?
Run populate-owners.sh

## Is there anything else we need to know?
No.

[2019-05-22 19:28] stevekuznetsov commented on #3864
Can you just delete all the files referencing that repo?

[2019-05-22 19:46] adambkaplan commented on #3864
I'll add it to my PR to fix openshift/library

[2019-05-22 20:49] adambkaplan opened #3867 "ci-operator/populate-owners hits Github rate limits"
/kind question

## What did you expect to happen?

`ci-operator/populate-owners.sh` downloads are not throttled.

## What happened?

Downloads get throttled - the populate-owners.sh script eventually encounters a 403, then does very slow clones to extract the owners file for the respective repo.

Can we provide an API token so we don't get throttled?

## How can the error be reproduced?

Run ci-op

[2019-05-23 15:27] stevekuznetsov commented on #3867
We could, but it's maybe a bit overkill?

[2019-05-28 09:59] #3864 closed

[2019-06-03 09:21] #3834 closed

[2019-06-04 11:28] matzew commented on #3834
@petr-muller is there more to it?  I did not see a push this night

that said: we had to (before) push some images manually... but IMO that should not make a difference

[2019-06-05 11:57] petr-muller commented on #3834
@matzew Looks like you still pass `-f=/etc/imagemirror/knative/knative_v0_6_quay` to the `oc image mirror` command. `/etc/imagemirror` is a mount of the `knative-image-mirror` CM, so its items will be in that directory, not in the `knative` subdir:

[code]

So either fix the path of mount the CM as `/etc/imagemirror/knative`.

FWIW, I did an experiment and instantiated a CM from the fixed-up versi

[2019-06-10 16:46] stevekuznetsov opened #4020 "foobar"
/kind bug
/kind question

/area labels

/area comments

/area test-execution

/area test-artifacts

/area test-results

/area webpages

## What did you expect to happen?

## What happened?

## How can the error be reproduced?

## Is there anything else we need to know?

[2019-06-10 16:46] stevekuznetsov commented on #4020
/retitle foo

[2019-06-10 16:47] petr-muller commented on #4020
/cat no

[2019-06-10 16:49] droslean commented on #4020
[code]

[2019-06-10 16:50] stevekuznetsov commented on #4020
yeah im reading it

[2019-06-10 17:41] stevekuznetsov commented on #4020
/retitle foobar

[2019-06-10 17:41] stevekuznetsov commented on #4020
:tada:

[2019-06-10 17:45] stevekuznetsov commented on #4020
/close

[2019-06-10 17:45] #4020 closed

[2019-06-20 16:00] bparees opened #4124 "job artifacts show .log extension but are .gz"
/kind bug
/area test-artifacts

The .log files located here:
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-upgrade/2640/artifacts/e2e-aws-upgrade/container-logs/

are actually .gz files upon download.  Can we either get them to have the proper extension or make them not gzipped?  The current experience is confusing.

[2019-06-20 16:01] bparees commented on #4124
/cc @stevekuznetsov @wking

[2019-06-20 16:10] stevekuznetsov commented on #4124
@smarterclayton do you remember what the bug here was? we chased it but I forgot ...

[2019-06-20 20:24] wking commented on #4124
openshift/release-controller#99 was the most recent attempt to fix `/logs/`, and links out to earlier steps.

[2019-06-20 21:05] stevekuznetsov commented on #4124
Are we running an old version of the release controller? @smarterclayton what's deployed?

[2019-06-21 15:23] ehashman commented on #3864
This repo is not deleted, it's private. I guess this PR explains why merges stopped working a few weeks ago.

[2019-06-25 16:53] smarterclayton commented on #4124
HEAD of master.

On Thu, Jun 20, 2019 at 5:05 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2019-07-11 18:28] zvonkok opened #4352 "Unable to create release cluster-nfd-operator"
/kind question

/area test-artifacts

## What did you expect to happen?

Tests
[code]
to run successfully.

## What happened?
The `ci/prow/images` and the other tests exits with the following log:

[code]
Where is `cluster-nfd-operator/nfd.package.yaml` coming from? Is it autogenerated?
What manifests are expected here?

## How can the error be reproduced?
Triggering a test on cluster-nfd-operator

[2019-07-11 19:59] droslean commented on #4352
Well, It seems that the image `support-operator` is corrupted in some way.

The config in `cluster-nfd-operator` repo is using the `4.2` imagestream in `ocp` namespace. ref: [here](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-master.yaml#L26-L28)

Also I can see in the configs, that the `promotion` of this image i

[2019-07-11 20:04] zvonkok commented on #4352
It was disabled on purpose, because the current master promotes to 4.2 as discussed here: https://github.com/openshift/release/pull/4304#discussion_r301201902

[2019-07-11 20:52] droslean commented on #4352
@zvonkok I am talking about the `support-operator` promotion, [here](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/support-operator/openshift-support-operator-release-4.2.yaml#L18)

[2019-07-12 08:28] petr-muller commented on #4352
Same thing applies though, **all** masters  are promoting to 4.2 and promotion is disabled on 4.2 branches everywhere.

[2019-07-12 08:42] petr-muller commented on #4352
@zvonkok Looks like this file https://github.com/openshift/cluster-nfd-operator/blob/master/controller-manifests/nfd.package.yaml present in your image somehow interferes with the way how the release is created (`oc adm release` command inside ci-operator). I don't know what that file is, but `oc adm release` expects it to contain API objects.

[2019-07-12 12:42] zvonkok commented on #4352
I am following the doc: "Red Hat Operators - Productization Docs - Part 1", the `contoller-manifest`  folder contains the CSVs, CRDs, and package manifest files (nfd.package.yaml) for OLM.

Why does `oc adm release` expects the this specific file contains API objects? A yaml or json file could be configuration file, like in this case ...

[2019-07-12 13:17] petr-muller commented on #4352
I don't know. We don't own `oc adm release`. Not sure who does, though. Might be worth asking on `#4-dev-triage` channel on Slack.

[2019-07-12 14:13] saschagrunert opened #4363 "AMI job `ami_build_origin_int_rhel_crio` fails"
/kind bug

## What did you expect to happen?

After the merge of https://github.com/cri-o/cri-o/pull/2567 I would expect that the image rebuilds sucessfully, like for fedora.

## What happened?

The build failed, like here:
https://ci.openshift.redhat.com/jenkins/view/AMIs/job/ami_build_origin_int_rhel_crio/678/console

## How can the error be reproduced?

I think the next periodic builds will fai

[2019-07-12 15:49] smarterclayton commented on #4352
NFD isn’t part of the payload, so if you are causing failures that means you’ve done something wrong.  Please speak with your group lead about the right thing to do here

/hold

[2019-07-12 16:51] zvonkok commented on #4352
If I remove the controller-manifests the all tests pass.

[2019-07-12 17:49] saschagrunert commented on #4363
I think this can be closed now since it builds successfully

[2019-07-12 17:49] #4363 closed

[2019-07-15 14:53] zvonkok commented on #4352
Comparing my tests and config with cluster-logging-operator I do not see major differences in the  test-confgs or how manifests for OLM are handled.

I see that cluster-logging-operator is not creating the complete release payload with all cluster operators.
Is there I am something obvious missing in configuring the ci-operator jobs?

[2019-07-16 18:46] zvonkok commented on #4352
The error was that I had two conflicting labels in my Dockerfile:
[code]
after removing the first the tests pass successfully.

@petr-muller  thanks for helping out.

[2019-07-16 18:46] #4352 closed

[2019-08-29 17:38] cgwalters opened #4892 "Consider creating a "ci-dev.openshift.org" cluster"
Today, "api.ci" AKA https://api.ci.openshift.org/ is fairly critical infrastructure.  It manages tests and generates release images for the primary OpenShift release to customers (in concert with separate behind-the-RHT-firewall infrastructure).

However, there are also a number of other CI-related flows that occur on this cluster, from Prow/ci-operator driven tests of pull requests from external

[2019-08-29 17:39] cgwalters commented on #4892
Alternatively of course for now we could just add `RunAsUser: 0` to the `coreos` namespace (where I'm trying to move our projects).

[2019-08-29 17:41] stevekuznetsov commented on #4892
I think we do not want to support root containers in test jobs but if they are carefully curated things in a project it can be permissible. I don't think DPTP can handle the operational burden of running two clusters, unfortunately.

[2019-08-29 17:43] cgwalters commented on #4892
A lot of the idea behind 4.x is that it's a self-driving cluster remember!  If running it's a burden, that's a bug!

[2019-08-29 17:48] stevekuznetsov commented on #4892
When we fire the ops and SRE teams, let me know :)

[2019-08-29 18:09] cgwalters commented on #4892
For reference this is for https://github.com/openshift/release/pull/4880

Now...the CoreOS group also has resources in [CentOS CI](https://console.apps.ci.centos.org:8443/console) which is both bare metal and has granted us a `0` SCC (though not privileged note).  (The RHCOS team also has internal resources but that has the "behind the firewall problem".

I think any path we take will involve fede

[2019-09-12 14:32] stevekuznetsov opened #5000 "boskos: leasing interactions don't pass the cluster name sometimes"
[code]

We always use `--owner-name "${CLUSTER_NAME}"` and I don't understand how we successfully pass that to the `boskosctl acquire` but not `boskosctl release`.

@openshift/openshift-team-developer-productivity-test-platform

[2019-09-16 20:14] cgwalters commented on #4892
OK, I wrote this doc:  https://github.com/coreos/coreos-assembler/blob/master/doc/openshift-gcp-nested-virt.md

Here's my new request:

- DPTP stands up cluster in GCP, follows the above doc to enable nested virt.  Call this the "ci-dev" cluster, or maybe someone will come up with a better name.
- DPTP sets up glue in this repository that updates that cluster; something like a `cidev/projects` sub

[2019-09-16 22:04] stevekuznetsov commented on #4892
A federated build cluster where nested virt and general privileged pods are allowed SGTM. When we do the work to get us using federation, this is a great idea.

[2019-09-16 22:04] stevekuznetsov commented on #4892
/assign

[2019-09-16 22:05] cgwalters commented on #4892
Let's not call them "privileged", rather "uid 0 containers"... see also https://lwn.net/Articles/796700/ and my reply: https://lwn.net/Articles/796885/

[2019-09-16 22:07] cgwalters commented on #4892
(In Kubernetes/OpenShift terms, `runAsUser: 0`, not `privileged: true`)

[2019-09-17 01:06] cgwalters commented on #2750
This is long obsolete.

[2019-09-17 01:06] #2750 closed

[2019-10-08 20:45] cgwalters commented on #4892
Steve are you actively working on this?  Do you have any idea of a timeframe?  Anything I can do to help?  I know DPTP has a ton going on.

In the short term, I am going to experiment a bit with doing this myself.  Today I:

 - Stood up a 4.2 cluster in GCP called `coreosci` and did the nested virt setup.
 - Put the admin kubeconfig for it in the `coreos` namespace in api.ci
 - Created a `coreos-p

[2019-10-08 22:36] stevekuznetsov commented on #4892
Let's sync over video Thursday? (I'm out tomorrow)

[2019-10-09 00:00] cgwalters commented on #4892
Sure, SGTM; feel free to pick an open time.  Morning EST is a bit easier.

[2019-10-16 13:21] cgwalters commented on #4892
OK, we have [a secret that should allow scheduling pods](https://github.com/openshift/release/pull/5440) set up.

@stevekuznetsov do you think you'd have some time to help me get a basic Prow job set up that spawns a pod in the coreosci cluster going?  I've read through the Prow docs some but I'm not seeing how to point it at a separate cluster.

[2019-10-17 15:07] cgwalters opened #5489 "onboard whole containers/ Github organization"
Let's onboard the whole containers/ Github organization to Prow.  We have moved a few repos there recently and it's just easier not to reference them individually.  Also it reduces friction adding new repos, etc.

See: https://github.com/projectatomic/papr/issues/105
See: https://url.corp.redhat.com/openshift-prow-onboard

[2019-10-17 19:39] cgwalters opened #5499 "https://github.com/openshift/release/blob/master/services/coreos/admin_group.yaml missing"
We're missing https://github.com/openshift/release/blob/master/services/coreos/admin_group.yaml
I think a cluster admin needs to run `make services-admin`?  Is there no automation for that?

[2019-10-17 20:03] stevekuznetsov commented on #5499
We try not to have admin level credentials mutating the cluster in automated jobs, so yes that's manual on purpose.

[2019-10-18 16:16] cgwalters commented on #4892
Steve says:

So I need to figure that out.

[2019-10-18 21:09] stevekuznetsov commented on #4892
/cc @hongkailiu

[2019-11-11 16:08] miabbott opened #5853 "[RFE] Add FIPS tests to inform the 4.3 promote job"
(Not sure if this is the best place to track this, but going to start here)

To ensure that the FIPS enablement work does not regress, we would like to add a test that runs the OpenShift installer with FIPS enabled to the job that promotes the 4.3 `machine-os-content`

I believe the job in question is `release-promote-openshift-machine-os-content-e2e-aws-4.3` and we need a set of tests to validate

[2019-11-11 16:11] cgwalters commented on #5853
Hmm, if I understand correctly this is already covered by
https://prow.svc.ci.openshift.org/job-history/origin-ci-test/logs/release-openshift-ocp-installer-e2e-aws-fips-4.3
(Click on the `aws-fips` link from https://openshift-release.svc.ci.openshift.org/ on the 4.3 art stream)

This job is recently green...so I think the task is to figure out whether this is actually correctly passing now.

[2019-11-11 16:12] cgwalters commented on #5853
The machine-os-content promotion job is important though in ensuring that e.g. `cri-o` updates land in the release which is then tested by `aws-fips`.

[2019-11-11 16:14] vrutkovs commented on #5853
machine-os-content promotion in 4.3 has been disabled temporarily due to OKD-on-FCOS work. Once it goes green its just a matter of:

a) creating a new release:
   https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/release/openshift-release-release-4.2-periodics.yaml#L154-L164

b) running necessary tests - both fips and upgrade I assume?
   https://github.com/openshift/rele

[2019-11-13 22:10] hongkailiu commented on #4892
Starting point ... no hurry though :)
https://github.com/openshift/release/pull/5847

[2019-11-15 18:44] cgwalters commented on #5853
Wait whaa?  https://prow.svc.ci.openshift.org/?job=release-promote-openshift-machine-os-content-e2e-aws-4.3 seems fine.  Why would OKD have disabled this?

[2019-11-18 11:52] vrutkovs commented on #5853
It does work now, but it hasn't been re-enabled since then. We'll look into this soon

[2019-11-18 16:11] hongkailiu opened #5972 "tot reports err: unsupported protocol scheme"
/kind bug

/area comments

prow/tot

## What happened?

[code]

## How can the error be reproduced?

## Is there anything else we need to know?

[2019-11-18 22:44] stevekuznetsov opened #5989 "templates: rehearsing e2e templates does not work"
I add a new configuration for a repo:

[code]

The rehearsal for my new e2e [fails](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/5987/rehearse-5987-pull-ci-openshift-ci-secret-mirroring-controller-master-e2e-aws-build01/1#1:build-log.txt%3A19):

[code]

/assign @smarterclayton
/cc @sallyom @hongkailiu

[2019-11-19 10:21] bbguimaraes commented on #5989
Building the graph should not have succeeded, but the problem there is the `ci-operator` configuration file does not have a `tag_specification`:

https://prow.svc.ci.openshift.org/prowjob?prowjob=ab33cfc4-0a52-11ea-8c4f-0a58ac106e96

[2019-11-19 12:16] stevekuznetsov commented on #5989
Ah. We should update ci-op to catch this in static validation at graph build time.

[2019-11-20 10:47] #5853 closed

[2019-11-22 16:24] bbguimaraes commented on #5972
This seems to always happen after processing a rehearsal:

<details>

[code]

</details>

[2019-11-22 16:49] stevekuznetsov commented on #5972
That makes sense, those jobs don't actually exist in the system so `tot` doesn't know about them. Quickly looking through the `tot` code it's fairly unable to handle the case where an HTTP request comes in that is for an invalid job and it seems unimportant to refactor that. Upstream has removed `tot` and we should likely be able to in the future, too. We should ignore this error.

[2019-11-25 07:26] prietyc123 opened #6056 "registry.redhat.io looking for authentication for images like openjdk-11-rhel8:latest"
/kind bug
/kind question

[code]
For more details check https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2402/pull-ci-openshift-odo-master-v4.1-integration-e2e-benchmark/41#1:build-log.txt%3A22549

## What did you expect to happen?

I was trying to pull and tag the image ```openjdk-11-rhel8:latest``` to my test script on prow and did not execute successfully. I

[2019-11-25 16:25] stevekuznetsov opened #6063 "error executing URL template: template: JobURL:1:425: executing \"JobURL\" at \u003c.Spec.Refs.Repo\u003e: nil pointer evaluating *v1.Refs.Repo"
[code]

---

This error occurs because our URL template does not correctly handle periodic jobs with no repository set. It is benign and should be ignored.

[2019-11-25 16:25] stevekuznetsov opened #6064 "openshift/tektoncd-catalog=release-next has required jobs but has protect: false"
[code]

---

This is benign and should be ignored. An upstream PR attempts to fix this by logging only once https://github.com/kubernetes/test-infra/pull/13926 deployed in https://github.com/openshift/release/pull/6052

[2019-11-25 16:27] stevekuznetsov opened #6065 "no available resource vsphere-quota-slice, try again later."
[code]

---

This happens when the lease server is out of resources and is part of normal operation. This should not be logged at an error level. https://github.com/kubernetes/test-infra/issues/15382

[2019-11-25 16:27] stevekuznetsov opened #6066 "Get : unsupported protocol scheme \"\""
[code]

---

This error occurs when a rehearsal job tries to get a new job number. It is benign and should be ignored.

[2019-11-25 16:27] stevekuznetsov opened #6067 "owner mismatch request by , currently owned by ci-op-43lj201d-b88d6"
[code]

---

This is caused by a heartbeat request being sent to `boskos` after a release request has succeeded. This is due to an upstream bug on timing. @bbguimaraes could you please create and link the upstream bug here?

[2019-11-25 16:30] stevekuznetsov commented on #6067
The error is also wrong as it's backwards ... fixed by https://github.com/kubernetes/test-infra/pull/15383

[2019-11-25 16:30] stevekuznetsov opened #6069 "owner mismatch request by ci-op-s2wrqhqb-24dfe, currently owned by ci-op-dikv3mp0-67021"
[code]

---

This seems wrong, and might need to be investigated, but it could stem from the same timing issues @bbguimaraes noticed.

[2019-11-25 16:31] stevekuznetsov opened #6070 "failed to get reader for GCS object: storage: object doesn't exist"
[code]

---

This happens when someone opens a job page that does not exist or a job corrupted its own artifacts. This is benign and should not be logged at an error level.

[2019-11-25 16:39] stevekuznetsov commented on #5000
#6067
/close

[2019-11-25 16:39] #5000 closed

[2019-11-25 16:40] stevekuznetsov commented on #5972
#6066
/close

[2019-11-25 16:40] #5972 closed

[2019-11-25 18:09] stevekuznetsov opened #6076 "You have triggered an abuse detection mechanism. Please wait a few minutes before you try again."
[code]

---

This means that `tide` sent too many search queries, or too quickly, or they were too large. It should be transient and OK to ignore unless it hits many API calls at once.

[2019-11-26 10:41] petr-muller opened #6092 "Not enough reviewers found in OWNERS files for files touched by this PR"
[code]

This is a configuration problem where `blunderbuss` (and other plugins that use `OWNERS` files) is enabled for a repo that either does not have `OWNERS` file, or does not have enough people in them. We enable these plugins org-wide for at least `openshift` org.

This is quite benign so it can be ignored.

/area triage

[2019-11-26 11:53] petr-muller opened #6095 "prow bumps: the cache is not started, can not read objects [deck]"
This error/warning seems to occur during Prow bumps.

[code]

Looks benign and goes away once ghproxy is up.

/area triage

[2019-11-26 11:55] petr-muller opened #6096 "prow bumps: Cookie secret should be exactly 32 bytes [deck]"
This error/warning seems to occur during Prow bumps.

[code]

Not 100% sure about the impact, probably benign, but maybe we have some config to fix.

/area triage

[2019-11-26 11:56] petr-muller opened #6097 "prow bumps: Post http://ghproxy/graphql: dial tcp <IP>: connect: no route to host [needs-rebase]"
This error/warning seems to occur during Prow bumps.

[code]

Looks like a symptom of ghproxy being bumped at the same time, goes away once it runs.

/area triage

[2019-11-26 11:58] petr-muller opened #6098 "prow bumps: "GIGANTIC GITHUB QUERY, err: Post http://ghproxy/graphql: dial tcp <IP>: connect: no route to host" [tide]"
This error/warning seems to occur during Prow bumps.

[code]

Looks like a symptom of ghproxy being bumped at the same time, goes away once it runs.

/area triage

[2019-11-26 13:54] petr-muller opened #6100 "githuboauth: empty string or cannot convert to string. this probably means the options passed to GitHub don't match what was expected"
[Stackdriver](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&folder&organizationId&minLogLevel=0&expandAll=false&timestamp=2019-11-26T13%3A50%3A40.844000000Z&customFacets&limitCustomFacetWidth=true&dateRangeStart=2019-11-26T07%3A51%3A47.102Z&dateRangeEnd=2019-11-26T13%3A51%3A47.102Z&interval=PT6H&resource=gce_instance&scrollTimestamp=2019-11-26T12%3A00%3A09.0000

[2019-11-26 13:57] petr-muller opened #6101 "githuboauth: state token has expired"
[Stackdriver](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&folder&organizationId&minLogLevel=0&expandAll=false&timestamp=2019-11-26T13%3A50%3A40.844000000Z&customFacets&limitCustomFacetWidth=true&dateRangeStart=2019-11-26T07%3A51%3A47.102Z&dateRangeEnd=2019-11-26T13%3A51%3A47.102Z&interval=PT6H&resource=gce_instance&scrollTimestamp=2019-11-26T12%3A00%3A09.0000

[2019-11-26 13:57] petr-muller commented on #6101
/area triage

[2019-11-26 14:03] petr-muller opened #6102 "Error getting ProwJob name for source gcs/origin-ci-test/logs/<job-name>"
[Stackdriver](https://console.cloud.google.com/logs/viewer?project=openshift-ci-infra&advancedFilter=resource.type%3D%22gce_instance%22%0AjsonPayload.error%3A%22invalid%20key%20origin-ci-test%22%0A)

[code]

There are multiple occurrences with different job names.

/area triage
/shrug

[2019-11-26 14:15] petr-muller commented on #6096
This is probably related to this secret: https://github.com/openshift/release/blob/master/core-services/prow/03_deployment/deck.yaml#L177, which indeed isn't 32 bytes. I'm not sure what this cookie exactly is, so hard to say whether we should/can truncate it to the length the warning suggests.

[2019-11-26 14:21] petr-muller commented on #6096
Oh, this is a XSRF token... So I guess it should be safe to just generate a 32 byte secret here and get rid of this warning?

https://github.com/kubernetes/test-infra/blob/c7a125031726b6dc75d090aad74f8ff97e363811/prow/cmd/deck/main.go#L407-L409

[2019-11-26 14:44] stevekuznetsov commented on #6100
Yeah this shouldn't happen and looks like someone accessing the wrong Deck URL.

[2019-11-26 14:44] petr-muller commented on #6096
I'm surprised we do not see this also for the `deck-internal` instance which is using a 43-character long generated string as this value: https://github.com/openshift/release/blob/master/core-services/prow/03_deployment/deck.yaml#L7

:confused:

[2019-11-26 14:50] petr-muller commented on #6100
Can we just remove the `deck-ci` route?

[2019-11-26 16:54] petr-muller opened #6110 "Many remote error: upload-pack: not our ref errors in git-related components"
Seeing quite a lot of these:

[code]

/cc @hongkailiu

Not sure what they mean and if they are ours or GH's: I'll start by looking into Stackdriver when these started.

/area triage

[2019-11-26 17:08] petr-muller commented on #6110
We have [20 occurrences in last 24 hours](https://console.cloud.google.com/logs/viewer?project=openshift-ci-infra&advancedFilter=resource.type%3D%22gce_instance%22%0A(jsonPayload.error%3A%22remote%20error%3A%20upload-pack%3A%20not%20our%20ref%22%20OR%20jsonPayload.msg%3A%22remote%20error%3A%20upload-pack%3A%20not%20our%20ref%22)%0A) but they do not seem to tied to any specific event like a Prow bu

[2019-11-26 18:05] hongkailiu opened #6112 "[tide]PR is unmergable on containers/libpod"
Saw it once today in the Tide log:

[code]

The [PR](https://github.com/containers/libpod/pull/4557#issuecomment-558744838) has been merged now.

We need `/hold` the PR if `Tide` feeling not mergable happens again.

[2019-11-26 18:50] hongkailiu commented on #6112
[code]

[2019-11-26 19:58] hongkailiu commented on #6112
/area triage

[2019-11-26 20:04] hongkailiu opened #6114 "[plank]Failed to report ProwJob status"
[code]

[2019-11-26 20:04] hongkailiu commented on #6114
/area triage

[2019-11-26 20:44] stevekuznetsov commented on #6114
We should dig into this, what is not found? The SHA to report status for?

[2019-11-26 20:59] hongkailiu commented on #6114
Job url:
https://prow.svc.ci.openshift.org/prowjob?prowjob=fa2cc27f-1082-11ea-a3c0-0a58ac10a4f6

[code]

[2019-11-26 21:02] hongkailiu commented on #6114
[code]

[2019-11-26 21:13] hongkailiu commented on #6114
This is the PR
https://github.com/redhat-cop/org/pull/61

[2019-11-26 21:15] hongkailiu commented on #6114
looks like it is merged by a developer instead of by our bot.
Could it be the cause of our warning log?

![Screenshot from 2019-11-26 16-14-45](https://user-images.githubusercontent.com/4013349/69673295-0123fb80-1068-11ea-966d-3c5592c88bf9.png)

[2019-11-27 11:22] petr-muller opened #6122 "periodic-ci-image-pruner has failures"
Failing job: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-image-pruner/128
Passing rerun: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-image-pruner/129

[code]

I'm not sure about the cause, but the rerun PASSed, so filing this only for future reference so we know when hit happened first if this starts to happen more often.

/area triage

[2019-11-27 11:22] petr-muller commented on #6122
/close

[2019-11-27 11:22] #6122 closed

[2019-11-27 11:33] petr-muller opened #6123 "Aborting patch apply failed with output"
[code]
Saw this in `monitor-prow.py` but I can't find an occurrence in Stackdriver :/

/area triage

[2019-11-27 11:43] petr-muller opened #6124 "unrecognized directory name (expected int64)"
[stackdriver](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&minLogLevel=0&expandAll=false&timestamp=2019-11-27T11%3A32%3A17.845000000Z&customFacets&limitCustomFacetWidth=true&dateRangeEnd=2019-11-27T11%3A41%3A23.954Z&interval=PT6H&resource=gce_instance&scrollTimestamp=2019-11-27T11%3A33%3A14.000000000Z&filters=text%3A%22unrecognized%20directory%20name%20(expect

[2019-11-27 11:49] petr-muller commented on #6092
Another flavor of this is `Couldn't find/suggest approvers for each files. Unapproved: [""]`: that's coming from `approve` plugin,

[code]

[2019-11-27 11:56] petr-muller opened #6125 "[tide] Failed to set status context from ... on containers/buildah"
[code]

Probably some permissions misconfig on containers/buildah

/area triage

[2019-11-27 13:50] petr-muller commented on #6125
This looks like the migration of containers/buildah to be merged by Prow is in progress and maybe stalled  since mid-October.

https://github.com/projectatomic/papr/issues/105
https://github.com/openshift/release/issues/5489
https://github.com/openshift/release/pull/5491

@cgwalters Is moving buildah (or full `containers`) to OpenShift Prow still the plan (I also found the PR to migrate to Cirrus

[2019-11-27 14:15] cgwalters commented on #6125
I think so yes.

(To be clear, I am not currently an admin on the containers/ organization myself, so I can't fix things directly)

[2019-11-27 14:31] petr-muller commented on #6092
This repo should be archived: https://github.com/openshift-knative/knative-serving-operator

[2019-11-27 14:49] petr-muller commented on #6092
Let's start to weed these out:

https://github.com/openshift/cucushift
https://github.com/openshift/scapresults
https://github.com/openshift/verification-tests
https://github.com/openshift/tektoncd-pipeline-operator
https://github.com/openshift/openshift-docs/
https://github.com/openshift/aos-cd-jobs
https://github.com/operator-framework/community-operators/

[2019-11-27 15:47] stevekuznetsov commented on #6124
There was some thought that this was due to us missing a `robots.txt` and having crawlers send us bad requests, but also this should not log at the warning level -- @petr-muller can you demote this to debug upstream? Users sending a bad request is not for an admin to look at.

[2019-11-27 15:50] stevekuznetsov commented on #6114
That's odd but no, if you look the commit in question does not exist anymore -- this was a force-push.

[2019-11-27 15:52] stevekuznetsov commented on #6110
xref https://github.com/kubernetes/test-infra/issues/15225

[2019-11-27 15:52] stevekuznetsov commented on #6102
This should also be demoted to debug

[2019-11-27 15:53] stevekuznetsov commented on #6100
Yes, let's do that.

[2019-11-27 15:53] stevekuznetsov commented on #6098
Yeah the `ghproxy` redeploy takes time .. but we have likely misconfigured it as it should not have downtime with an appropriate health/ready check and correct deployment strategy.

[2019-11-27 15:55] stevekuznetsov commented on #6092
I think it's always going to print this when we have repos without an OWNERS -- not sure we can special-case turn off a plugin.

[2019-11-27 16:02] petr-muller commented on #6124
ACK, will get to it.

[2019-11-27 16:04] hongkailiu commented on #6125
Still happening

[code]

[2019-11-27 16:22] petr-muller commented on #6092
Yeah - I was thinking we could at least reduce the log spam by fixing at least the active repos, perhaps over time. I think opting-out a plugin from a org-default would be useful feature even upstream (long-term, don't think we need to do it right now).

[2019-11-27 16:57] petr-muller commented on #6124
This is not a crawler that accesses bad URLs. I can reliably reproduce this by following a `Job History` link for any periodic job, for example https://prow.svc.ci.openshift.org/job-history/origin-ci-test/logs/periodic-org-sync

For some reason this does not happen for postsubmit jobs, although the too are not under the `pr-logs` path in GCS.

Investigating further.

[2019-11-27 17:02] petr-muller commented on #6123
/close

We should not see this after next Prow bump.

[2019-11-27 17:02] #6123 closed

[2019-11-27 17:04] petr-muller commented on #6125
@hongkailiu This will happen until Tide is actually allowed to merge PRs in `openshift/buildah` - it looks like a legacy automation is still used there. I almost think that this configuration should be reverted until containers/buildah is actually prepared to make the switch.

[2019-11-27 17:19] petr-muller commented on #6124
Oh, we really have these (the `logs` suffix is wrong, at this level we should have numerical-named directories). I suggest we just clean these up and leave the warnings, maybe just improve the log message and make it structured.

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/periodic-org-sync/logs/

[2019-11-27 17:38] petr-muller commented on #6124
[code]

Looks like we had two bad days when these were created... Running `gsutil ls -d 'gs://origin-ci-test/logs/*/logs/'` now but it takes more time.

[2019-11-27 17:40] petr-muller commented on #6124
[code]

[2019-11-27 17:45] petr-muller commented on #6124
@stevekuznetsov anything against pwning these?

[2019-11-27 18:46] hongkailiu opened #6134 "[hook]namespace' and 'additional_namespaces' are deprecated"
[code]

[2019-11-27 18:46] hongkailiu commented on #6134
/area triage

[2019-11-27 18:46] hongkailiu commented on #6134
checking on the config

[2019-11-27 18:52] hongkailiu commented on #6134
caused by https://github.com/openshift/release/pull/5023

[2019-11-27 19:23] stevekuznetsov commented on #6134
/asisgn

[2019-11-27 19:23] stevekuznetsov commented on #6134
/assign

[2019-11-27 19:24] stevekuznetsov commented on #6134
fixed in https://github.com/openshift/release/pull/6138
/close

[2019-11-27 19:24] #6134 closed

[2019-11-27 19:30] stevekuznetsov commented on #6125
@cgwalters could you please update the configuration for the automation to remove this or, alternatively, grant the robots the appropriate level of privilege?

[2019-11-27 19:59] stevekuznetsov commented on #6097
We should review our deployment strategy for `ghproxy` and ensure it has readiness and health checks, as well as that it exposes them at the right time. Perhaps we cannot do a seamless redeploy since we have a PV that can be mounted only to one Pod?

[2019-11-27 21:36] stevekuznetsov commented on #6056
If your test requires authentication tokens for external systems, you should provide them using the [self-management system](https://github.com/openshift/release/tree/master/core-services/secret-mirroring#self-managed-secrets). Using [mirroring](https://github.com/openshift/release/blob/master/core-services/secret-mirroring/_mapping.yaml#L110-L115) you can then configure your job to [use the secre

[2019-11-28 11:27] petr-muller commented on #6096
/reopen

Appeared even today. I checked the `cookie` secret, it's updated and has the expected content that should no longer trigger this. I'll look into this.

[2019-11-28 16:47] hongkailiu opened #6155 "[jenkins-operator]error listing jenkins builds: cannot list builds from the queue"
[code]

[2019-11-28 16:48] hongkailiu commented on #6155
/area triage

[2019-11-28 17:58] hongkailiu opened #6156 "[peribolos]Configuration failed: failed to configure redhat-cop team mdt repos"
[code]

[2019-11-28 17:58] hongkailiu commented on #6156
/area triage

[2019-11-29 14:11] petr-muller opened #6167 "Error from upstream (GitHub) / Error from cache transport layer: context deadline exceeded"
Two messages fired at the same time, likely related: [1](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&folder&organizationId&minLogLevel=0&expandAll=false&timestamp=2019-11-29T13%3A56%3A49.278000000Z&customFacets=jsonPayload.msg&limitCustomFacetWidth=false&interval=PT1H&resource=gce_instance&scrollTimestamp=2019-11-29T13%3A59%3A58.000000000Z&advancedFilter=reso

[2019-11-29 16:56] hongkailiu commented on #6114
/close

[2019-11-29 16:56] #6114 closed

[2019-11-29 22:56] stevekuznetsov commented on #6155
This is a Jenkins outage and should be communicated to DPP

[2019-12-02 10:27] droslean opened #6178 "codeready-toolchain/toolchain-operator=master has required jobs but has protect: false"
[code]

[2019-12-02 10:29] droslean opened #6179 "This SHA and context has reached the maximum number of statuses"
[code]

[2019-12-02 15:13] droslean commented on #6179
PR: https://github.com/openshift/oc/pull/184

The bot kept spamming of retesting the failed job, with the result to reach the limit of `1000` created jobs.

[2019-12-02 18:18] stevekuznetsov commented on #6178
This is a dupe of https://github.com/openshift/release/issues/6064 (and did not have the triage label)

/close

[2019-12-02 18:18] #6178 closed

[2019-12-02 18:19] stevekuznetsov commented on #6156
/close

[2019-12-02 18:19] #6156 closed

[2019-12-02 18:20] stevekuznetsov commented on #6179
Yikes. Job failed in 2min. Not sure we can do better with the re-tester.

[2019-12-02 18:26] stevekuznetsov opened #6186 "peribolos: UpdateOrgMembership(openshift, pumpmypic, false) failed"
[code]

This is a misconfiguration for the tool. Is the user misspelled or have they changed their alias?

/assign @dobbymoodge @coverprice
/area triage

[2019-12-02 18:27] stevekuznetsov commented on #6167
Sometimes GitHub is slow to respond. We should ignore this one.

[2019-12-02 18:34] coverprice commented on #6186
`pumpmypic` belonged to Shay Rozen. I've removed him from the config to unblock Peribolos, and emailed him asking him to fixup his Rover profile and re-apply for access.

[2019-12-02 18:34] #6186 closed

[2019-12-03 11:36] droslean opened #6200 "[deck] failed to read started.json"
[code]

[2019-12-03 12:19] petr-muller commented on #6200
/area triage

[2019-12-03 12:19] petr-muller commented on #6179
/area triage

[2019-12-03 14:34] droslean commented on #6200
Another related error:
[code]

[2019-12-03 15:01] droslean commented on #6200
/close

[2019-12-03 15:01] #6200 closed

[2019-12-03 15:01] droslean commented on #6200
duplicated with #6070

[2019-12-03 22:46] stevekuznetsov opened #6219 "peribolos: openshift-priv needs more seats"
[code]

/cc @openshift/openshift-team-developer-productivity-platform @openshift/openshift-team-developer-productivity-test-platform

[2019-12-03 22:47] stevekuznetsov commented on #6219
/area triage

This is from attempting to add `openshift-ci-robot`

[2019-12-03 23:47] coverprice commented on #6219
I added a seat and logged in as `openshift-ci-robot` to accept the invite.

If you need to add more users, let me know as I'll need to bump the seats again. FYI a seat is $9/mo, $108/yr, so let's keep seats as minimal as possible.

[2019-12-03 23:47] #6219 closed

[2019-12-04 11:21] droslean opened #6228 "err: Post http://ghproxy/graphql: dial tcp 172.30.199.140:80: connect: no route to host"
[code]
/area triage

[2019-12-04 11:28] droslean commented on #6228
/close

dup of #6097

[2019-12-04 11:28] #6228 closed

[2019-12-04 13:48] droslean commented on #6102
[code]

[2019-12-04 14:02] droslean opened #6234 "cherrypick push error exit status 128"
[code]

[2019-12-04 14:02] droslean commented on #6234
/area triage

[2019-12-04 14:54] droslean commented on #6234
@stevekuznetsov Is this related with [kubernetes/test-infra/pull/15363](https://github.com/kubernetes/test-infra/pull/15363/)

[2019-12-04 22:27] stevekuznetsov commented on #6234
Yes, fixed in https://github.com/kubernetes/test-infra/pull/15479

/assign

[2019-12-05 11:23] droslean commented on #6234
/close

https://github.com/openshift/console/pull/3640#issuecomment-562088195

[2019-12-05 11:23] #6234 closed

[2019-12-05 14:39] droslean commented on #6110
more of this today:
[code]

[2019-12-05 17:28] petr-muller commented on #6095
xref: https://github.com/kubernetes/test-infra/issues/15480 and it should be hopefully fixed after next bump: https://github.com/kubernetes/test-infra/pull/15489

[2019-12-05 17:57] stevekuznetsov commented on #6110
Should just filter it.

[2019-12-06 18:33] stevekuznetsov opened #6281 "googleapi: Error 401: Anonymous caller does not have storage.objects.list access to origin-ci-private., required"
[code]

`plank` (and `crier`) only have the one configurable Spyglass prefix for displaying job results, so all job results get routed to the external Spyglass instance, which can't serve private data.

/area triage

[2019-12-09 16:00] hongkailiu opened #6302 "[hook] Unable to add nonexistent labels [area/apiserver ...]"
[code]

It seems that those labels are from the PRs at upstream.
Not sure if we should add them as well for our downstream repo.

[2019-12-09 16:01] hongkailiu commented on #6302
/area triage

[2019-12-09 16:11] hongkailiu opened #6303 "[tide]branch needs to be configured to allow this robot to push: openshift-kni/baremetal-deploy"
[code]

https://github.com/openshift-kni/baremetal-deploy/pull/29#issuecomment-563309706

/area triage

[2019-12-09 16:11] hongkailiu commented on #6303
/area triage

[2019-12-09 16:14] hongkailiu commented on #6303
https://coreos.slack.com/archives/CBN38N3MW/p1575907994269800

[2019-12-09 17:17] hongkailiu commented on #6303
Accepted the invitation to the org for both robots.

After @davidvossel tuned the permissions for the robots, it works.

/close

[2019-12-09 17:18] #6303 closed

[2019-12-09 20:23] hongkailiu commented on #6125
Still happening today.

@petr-muller the repo is `containers/buildah`

[code]

[2019-12-09 23:24] stevekuznetsov commented on #6125
@cgwalters ping?

[2019-12-12 19:45] hongkailiu commented on #6179
tide has similiar log msg:

[code]

[2019-12-12 19:48] hongkailiu opened #6376 "[tide]The following repos define a policy or require context(s), but have one or more branches with protect: false"
[code]

[2019-12-12 19:49] hongkailiu commented on #6376
/area triage

[2019-12-12 19:53] hongkailiu commented on #6376
Similiar to https://github.com/openshift/release/issues/6064 ?

[2019-12-12 22:03] stevekuznetsov commented on #6376
Entirely a dupe of that one

/close

[2019-12-12 22:03] #6376 closed

[2019-12-13 11:14] petr-muller commented on #6179
`"msg": "Failed to set status context from \"PENDING\" to \"pending\".",`, really, Tide? That's what you are burning tokens on?

[2019-12-18 11:23] petr-muller opened #6463 "abuse detection mechanism tripping: `error checking user availability`"
This is of course similar to https://github.com/openshift/release/issues/6076, but in a different component, and we tripped this a *lot* today: maybe this path is not handling the back-off mechanism like it should? There are hundreds of hits in a single minute, causing the following (see the blue ramp-up):

![ghproxy](https://user-images.githubusercontent.com/712614/71082115-d7568400-2190-11ea-948

[2019-12-18 13:47] petr-muller opened #6465 "PR is unmergable on openshift/cluster-logging-operator"
https://github.com/openshift/cluster-logging-operator/pull/326

[code]

That branch does not seem to have tests nor BP, so I have no idea why this would be unmergeable.

[2019-12-18 13:48] petr-muller commented on #6465
/area triage

[2019-12-18 13:50] petr-muller commented on #6465
Hm, this was [logged at 14:26:59 CET](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&folder&organizationId&minLogLevel=0&expandAll=false&timestamp=2019-12-18T13%3A24%3A42.003000000Z&customFacets=jsonPayload.msg&limitCustomFacetWidth=false&dateRangeStart=2019-12-18T12%3A38%3A12.723Z&dateRangeEnd=2019-12-18T13%3A38%3A12.723Z&interval=PT1H&resource=gce_instance&scr

[2019-12-18 14:02] petr-muller opened #6467 "networking issues related to history endpoint in Tide"
[14:53 CET Writing JSON history response (error=write tcp 172.16.86.157:8888->172.16.89.122:47984: write: connection reset by peer)](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&folder&organizationId&minLogLevel=0&expandAll=false&timestamp=2019-12-18T13%3A24%3A42.003000000Z&customFacets=jsonPayload.msg&limitCustomFacetWidth=false&dateRangeStart=2019-12-18T12%3

[2019-12-18 16:40] stevekuznetsov commented on #6463
We saw an enormous volume of calls to `/repositories` and `/graphql`.

[2019-12-18 16:53] stevekuznetsov commented on #6463
I need to re-do my user agent thing so we can see who is making the calls

[2020-01-02 16:57] petr-muller opened #6537 "periodic-label-sync takes 8 hours to execute and does not do what it logs"
See https://prow.svc.ci.openshift.org/job-history/origin-ci-test/logs/periodic-label-sync

The job started failing on 2019-12-11. Last successful execution is https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-label-sync/566 and first failing one is https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-label-sync/567. All passing runs in the past were very fa

[2020-01-02 17:00] stevekuznetsov commented on #6537
Let's remove the org from the list and ensure we have appropriate permissions on the `openshift-kni` org as well as making sure no other automation is touching that org.

[2020-01-02 17:03] petr-muller commented on #6537
It looks like at least some repos received the update: https://github.com/openshift-kni/baremetal-deploy/labels

[2020-01-02 17:09] petr-muller commented on #6537
@stevekuznetsov ok let's revert https://github.com/openshift/release/pull/6327, I'll prep the PR

If it were the permissions, I would still expect the sync tool to log the failure - maybe it throws it away (and we should fix it) or GH API is stupid by pretending all is fine? It does not seem to be caused by other automation on `openshift-kni` - the repos seem to have just the default GH labels, do

[2020-01-02 18:44] hongkailiu commented on #6125
still happening

[code]

[2020-01-02 19:08] stevekuznetsov commented on #6125
@cgwalters I will remove your org from the config unless we can get this resolved

[2020-01-02 19:31] cgwalters commented on #6125
That's fine, we can try again later.

[2020-01-02 21:33] hongkailiu commented on #6096
Appeared today.

[code]

[2020-01-06 10:45] petr-muller commented on #2374
/close

[2020-01-06 10:45] #2374 closed

[2020-01-06 10:59] petr-muller commented on #2394
Looks fixed.

/close

[2020-01-06 10:59] #2394 closed

[2020-01-06 11:31] petr-muller opened #6564 "The `pr_status_base_url` setting is deprecated..."
Expected after today's bump. Needs config change https://github.com/openshift/release/pull/6562, blocked by the need to rebuild ci-tools with bumped ci-tools https://github.com/openshift/ci-tools/pull/347, blocked by the code incompatibilities.

[code]

/area triage

[2020-01-06 15:44] #6564 closed

[2020-01-07 14:23] petr-muller opened #6581 "assign: Error handling GenericCommentEvent"
[code]

This is caused by people doing `/assign <someone> with additional test`, like https://github.com/openshift/console/pull/3765#issuecomment-571508312

It is benign, but it should be improved upstream (I'll file a bug there if it does not exist already).

/area triage

[2020-01-07 14:51] petr-muller opened #6583 "bugzilla: Unexpected error adding external tracker bug to Bugzilla bug: response code 502 not 200"
We recently seem to receive 502s from RH Bugzilla occasionally when the bugzilla plugin tries to interact with it. I have received 502s from it even in my browser, so it's likely not related at all to anything we own. The downside of this is that it leaves BZs in wrong state, which needs to be manually fixed. These failures are at surfaced to GH as a comment, so at least they are not silent:

http

[2020-01-07 15:22] stevekuznetsov commented on #6583
Do you think we should re-try in these cases? We should probably see what the error payload actually looks like

[2020-01-07 15:47] petr-muller commented on #6583
Yeah, retry with a delay would help in some cases, but not all. We could also make the plugin fully reconcile BZ into the desired state on `/bugzilla refresh`, or provide manual commands to make the plugin retry specific actions on demand (to make manual fixups easier).

[2020-01-07 15:59] petr-muller opened #6587 "deck: Error Get secret state"
[code]

This happens when someone accesses the `/pr` endpoint on https://deck-ci.svc.ci.openshift.org instead of on https://prow.svc.ci.openshift.org. The GH OAuth app for our Prow is configured with the latter as a callback. This callback URL [needs to match](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#redirect-urls) whatever the deck instance sends in parameters

[2020-01-07 15:59] petr-muller commented on #6587
Oops. https://github.com/openshift/release/issues/6100

/close

[2020-01-07 16:00] #6587 closed

[2020-01-07 16:43] stevekuznetsov commented on #6581
This used to post a comment back to the PR saying "_take a look_ could not be assigned" ... regression in Prow, should open test-infra issue

[2020-01-08 13:38] petr-muller opened #6599 "Failed to delete comment from cri-o/cri-o#3077"
[code]

Five occurrences today ([latest](https://console.cloud.google.com/logs/viewer?authuser=1&project=openshift-ci-infra&folder&organizationId&minLogLevel=0&expandAll=false&timestamp=2020-01-08T13%3A15%3A37.944000000Z&customFacets=jsonPayload.msg&limitCustomFacetWidth=false&dateRangeEnd=2020-01-08T13%3A15%3A38.239Z&interval=PT6H&resource=gce_instance&scrollTimestamp=2020-01-08T11%3A44%3A22.0000

[2020-01-08 13:38] petr-muller commented on #6599
/area triage

[2020-01-08 13:52] petr-muller opened #6601 "Bunch of ovirt-related failures in boskos"
[code]
both with the following details:
[code]

[code]

Then 11 occurrences of:
[code]

and later further 11 occurrences of:
[code]

I don't know boskos well enough to judge whether this is the same thing like https://github.com/openshift/release/issues/6069 or https://github.com/openshift/release/issues/6067 (it likely is), but I know ovirt guys are doing some custom ovirt/boskos work, so this ma

[2020-01-08 13:52] petr-muller commented on #6601
/cc @Gal-Zaidman

[2020-01-08 13:58] Gal-Zaidman commented on #6601
yes that is on me, I did a few of tests before sending the latest leases commit to the ovirt PR.
Currently, it works fine, but I saw that the boskos resources didn't update after https://github.com/openshift/release/pull/6575.
When I get the metrics of ovirt-quota-slice I still see that there are 13 resources when there should be 4 (I worked around this for now by acquiring 9 leases)

[2020-01-09 00:10] AlexNPavel opened #6614 "504 Gateway Error for job_history pages"
## What did you expect to happen?
Be able to access the job-history pages for all jobs in prow.

## What happened?
A 504 timeout error occurs for certain jobs.

## How can the error be reproduced?
It seems that the only jobs that are affected are jobs with large logs and many runs (it may just be many recent successful runs; I'm not quite sure yet). For example: https://prow.svc.ci.openshift.org/j

[2020-01-09 00:13] AlexNPavel commented on #6614
I was just able to verify that a job only needs to have very large logs for that last 20 runs, which is why more stable, large jobs like the `e2e-aws-upgrade-4.1` are affected.

[2020-01-09 09:16] petr-muller opened #6618 "sinker: failed to start manager (error=leader election lost)"
[code]

Probably not a big deal, OpenShift will restart sinker for us. Until this starts happening more often, this is quite benign.

/area triage

[2020-01-10 16:44] Bowenislandsong opened #6638 "Fedora 31 needs configuration before runing ci-operator's `generator`"
I understand this is not a ci-operator problem but I suppose this would be useful for people running fedora 31.

After I made the upgrade to fedora 31, I was not able to use the `generator` tool. The error message was

`docker: Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "process_linux.go:297: applying cgroup configuration for pr

[2020-01-14 14:46] bbguimaraes opened #6680 "error loading RepoOwners: failed to diff $x with $y"
[code]

The first occurrence was at 2020-01-13T00:04:39Z, there's been ~20 others since then.

/area triage

[2020-01-15 22:46] hongkailiu commented on #6463
Similar log ... also saw an alert about the same time.
https://coreos.slack.com/archives/CHY2E1BL4/p1579125473041800

[code]

[2020-01-17 21:12] akiselev1 commented on #2672
/remove-lifecycle stale

[2020-01-20 16:04] hongkailiu opened #6771 "[tot]requested job is unknown to prow"
[code]

[2020-01-20 16:05] hongkailiu commented on #6771
[code]

/area triage

[2020-01-20 16:06] hongkailiu commented on #6771
/area triage

[2020-01-20 16:09] hongkailiu commented on #6771
those job seems there. Timing issue?

https://prow.svc.ci.openshift.org/job-history/origin-ci-test/pr-logs/directory/pull-ci-openshift-cluster-csi-snapshot-controller-operator-master-images

https://prow.svc.ci.openshift.org/job-history/origin-ci-test/logs/branch-ci-openshift-cluster-csi-snapshot-controller-operator-master-images

[2020-01-20 18:22] petr-muller commented on #6771
Maybe we're not passing all configmap shards to tot?

[2020-01-21 19:49] hongkailiu opened #6795 "[boskos]status 401 Unauthorized"
Follow up https://coreos.slack.com/archives/CBN38N3MW/p1579632178166700

[code]

It caused ci-operator tests to fail.

[code]

https://prometheus-prow-monitoring.svc.ci.openshift.org/graph?g0.range_input=1w&g0.end_input=2020-01-21%2019%3A47&g0.expr=sum(rate(boskos_http_request_duration_seconds_count%5B3h%5D))%20by%20(status)&g0.tab=0

<img width="1833" alt="Screen Shot 2020-01-21 at 2 48 32 PM" sr

[2020-01-21 19:49] hongkailiu commented on #6795
/area triage

[2020-01-21 20:02] stevekuznetsov commented on #6795
The only way `boskos` sends 401 is in that situation -- where the owners does not match. This sounds like it could be a client-side failure not to pass the correct identifier or two jobs racing against each other with the same owner name? @smarterclayton has anything changed in that regard?

[2020-01-21 20:13] smarterclayton commented on #6795
It's definitely possible two jobs are running at the same time.  What is the key boskos uses to uniquely identify a job? Job name + build id?

[2020-01-22 15:24] bbguimaraes commented on #6795
WTH…

[code]

Full log for the time period:

<details>

[code]

</details>

[2020-01-22 17:12] stevekuznetsov commented on #6795
@smarterclayton yeah so the log from @bbguimaraes confirms this -- it's the input hash in the namespace + hash of the job name IIRC

[2020-01-22 17:20] bbguimaraes commented on #6795
Um, yes, I forgot to respond to that:

https://github.com/openshift/ci-tools/blob/f1baf72e85c0873fff6b336e63cef02b700fef0c/cmd/ci-operator/main.go#L506

But the issue here is the double lease on lines 5 and 9 of the original log.

[2020-01-22 17:31] stevekuznetsov commented on #6795
Sorry, could you be more explicit on what you mean by "double lease'? Your last post shows two lesees being given the same resource?

[2020-01-22 17:37] stevekuznetsov commented on #6795
Oh, that is _insane_

[2020-01-23 19:31] hongkailiu commented on #6771
[code]
showed again today. Checked the `CM` again. Seems there too.

[code]

[2020-01-23 20:00] hongkailiu opened #6841 "[hook][verify-owners]reference is not a tree"
[code]

[2020-01-23 20:01] hongkailiu commented on #6841
/area triage

[2020-01-23 20:23] stevekuznetsov commented on #6841
We can ignore this one -- it's some bizarre interaction between us and GitHub with a bad SHA. This is logged at error because it leads to verify-owners failing but should be minimally impactful.

[2020-01-28 15:17] droslean opened #6878 "[cherry-pick] Pushing failed with error: exit status 1"
[code]

/area triage

[2020-01-28 15:17] droslean commented on #6878
/cc @openshift/openshift-team-developer-productivity-test-platform

[2020-01-31 16:18] droslean opened #6960 "Branch does not exist in source remote branch=openshift-4.1 destination=openshift-priv/cluster-api@openshift-4.1"
Job [periodic-openshift-release-private-org-sync](https://prow.svc.ci.openshift.org/?job=periodic-openshift-release-private-org-sync) is failing with error
[code]
Branch `openshift-4.1` doesn't exist in `openshift-priv/cluster-api`

[2020-01-31 16:19] droslean commented on #6960
/cc @openshift/openshift-team-developer-productivity-test-platform

@petr-muller Lets track this here. Let's create that branch or remove that repo.

[2020-01-31 19:18] #6960 closed

[2020-02-03 14:11] ashcrow commented on #1159
@mike-nguyen Is it safe to say this is no longer an issue?

[2020-02-03 16:56] petr-muller commented on #2002
/clone

[2020-02-03 16:56] petr-muller commented on #2002
/close

[2020-02-03 16:56] #2002 closed

[2020-02-03 17:00] petr-muller commented on #2848
/close

We have `repo-init` now: https://github.com/openshift/ci-tools/tree/master/cmd/repo-init

[2020-02-03 17:00] #2848 closed

[2020-02-03 17:03] petr-muller commented on #2552
We have `group-auto-updater` which we could repurpose for this if needed, provided the team would be tracked with Peribolos.

/close

[2020-02-03 17:03] #2552 closed

[2020-02-03 17:03] petr-muller commented on #2340
/close

[2020-02-03 17:03] #2340 closed

[2020-02-03 17:04] petr-muller commented on #509
/close

[2020-02-03 17:04] #509 closed

[2020-02-03 17:07] stevekuznetsov commented on #2904
/close

[2020-02-03 17:07] #2904 closed

[2020-02-03 17:07] stevekuznetsov commented on #2849
/close

[2020-02-03 17:07] #2849 closed

[2020-02-04 11:19] petr-muller commented on #3867
We no longer use that thing.

/close

[2020-02-04 11:19] #3867 closed

[2020-02-04 11:20] petr-muller commented on #4124
/close

I don't think this happens anymore.

[2020-02-04 11:20] #4124 closed

[2020-02-12 14:50] hongkailiu opened #7137 "[hook]error parsing pattern: directory patterns are not matched recursively, use path/** instead"
[code]

[2020-02-12 14:50] hongkailiu commented on #7137
/area triage

[2020-02-12 15:02] hongkailiu opened #7138 "[hook]Could not add assignees: Validation failed: Assignee has already been taken"
[code]

[2020-02-12 15:02] hongkailiu commented on #7138
/area triage

[2020-02-12 15:07] hongkailiu commented on #7137
https://coreos.slack.com/archives/GB7NB0CUC/p1581519921335700?thread_ts=1581519006.332700&cid=GB7NB0CUC

/close

[2020-02-12 15:07] #7137 closed

[2020-02-12 15:09] hongkailiu commented on #7138
https://github.com/kubernetes/test-infra/issues/16145

[2020-02-12 15:54] stevekuznetsov commented on #7138
This is fine being tracked upstream.

/close

[2020-02-12 15:54] #7138 closed

[2020-02-12 17:57] hongkailiu commented on #6878
Saw this today

[code]

[2020-02-12 18:15] stevekuznetsov commented on #6878
`reference already exists` means most likely someone asked for a cherry-pick of something that was already cherry-picked

[2020-02-14 21:05] hongkailiu opened #7183 "[boskos] failed to update resources ... after patching it"
[code]

[2020-02-14 21:05] hongkailiu commented on #7183
/area triage

[2020-02-17 11:26] alvaroaleman commented on #7183
Presumably this happens due to cache staleness. I believe this is not an urgent issue right now but will need fixing. The fix would be to make the handlers internally retry the whole operation on conflicts

[2020-02-24 15:45] petr-muller commented on #6076
So, what are we going to do with these? Shall triage inspect whether this is still happening, and if yes, reset the staleness and if no, just close it?

[2020-02-24 15:59] stevekuznetsov commented on #6076
This was more meant as a mechanism to communicate to the other triage role holders that this is fine. We can close it but we should all be generally comfortable understanding what this message means first

[2020-02-24 16:13] petr-muller commented on #6076
Yeah, I know. I just think that we may have fixed some of these (and those we could close), and some we should keep open for reference.

[2020-03-03 08:50] alvaroaleman commented on #7183
Fixed by https://github.com/openshift/release/pull/7432 which pulls in https://github.com/kubernetes/test-infra/pull/16529

/close

[2020-03-03 08:50] #7183 closed

[2020-03-03 09:13] alvaroaleman commented on #6795
This shouldn't be possible to happen anymore after https://github.com/kubernetes/test-infra/pull/16367
/close

[2020-03-03 09:13] #6795 closed

[2020-03-04 05:34] #672 closed

[2020-03-04 05:34] #1833 closed

[2020-03-04 05:34] #1479 closed

[2020-03-04 05:34] #1751 closed

[2020-03-04 05:34] #1940 closed

[2020-03-04 05:34] #1955 closed

[2020-03-04 05:34] #1543 closed

[2020-03-04 10:48] #1759 closed

[2020-03-04 10:48] #2026 closed

[2020-03-04 10:48] #2106 closed

[2020-03-04 10:48] #2057 closed

[2020-03-04 10:48] #2089 closed

[2020-03-04 10:48] #1438 closed

[2020-03-04 10:48] #2212 closed

[2020-03-04 10:48] #2505 closed

[2020-03-04 16:50] #2070 closed

[2020-03-04 16:50] #2648 closed

[2020-03-04 16:50] #3091 closed

[2020-03-04 16:50] #3238 closed

[2020-03-04 16:50] #2181 closed

[2020-03-04 16:50] #1159 closed

[2020-03-04 18:09] mike-nguyen commented on #1159
No one has been complaining so its fine to close.

[2020-03-04 22:50] #1584 closed

[2020-03-04 22:50] #3364 closed

[2020-03-05 10:31] petr-muller commented on #6095
I looked into Stackdriver and this does not happen anymore.

/close

[2020-03-05 10:31] #6095 closed

[2020-03-10 11:26] bbguimaraes opened #7550 "GCE 200 - RESOURCE_IN_USE_BY_ANOTHER_RESOURCE"
On a redeploy, the `ghproxy` PV could not be attached to the new Pod:

[code]

I tried the following commands repeatedly, but the disk kept being reattached:

[code]

Ultimately, it was resolved by draining the node:

[code]

which took several minutes and is a very drastic measure that disrupts CI jobs, but Prow/tide were down. This is not the first time this has happened, it is unsustainable if

[2020-03-13 17:12] bbguimaraes opened #7649 "`received unexpected HTTP status: 500 Internal Server Error` during image pull/push"
/area triage

Symptoms of the problem:

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_origin-aggregated-logging/1850/pull-ci-openshift-origin-aggregated-logging-release-4.2-full-integ-aws/12
[code]

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_cluster-openshift-apiserver-operator/335/pull-ci-openshift-cluster-openshift-apiserve

[2020-03-13 17:12] bbguimaraes commented on #7649
For archival purposes.

/close

[2020-03-13 17:12] #7649 closed

[2020-03-13 20:46] hongkailiu opened #7654 "[hook][bugzilla]JSONRPC error 68000: Bad argument param sent to Bugzilla::FlagType::new function"
[code]

Till now only found it for https://github.com/openshift/console/pull/4732

[code]

[2020-03-13 20:47] hongkailiu commented on #7654
/area triage

[2020-03-13 20:47] hongkailiu commented on #7654
https://coreos.slack.com/archives/CEKNRGF25/p1584129950081500

[2020-03-15 23:29] #5489 closed

[2020-03-16 05:30] #5499 closed

[2020-03-16 11:47] petr-muller opened #7679 "jenkins-operator: Operation cannot be fulfilled on <pj>: the object has been modified"
[code]

/area triage

I wonder if this is some interaction of jenkins-operator with crier?

Occurences: [1](https://console.cloud.google.com/logs/viewer?authuser=1&folder=true&organizationId=true&project=openshift-ci-infra&minLogLevel=0&expandAll=false&timestamp=2020-03-16T11%3A19%3A06.700000000Z&customFacets=jsonPayload.msg&limitCustomFacetWidth=false&advancedFilter=resource.type%3D%22gce_instanc

[2020-03-16 13:00] petr-muller opened #7680 "Unexpected error searching for Bugzilla bug (dial tcp: i/o timeout)"
[code]

BZ seems to be choppy today, `/bugzilla refresh` helps - but that does not fix the automated status changes etc. If this starts to occur more often, we would need to escalate it to BZ owners.

Occurrences:
- https://github.com/openshift/service-ca-operator/pull/111#issuecomment-599512259
- https://github.com/openshift/cluster-monitoring-operator/pull/709#issuecomment-599487394
- https://gi

[2020-03-16 14:51] alvaroaleman commented on #7679
Not intearction but yeah, its presumably crier updating the prowjob, causing our update to fail

We could probably change the jenkins operator to do patch instead, then this shouldn't happen anymore.

[2020-03-16 15:03] petr-muller opened #7684 "Failed to find configMap client: "no k8s client is found for build cluster: 'app.ci'""
[code]

Apparently coming from boostrapper runs: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/openshift-release-master-config-bootstrapper/5305#1:build-log.txt%3A8879, although the job itself does not fail on it (I think it's a bug that it doesn't).

/area triage
/assign @alvaroaleman

[2020-03-16 15:13] alvaroaleman commented on #7684
/assign

[2020-03-17 09:22] petr-muller opened #7699 "[app.ci] bootstrapper: User "...hook" cannot get resource "configmaps" ... in the namespace "ci-stg""
[openshift-release-master-config-bootstrapper](https://prow.svc.ci.openshift.org/?job=openshift-release-master-config-bootstrapper) job fails with following errors ([last occurrence](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/openshift-release-master-config-bootstrapper/5322)):

[code]

/assign @alvaroaleman
/area triage

[2020-03-17 09:52] petr-muller commented on #7684
https://github.com/openshift/release/pull/7686 fixed this one.

/close

[2020-03-17 09:54] #7684 closed

[2020-03-17 11:19] petr-muller opened #7703 "[boskos] failed to update resources ... after patching it"
I'm not sure whether https://github.com/openshift/release/issues/7183 regressed or not.

[code]

/area triage

[2020-03-17 13:06] #7699 closed

[2020-03-17 23:34] petr-muller commented on #6465
/close

[2020-03-17 23:34] #6465 closed

[2020-03-18 13:28] petr-muller opened #7751 "It doesn't look like you are using ghproxy to cache API calls to GitHub!"
After today's bump, a bunch of these showed up in the logs:

[code]

These appeared for `jenkins-operator`, `deck` and `status-reconciler` components, all of which are configured to accept a GH API token but not to use the proxy.

/area triage

[2020-03-18 13:56] #7751 closed

[2020-03-19 13:47] alvaroaleman commented on #7679
Fixed in https://github.com/kubernetes/test-infra/pull/16839, not sure why the `fixes` directive doesn't work cross repo.
/close

[2020-03-19 13:47] #7679 closed

[2020-03-27 10:32] petr-muller commented on #6056
/close

[2020-03-27 10:32] #6056 closed

[2020-03-30 11:48] bbguimaraes commented on #7550
Happened again today:

[code]

Manually detaching the disk worked this time:

[code]

[2020-04-12 07:02] #4892 closed

[2020-04-14 12:58] petr-muller opened #8306 "forbidden: User "...:ci-operator" cannot delete resource "pods" ... in the namespace "ci-op-...""
Originally reported https://coreos.slack.com/archives/CBN38N3MW/p1586854178039700

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_cluster-api-provider-baremetal/59/pull-ci-openshift-cluster-api-provider-baremetal-master-e2e-metal-ipi/40

The linked job is a multi-stage job that hit the 4h Prow job timeout for some reason, ci-operator received a signal and started

[2020-04-14 19:11] hongkailiu commented on #6100
[code]

[2020-04-14 19:29] hongkailiu commented on #6771
[code]

[2020-04-14 19:30] hongkailiu commented on #6771
[code]

[2020-04-14 19:39] hongkailiu commented on #6771
[code]

[2020-04-15 18:08] hongkailiu opened #8337 "[fatal]Strict is set and there were warnings"
[code]

[2020-04-15 18:08] hongkailiu commented on #8337
/area triage

[2020-04-15 18:09] alvaroaleman commented on #8337
@hongkailiu isnt this just a presubmit failing because someone submitted a defunct PR?

[2020-04-15 18:20] hongkailiu commented on #8337
this is people running checkconfig in PRs -- please close

/close

[2020-04-15 18:20] #8337 closed

[2020-04-16 21:26] hongkailiu opened #8374 "prow job failed with all tests passed: Job cannot be started: pods XXX already exists"
https://coreos.slack.com/archives/CBN38N3MW/p1587070369289300

[code]

[2020-04-16 21:27] hongkailiu commented on #8374
/area triage

[2020-04-17 19:21] #5989 closed

[2020-04-23 20:05] hongkailiu opened #8536 "[ci-operator]report.go panicked when invalid dockerfile is used in build"
Reported in [slack](https://coreos.slack.com/archives/CBN38N3MW/p1587669937233900).

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/8529/rehearse-8529-pull-ci-kube-reporting-presto-release-4.3-images/3
[code]

[2020-04-23 20:13] hongkailiu commented on #8536
Even for successful build?
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/8529/rehearse-8529-pull-ci-kube-reporting-presto-master-images/3

[2020-04-23 20:52] hongkailiu commented on #8536
reverted the PR causing it.

/close

[2020-04-23 20:53] #8536 closed

[2020-04-24 02:00] #6063 closed

[2020-04-24 02:00] #6064 closed

[2020-04-24 02:00] #6065 closed

[2020-04-24 02:00] #6066 closed

[2020-04-24 02:00] #6067 closed

[2020-04-24 02:00] #6069 closed

[2020-04-24 02:00] #6070 closed

[2020-04-24 20:02] #6076 closed

[2020-04-24 20:02] #6101 closed

[2020-04-25 02:03] #6112 closed

[2020-04-26 02:07] #6092 closed

[2020-04-26 02:07] #6098 closed

[2020-04-26 02:07] #6097 closed

[2020-04-26 02:07] #6124 closed

[2020-04-28 08:17] #6155 closed

[2020-04-28 21:48] tseelbach opened #8625 "can i use just the prow part of openshift/release/core-services?"
/kind question

I'm trying to setup prow on an OpenShift 4.3 cluster to test some components on top of OpenShift.  The default config in https://github.com/kubernetes/test-infra/tree/master/prow doesn't work in OCP, and i stumbled upon the config here in core-services/prow.  Is there an easy way to use this config to help me get prow working in my cluster?   the 02_config/_config.yaml is oriented

[2020-04-28 21:58] stevekuznetsov commented on #8625
Hey! Which part of the test-infra manifest was not working for you on OCP? We run Prow on OpenShift without issues, and please feel free to use our manifests however you wish.

[2020-04-29 12:13] tseelbach commented on #8625
Thanks Steve!  I followed manual process: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#manual-deployment
I already have a cluster, so skipped that step.  I created the secrets for hmac and oauth.
Then i cloned the repo (not listed in getting_started_deploy.md), and did
    kubectl apply -f config/prow/cluster/starter.yaml

I see 2 problems.  Missing address o

[2020-05-01 02:22] #6167 closed

[2020-05-02 20:30] #6102 closed

[2020-05-04 02:34] #6110 closed

[2020-05-04 12:50] tseelbach commented on #8625
I opened issue in test-infra https://github.com/kubernetes/test-infra/issues/17503
 Any advice, however small, to get me moving forward would be appreciated.  I googled the error many ways but so far have not figured out what config i need to change...

[2020-05-05 02:37] #6281 closed

[2020-05-06 21:44] stevekuznetsov commented on #6583
We've seen a 502 once in the last month, this is likely not worth it.

/close

[2020-05-06 21:45] #6583 closed

[2020-05-07 20:46] #6302 closed

[2020-05-11 14:18] hongkailiu opened #8994 "[hook][config-updater]Could not clean up git client cache"
[code]

[2020-05-11 14:18] hongkailiu commented on #8994
/area triage

[2020-05-11 14:20] alvaroaleman commented on #8994
Sounds like a race? Something created files in there while the `os.RemoveAll` was running?

[2020-05-11 14:27] hongkailiu commented on #8994
[code]

[2020-05-11 14:46] hongkailiu commented on #8994
Maybe `clean()` should not be called at all in the `config-updater`.
Or using some locks inside the clean function?

https://github.com/kubernetes/test-infra/blob/d230e9d49f7367a203d4cf767281b69fec2dbbf9/prow/git/v2/client_factory.go#L280-L282

[2020-05-11 15:23] hongkailiu opened #8997 "[hook][git]index-pack failed"
[code]

[2020-05-11 15:24] hongkailiu commented on #8997
/area triage

[2020-05-14 21:12] #6100 closed

[2020-05-15 14:33] hongkailiu opened #9118 "[deck] oauth2: server response missing access_token"
{
	"client": "githuboauth",
	"component": "deck",
	"error": "oauth2: server response missing access_token",
	"file": "prow/githuboauth/githuboauth.go:303",
	"func": "k8s.io/test-infra/prow/githuboauth.(*Agent).serverError",
	"level": "error",
	"msg": "Error Exchange code for token.",
	"time": "2020-05-15T14:20:51Z"
}

[2020-05-15 14:33] hongkailiu commented on #9118
/triage area

[2020-05-15 14:33] hongkailiu commented on #9118
/area triage

[2020-05-16 21:19] #6467 closed

[2020-05-22 22:13] alvaroaleman opened #9273 "Blocking further merges"
/kind bug
/kind question

/area labels

/area comments

/label tide/merge-blocker

/area test-execution

/area test-artifacts

/area test-results

/area webpages

## What did you expect to happen?

## What happened?

## How can the error be reproduced?

## Is there anything else we need to know?

[2020-05-22 22:30] #9273 closed

[2020-05-25 09:19] droslean opened #9283 "openshift/knative-client has configuration for a branch that does not exist"
{"component":"dptp-controller-manager","controller":"promotionreconciler","error":"failed to get current git head for imageStreamTag: failed to get ref: status code 404 not one of [200], body: {\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/git/refs/#get-a-reference\"}","file":"/go/src/github.com/openshift/ci-tools/pkg/controller/promotionreconciler/reconciler.go

[2020-05-25 12:46] alvaroaleman commented on #9283
/retitle "Promotionreconciler got 404 from github for knative repo"

[2020-05-25 22:01] stevekuznetsov commented on #9283
In reality what has happened here is that there is a `openshift/knative-client@release-v0.14.0` configuration but no such branch on the remote. @dsimansk you added this in 7d06bb67163bea15bb073847f52bf7f75465dbf5 about a month ago -- would you be OK with us removing the configuration while the branch does not exist?

[2020-06-01 16:16] #6537 closed

[2020-06-01 16:16] #6096 closed

[2020-06-01 16:16] #6125 closed

[2020-06-05 22:30] #6581 closed

[2020-06-06 22:34] #6599 closed

[2020-06-06 22:34] #6601 closed

[2020-06-07 04:35] #6614 closed

[2020-06-07 16:37] #6618 closed

[2020-06-08 12:28] petr-muller opened #9535 "prow-controller-manager: Unprocessable pod (serviceaccount "ci-operator" not found)"
Several of these (3 until not) popped up in the logs today:

[code]

It was always the `rehearse-9527-pull-ci-openshift-console-master-kubevirt-plugin` job. What could cause the SA to be found like this? An apiserver flake?

/cc @alvaroaleman

/area triage

[2020-06-08 12:38] alvaroaleman commented on #9535
This is not a bug but just someone creating a new job without any cluster set, which is invalid and causes the validation to fail. It also results in the job being scheduled on app.ci where it fails because there is no `ci-operator` serviceaccount.

/close

[2020-06-08 12:38] #9535 closed

[2020-06-08 22:42] #6638 closed

[2020-06-09 12:49] petr-muller commented on #9283
Hit this for openshift/cluster-api/heads/openshift-4.2, opened https://github.com/openshift/release/pull/9564 to address.

[2020-06-09 13:04] petr-muller opened #9567 "crier: Failed to update report state on prowjob"
[code]

Unsure about the impact, but it looks like
1. We only started to see this recently (see the histogram, there's a noticeable ramp-up on Jun 06 - and there *are* occurrences before that, so it's not a new log message or an artifact of log rotation)
2. Erick Fejta reported a similar thing in upstream on Jun 01 https://github.com/kubernetes/test-infra/issues/17790

/area triage

[2020-06-09 13:05] petr-muller commented on #9567
![crier-timeout](https://user-images.githubusercontent.com/712614/84150762-9ca81700-aa62-11ea-859c-7030510675ec.png)

[2020-06-09 13:09] alvaroaleman commented on #9567
Presumably https://github.com/kubernetes/test-infra/commit/01fd07142c61b3f89246cbad83a23ae4251e04f5 , before that change the error for the same issue was `failed to update report state again, give up`

[2020-06-09 15:57] alvaroaleman commented on #9567
Fixes in https://github.com/kubernetes/test-infra/pull/17891
/close

[2020-06-09 15:58] #9567 closed

[2020-06-10 07:52] xkwangcn opened #9581 "[Question] What does "workflow: openshift-e2e-aws" mean and how can I run it in my local environment?"
/kind question

## What did you expect to happen?

From here https://github.com/openshift/release/blob/master/ci-operator/config/openshift/oauth-proxy/openshift-oauth-proxy-master.yaml, I want know what "workflow: openshift-e2e-aws" means, and I will run it in my local environment to ensure its CI works fine.

## Is there anything else we need to know?

I find the https://github.com/openshift/rele

[2020-06-10 07:53] xkwangcn commented on #9581
Could you help me about this question? Thank you very much.

[2020-06-10 09:13] petr-muller commented on #9581
`openshift-e2e-aws` is a CI workflow in the OpenShift CI, and a workflow is a concept in OpenShift CI putting together setup-test-cleanup sequences from user-provided test workflows.

You can find documentation about the concepts here: https://ci-operator-configresolver-ui-ci.apps.ci.l2s4.p1.openshiftapps.com/help
The UI contains a [directory](https://ci-operator-configresolver-ui-ci.apps.ci.l2s4.

[2020-06-10 09:33] xkwangcn commented on #9581
@petr-muller Hello, Petr, Very very helpful info, thank you very much.

I will try to understand more details about `openshift-e2e-aws`, now I have a simple question:
It seems https://ci-operator-configresolver-ui-ci.apps.ci.l2s4.p1.openshiftapps.com/reference/openshift-e2e-test is the code that `openshift-e2e-aws` run? But I didn't see what its relationship with oauth-proxy, it seems that `opensh

[2020-06-12 22:56] #6680 closed

[2020-06-14 05:01] #6463 closed

[2020-06-16 05:09] #2672 closed

[2020-06-18 01:08] akram opened #9748 "failed to initialize build cache at /.cache : Permission denied"
It seems that our jobs are affected by this issue:
https://go-review.googlesource.com/c/go/+/122487/

When go is run with a user with unknown home (as it could be the case while using cri-o), go will default $HOME to / which causes issues while creating $HOME/.cache directory as `go test` or `go list` do.

The workaround:
[code]
or
[code]

[2020-06-22 05:31] #6841 closed

[2020-06-26 01:01] openshift-merge-robot opened #9932 "mergeblocker"
/kind bug
/kind question

/area labels

/area comments

/area test-execution

/area test-artifacts

/area test-results

/area webpages

## What did you expect to happen?

## What happened?

## How can the error be reproduced?

## Is there anything else we need to know?

[2020-06-26 01:16] #9932 closed

[2020-07-12 00:47] #6878 closed

[2020-07-13 19:47] stevekuznetsov commented on #8306
Could have had the namespace terminated out from under it, as well, which would remove the RBAC. We have better singal for that now. Since we have not hit this since... closing

/close

[2020-07-13 19:47] #8306 closed

[2020-07-14 10:01] petr-muller commented on #6771
/close

We no longer use tot

[2020-07-14 10:02] #6771 closed

[2020-07-31 03:36] dianadujing commented on #633
Same here. Having same issue on 3.11.

[2020-08-09 20:31] #6179 closed

[2020-08-11 02:36] #7654 closed

[2020-08-11 19:15] adambkaplan opened #10915 "`make jobs` fails with podman"
/kind bug

## What did you expect to happen?

When using podman, `make jobs` should succeed.

## What happened?

`make jobs` failed with error:

[code]

Unlike docker, podman will not create a destination directory if it does not exist already in the container. See [1].

## How can the error be reproduced?

`$ make jobs CONTAINER_ENGINE=podman`

## Is there anything else we need to know?

[1] http

[2020-08-13 20:46] #7680 closed

[2020-08-14 20:50] #7703 closed

[2020-08-27 15:38] #7550 closed

[2020-09-14 04:41] #8374 closed

[2020-09-14 09:48] mjovanovic0 opened #11787 "Image pruning failure when spaces are appenend at end of container image ref"
/kind bug

## What did you expect to happen?
ImagePruner sucessfully prune images

## What happened?
Scheduled ImagePruner pod failed with CrashLoop and later with Failed status.

Logs:
[code]

## How can the error be reproduced?
Append unnecessary spaces at the end of image ref.

## Is there anything else we need to know?
This could be easly fixed with string trim before validation of image ref r

[2020-09-15 15:51] alvaroaleman commented on #11787
@mjovanovic0 thanks for reporting this bug, however this repository holds only release and test configuration for openshift and does not serve as as issue tracker for openshift. Please use https://bugzilla.redhat.com/ to report bugs against openshift.
/close

[2020-09-15 15:51] #11787 closed

[2020-09-24 05:55] mgencur opened #12197 "gather-core-dump step regularly times out and fails the build"
/kind bug

## What did you expect to happen?

## What happened?

CI runs regularly fail during gather-core-dump step with this error:
[code]
It can be seen e.g. here: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift-knative_serverless-operator/466/pull-ci-openshift-knative-serverless-operator-master-4.5-upgrade-tests-aws-ocp-45/1308983538766319616

## How can the error b

[2020-09-24 05:56] mgencur commented on #12197
Already sent a PR to make the step optional on success: https://github.com/openshift/release/pull/12196

[2020-09-28 13:12] akram opened #12273 "make yamllint should only check modified files"
As `make yamllint` seems to be taking longer and longer (from 5min in the pas to 11min per the latest build), it should be nice if it can only run on new file compared to last commit

[2020-10-01 17:44] #8625 closed

[2020-10-01 21:46] ArangoGutierrez commented on #12273
`make yamllint` is not a valid [Makefile](https://github.com/openshift/release/blob/master/Makefile ) target, could you better detail where are you noticing this behaviour?

[2020-10-01 21:46] ArangoGutierrez commented on #10915
Hey @adambkaplan is this still an issue?

[2020-10-01 21:48] ArangoGutierrez commented on #10915
/label triage/needs-information

[2020-10-01 21:50] ArangoGutierrez commented on #10915
/triage need-information

[2020-10-02 12:52] adambkaplan commented on #10915
/close

I don't think this is an issue any more

[2020-10-02 12:52] #10915 closed

[2020-10-09 19:52] alvaroaleman opened #12643 "Verify jira plugin"
/kind bug /kind question Please link me to [dptp-1383](https://issues.redhat.com/browse/dptp-1383)   /area labels  /area comments  /area test-execution  /area test-artifacts  /area test-results  /area webpages ## What did you expect to happen?  ## What happened?  ## How can the error be reproduced?  ## Is there anything else we need to know?

[2020-10-09 19:52] #12643 closed

[2020-10-20 13:22] petr-muller commented on #9581
/close

[2020-10-20 13:23] #9581 closed

[2020-11-07 12:43] tronicanet opened #13470 "openshift-samples Degraded / restart master"
1. when I finish installing okd I get the operator openshift-samples Degraded.
2. when a master is restarted (in an all-in-one machine), the service is down and even if I restart kubelet it does not lift.
3. If I take a snapshot of the machine when it lifts, it remains with the degraded operators.

- kube-apiserver    **updating**

- openshift-controller-manager    **updating**

- operator-lifecyc

[2020-11-09 13:46] alvaroaleman commented on #13470
@tronicanet  thanks for reporting this bug, however this repository holds only release and test configuration for openshift and does not serve as as issue tracker for openshift. Please use https://bugzilla.redhat.com/ to report bugs against openshift/OKD
/close

[2020-11-09 13:46] #13470 closed

[2020-12-07 07:23] vimalk78 opened #14124 "step_registry workflow failure fails the CI job"
/kind question

CI Operator Step Registry

/area test-execution

## What did you expect to happen?

A gather step failed
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_cluster-logging-operator/830/pull-ci-openshift-cluster-logging-operator-master-functional/1335603863574548480
this failed the job. gather step failure/timeout when the tests have passed should not fail t

[2020-12-07 07:24] vimalk78 commented on #14124
adding raw logs in case the link disappears

[code]

[2020-12-08 15:26] alvaroaleman commented on #12197
fxed in #12196
/close

[2020-12-08 15:26] #12197 closed

[2020-12-10 04:05] #8994 closed

[2020-12-10 04:05] #8997 closed

[2020-12-11 16:10] #9118 closed

[2020-12-19 10:39] #9283 closed

[2020-12-21 05:00] #9748 closed

[2021-03-01 01:32] #12273 closed

[2021-05-06 12:59] #14124 closed

[2021-07-29 12:55] akrejcir opened #20684 "Branch names are interpreted as regular expressions by prow"
/kind bug
/area test-execution

## What did you expect to happen?
In our project `kubevirt/ssp-operator`, there are 3 branches that we want to execute tests for.
The branch names in the prow jobs are generated from the filenames in the `ci-operator/config` directory:
- `kubevirt-ssp-operator-master.yaml`
- `kubevirt-ssp-operator-release-v0.1.yaml`
- `kubevirt-ssp-operator-release-v0.11.yaml`

I ex

[2021-07-29 13:01] petr-muller commented on #20684
Not a bug, that's intentional and documented behavior, see https://docs.ci.openshift.org/docs/how-tos/contributing-openshift-release/#feature-branches

[2021-07-29 13:06] petr-muller commented on #20684
That said, we want to change this behavior to be slightly more strict and require feature branches to match `$base-$suffix` pattern, whcih should resolve the undesired treatment of `release-v0.11` as a feature branch of `release-v0.1`.

[2021-07-29 13:33] akrejcir commented on #20684
Ok, thanks for the information. Then I will need to think of some workaround.

[2021-07-29 13:33] #20684 closed

[2021-10-12 07:19] fabiand opened #22643 "OKD CI does not work on Azure"
/kind bug

/area test-execution

## What did you expect to happen?
OKD CI can be run on Azure

## What happened?
When trying to run https://github.com/openshift/release/pull/22621 on azure, it fails with the bug in a follow up comment in this issue

## How can the error be reproduced?
Switch to azure for the PR above

## Is there anything else we need to know?
It works flawless on GCP

[2021-11-01 23:06] mrhillsman opened #23175 "gather-must-gather step failing on ocp 4.6 and 4.7"
/kind bug

/area test-execution

## What did you expect to happen?
I expected to see a successful run of the gather step.

## What happened?
When running a job where OpenShift 4.6 or 4.7 is claimed from the ci cluster pool the gather-must-gather step fails.

## How can the error be reproduced?
We trigger the CI environment by manually adding a ProwJob. That ProwJob requests a cluster from the CI c

[2021-11-02 07:50] vrutkovs commented on #23175
The step runs correctly in [other 4.6 jobs](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-release-master-ci-4.6-e2e-gcp/1455393074468360192#1:build-log.txt%3A35).
Seems the step failed in your jobs since kube-apiserver couldn't rollout

[2021-11-02 19:18] mrhillsman commented on #23175
thx @vrutkovs

[2021-11-02 19:18] #23175 closed

[2022-05-11 02:04] kaovilai opened #28473 "ipi-install-install step alternative restoring from snapshot"
We do not require latest openshift images to run our end to end tests on openshift-ci. A latest stable should suffice.

There should be a way to run our end to end tests by giving us the desired cluster version by restoring from a snapshot rather than starting from a new cluster from openshift-installer every time.

It should be possible I feel to install once, snapshot all disks of all master/wor

[2022-06-16 09:18] miyadav opened #29547 "readme broken hyperlink"
Issue in - https://github.com/openshift/release#readme

Getting 404 on template document hyperlink `See the [template document](https://github.com/openshift/ci-tools/blob/master/TEMPLATES.md) for general information on template tests.` , please update link if any

[2022-06-29 12:40] #29547 closed

[2022-07-27 15:32] kaovilai commented on #28473
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-27 15:32] kaovilai commented on #28473
/reopen

[2022-07-27 16:25] bbguimaraes commented on #28473
See https://docs.ci.openshift.org/docs/architecture/ci-operator/#testing-with-a-cluster-from-a-cluster-pool.

[2022-08-02 19:53] kaovilai commented on #28473
Thanks.

[2022-08-02 19:53] #28473 closed

[2022-08-08 20:32] kaovilai opened #31162 "optional-operators-subscribe should accept list of operators"
https://steps.ci.openshift.org/reference/optional-operators-subscribe
https://github.com/openshift/release/blob/master/ci-operator/step-registry/optional-operators/subscribe/optional-operators-subscribe-commands.sh

Would be cool if the following could accept a comma separated list if our test require more than one operator installed.
https://github.com/openshift/release/blob/98a8c015e76303b150c9b

[2022-08-09 10:09] bbguimaraes commented on #31162
DPTP are not the maintainers, please contact the owners.  They are listed in the page you linked: https://steps.ci.openshift.org/reference/optional-operators-subscribe#owners.

/close

[2022-08-09 10:10] #31162 closed

[2022-11-14 08:51] abmomen commented on #9748
having save issue on mac