[2016-12-15 21:04] stevekuznetsov opened #1 "Registry Route Doesn't Match Cert"
[code]

@smarterclayton

[2016-12-15 21:07] stevekuznetsov opened #2 "Google Cloud Service Account for Registry Doesn't Have Privileges to Registry GCS Bucket"
I added the privileges to it manually in the console, but if the service account and/or registry bucket in GCS are created on startup this privilege needs to be created as well.

@smarterclayton

[2016-12-15 21:12] deads2k opened #3 "client connections from outside the cluster to the API are killed after 30 seconds"
Making a connection from outside the CI cluster to the API are killed after 30 seconds. You can see this the network pane from a browser, via the CLI using the `-w` flag, and via direct curl statements.

When you make API requests from inside the cluster, the connections are not killed.  Use curl from inside a pod (since there's the in-cluster config bug preventing reasonable use of the tools: htt

[2016-12-15 21:14] deads2k commented on #1
and if you fake that with a host file, you get `v2 ping attempt failed with error: Get https://docker-registry-default.svc.ci.openshift.org:443/v2/: x509: certificate is valid for router.default.svc, router.default.svc.cluster.local, not docker-registry-default.svc.ci.openshift.org
`

[2016-12-16 00:53] smarterclayton commented on #3
Yes, the master is behind a GCE load balancer.  Might be a gap in the ref arch we need to fix.

[2016-12-21 15:04] cgwalters commented on #1
This is going to block a "production" deployment of some of our CI infra (Homu at first) to this cluster.

[2016-12-21 16:44] stevekuznetsov commented on #1
Renaming the route is simple - we'll get this fixed for the next redeploy, likely first week of January

[2016-12-21 18:55] smarterclayton commented on #1
I just haven't bothered to automate this but until we get the docker issue sorted, it will be part of the next drop.

[2016-12-22 19:21] cgwalters opened #5 "ENOSPC on build"
[code]

[2017-01-04 05:34] smarterclayton commented on #5
Interesting, somehow we managed to blow out the node.

[2017-01-05 19:01] cgwalters commented on #5
Can we figure out a model for having more people help with operations here?

[2017-01-09 23:09] smarterclayton commented on #5
Was due to log rotation.  fixed in openshift/origin-gce

[2017-01-09 23:09] #5 closed

[2017-01-12 16:35] cgwalters opened #11 "registry certs broken?"
[code]

[2017-01-12 21:20] smarterclayton commented on #11
Yes, broke this accidentally with a change to the gce playbook.

[2017-01-12 21:20] smarterclayton commented on #11
Fixing now.

[2017-01-12 22:28] smarterclayton commented on #11
Fixed

[2017-01-12 22:28] #11 closed

[2017-01-13 17:50] cgwalters opened #12 "builds time out"
[code]

BTW I'm still interested in figuring out how more people can participate in ops here.

[2017-01-17 22:01] cgwalters commented on #12
Should we be looking at using a different cluster for this?

[2017-01-21 02:03] cgwalters commented on #12
My build config was broken, I jumped too quickly to thinking cluster issue.  Sorry for the noise.

[2017-01-21 02:03] #12 closed

[2017-02-02 20:14] smarterclayton commented on #3
The load balancer has a "detect dead backends when they don't send any response within X seconds".  I set it to 2 minutes, but this is actually more of a bug in our watch logic (where we wait to send *any* bytes).  I may move this upstream.

[2017-02-09 19:25] smarterclayton opened #17 "test_pull_requests_origin_gce sometimes fails because items are not copied in"
This is either some sort of bug in docker cp (race condition) or the up.sh script.

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_gce/397/console

[code]

[2017-02-09 22:16] smarterclayton commented on #17
Actually, it failed earlier and the error was hard to spot.

[2017-02-09 22:16] #17 closed

[2017-03-31 19:41] cgwalters opened #24 "services inaccessible ⛔"
I just tested these:

https://homu-projectatomic-ci.svc.ci.openshift.org/
https://jenkins-ci.svc.ci.openshift.org/

The pods/services appear up - some sort of issue with our GCE usage?

[2017-04-01 02:10] stevekuznetsov commented on #24
I just hit HOMU earlier today and it worked, weird -- we can look at the dashboard on Monday.

[2017-04-03 14:30] cgwalters commented on #24
@stevekuznetsov ping - anything I can do to help debug this?  Are there any other services on the cluster which *are* accessible?

[2017-04-03 14:43] stevekuznetsov commented on #24
/cc @smarterclayton

[2017-04-03 15:56] cgwalters commented on #24
I tried [building a new app](
https://api.ci.openshift.org/console/project/projectatomic-ci/browse/builds/testapp/testapp-1?tab=logs), seems there are issues pushing to the registry as well:

[code]

[2017-04-04 15:11] cgwalters commented on #24
I'm going to redeploy this bot in another cluster.  Will keep the issue open in case there's interest in keeping this cluster up.

[2017-04-04 15:14] cgwalters commented on #24
Specifically moving Homu to https://homu-projectatomic-ci-infra.e8ca.engint.openshiftapps.com/

[2017-04-04 18:09] smarterclayton commented on #24
Well, the easy answer is that someone deleted everything out of the default namespace.  So the router and registry got deleted.  Wonder who would do that?

[2017-04-04 18:13] smarterclayton commented on #24
I'll have to rebuild the cluster when I'm back from PTO

[2017-04-04 19:01] cgwalters commented on #24
No urgency, our redeployment is working.  Enjoy your vacation! 🌴

[2017-04-08 22:02] smarterclayton commented on #24
cluster is rebuilt, https://github.com/openshift/release/pull/26 contains more automation towards it.  Still need to automate registry-console setup, get destinationCACertificate automatically injected by router.

[2017-04-23 23:05] smarterclayton commented on #24
This was resolved now.  There's a manual step I had to fix and automate in
the makefile.

On Mon, Apr 3, 2017 at 11:56 AM, Colin Walters <notifications@github.com>
wrote:

[2017-05-17 19:36] #24 closed

[2017-07-13 18:48] stevekuznetsov opened #40 "Node Out of Storage"
Seen [here](https://api.ci.openshift.org/console/project/ci/browse/builds/gubernator/gubernator-1?tab=logs) on node `origin-ci-ig-n-khlp`:

[code]

/cc @kargakis @smarterclayton

[2017-07-13 22:04] stevekuznetsov commented on #40
The physical volume is ~95% full -- is there or is there not anything that will be cleaning up local daemon storage on these nodes?

[code]

[2017-07-13 22:08] stevekuznetsov commented on #40
@smarterclayton looks like the other node died?

[code]

[2017-07-13 22:12] stevekuznetsov commented on #40
@smarterclayton @csrwng also super unclear what I did wrong here but for whatever reason the GAE image that I am referencing in the Gubernator build just keeps getting pulled into the node ... so many tags of it and of origin on there:

[code]

[2017-07-13 22:13] stevekuznetsov commented on #40
/cc @sdodson on how to appropriately manage storage on that node

[2017-07-13 23:02] sdodson commented on #40
That actually looks like it's ok based on the output of lvs. You're looking at the node where that build ran, right?

[2017-07-13 23:21] stevekuznetsov commented on #40
@sdodson yeah, this is the right node.

[code]

[2017-07-13 23:31] stevekuznetsov commented on #40
@sdodson @smarterclayton I am not certain why `docker` would tell me ` Data Space Available: 15.18 GB` whereas the `pvs/lvs/vgs` is telling me otherwise.

[2017-07-13 23:32] stevekuznetsov commented on #40
@smarterclayton can we also confirm that [`origin-ci-ig-n-pp7z`](https://www.googleapis.com/compute/v1/projects/openshift-gce-devel/zones/us-central1-a/instances/origin-ci-ig-n-pp7z) is supposed to be a node in this cluster? The name seems appropriate but it doesn't seem to have been provisioned correctly...

[2017-07-14 02:07] sdodson commented on #40
Any chance it was just garbage collection lag? Like it ran out of space before GC kicked in and space has susbsequently been freed? It would've tripped the threshold with about 7.5GB more usage than current.

https://github.com/kubernetes/kubernetes/pull/40432 may need to be pulled in in order to ensure GC triggers before we hit that limit, doesn't look like it's in 1.6?

[2017-07-14 13:35] stevekuznetsov commented on #40
We were in this bad state for ~4h yesterday. Let me check again today.

[2017-07-14 13:36] stevekuznetsov commented on #40
Exact same state toady

[2017-07-14 13:47] stevekuznetsov commented on #40
Looks like we did finally trigger some GC and are in a better state today.

[2017-07-14 13:47] sdodson commented on #40
The node logs show these garbage collection events which clear about 7GiB of image space. So I think we just need to drop the garbage collection threshold a bit so it kicks in before we hit the 10% min free docker value. Also, it's not cleaning up images that are associated with dead containers so we need to make sure that we're garbage collecting dead containers.

[code]

[2017-07-14 13:48] stevekuznetsov commented on #40
@derekwaynecarr is this the issue you were warning us of before -- where Docker GC % and Kubelet GC % would need to be tuned correctly or there would be DOS?

[2017-07-14 14:14] stevekuznetsov commented on #40
We're not explicitly setting anything for kubelet arguments on disk eviction, so we're getting default values, I guess. @sdodson should we make sure that the installer is setting an appropriate value for this? As per @derekwaynecarr suggestion we need to have the kubelet be more aggressive than Docker on this as Docker will refuse to do anything if the pull or whatever would use more space than th

[2017-07-14 14:19] sdodson commented on #40
It's already 85% on master https://github.com/openshift/origin/commit/baebfd71d5b

[2017-07-14 14:26] stevekuznetsov commented on #40
Hm.

[2017-07-14 14:26] stevekuznetsov commented on #40
That gives us a 3.75GB buffer for LVM. That is larger than any image we were pulling...

[2017-08-16 16:57] stevekuznetsov opened #83 "needs-api-review label should not be applied for service catalog"
/cc @derekwaynecarr @kargakis

[2017-08-17 10:56] kargakis opened #86 "Enable the munger responsible for rerunning old tests"
@stevekuznetsov

[2017-08-17 10:57] kargakis commented on #86
Ideally, it should be added as a periodic job in prow.

[2017-08-30 15:48] stevekuznetsov commented on #2
@smarterclayton something about your setup still fails this

[2017-09-01 15:15] stevekuznetsov opened #114 "bail out of gcs upload if no secret exists"
but fail hard if a flag is set so we can catch errors in ci config

/assign @csrwng

[2017-09-02 00:28] kargakis commented on #86
/area prow

[2017-09-03 22:16] origin-poc commented on #86
/joke

[2017-09-07 19:19] kargakis opened #125 "prow should use roles instead of clusterroles"
Only caveat is that we may choose to run test pods created by plank on a different namespace (and then we would need to adjust both plank and sinker permissions). We can probably live with the status quo since most test load will run via pods created by Jenkins in a different cluster.

[2017-09-07 19:20] kargakis commented on #125
/area prow

[2017-09-07 19:22] kargakis opened #126 "Run the submit queue separately from the rest of the mungers"
Should ease up the sq deployment until we switch to tide.

/area mungegithub

[2017-09-07 19:23] kargakis commented on #86
/area mungegithub

[2017-09-07 19:23] kargakis commented on #86
/area prow

[2017-09-17 09:38] kargakis opened #149 "Split prow secrets out to separate make targets"
/area prow

[2017-09-17 09:39] kargakis commented on #149
/kind release-blocker

[2017-09-17 12:17] kargakis opened #152 "Remove unrelated builds from the ci namespace"
kube-state-metrics, kubernetes-autoscaler, node-exporter, prometheus, prometheus-alertmanager, oauth-proxy, and their binary builds

All of the above builds should probably move into a separate namespace as they are not directly related to any of the services we run inside ci (and shouldn't). Ever since we moved prow builds alongside their deployments, it has been really hard to go through the lis

[2017-09-17 16:14] stevekuznetsov commented on #152
Yeah, unclear. Do we just want to have a namespace per project? Or one with all of them? I created an issue on the web console, there isn't a good overview of chained builds today that don't result in a deployment. At the same time though we want a good dashboard to keep track of release pipelines for all projects. Soon Origin will be in that mix. For ease of use in downstream projects, I think we

[2017-09-17 23:45] smarterclayton commented on #152
I don't really want one namespace per, that gets annoying.  These are all
related builds.  Create separate namespaces for different people or
different security zones, but don't do it because you can.

This is also just a limitation of the current UI - we should take feedback
to sam about how certain sized lists start to be less useful.

On Sun, Sep 17, 2017 at 12:14 PM, Steve Kuznetsov <notificat

[2017-09-18 00:31] stevekuznetsov commented on #152
Issue I created: https://github.com/openshift/origin-web-console/issues/2008

[2017-09-18 09:22] kargakis commented on #152
This is not about the console only. `oc get builds` is no fun no more.

[2017-09-18 12:05] kargakis opened #156 "Move jenkins-proxy config files alongside prow config"
https://github.com/openshift/release/blob/master/tools/jenkins-proxy/config.json
https://github.com/openshift/release/tree/master/tools/jenkins-proxy/openshift

These should move in https://github.com/openshift/release/tree/master/cluster/ci/config/prow

/area prow

[2017-09-18 12:06] kargakis commented on #152
Or `oc get po`. I end up running `kc get po` just because `kubectl` defaults to `--show-all=false`. :)

[2017-09-18 14:34] #149 closed

[2017-09-21 22:19] smarterclayton opened #166 "Kill PUSH_SECRET in image templates"
Or make it more useful.  Most people never need it if they're building to the same image stream, it's annoying.

[2017-09-22 11:49] kargakis opened #169 "Jenkins proxy needs to be able to decode booleans from Jenkins"
https://github.com/kubernetes/test-infra/pull/4630 will force prow to use the Jenkins proxy for all Jenkins requests (queue requests are bypassing it so far, see https://github.com/kubernetes/test-infra/issues/4366#issuecomment-329167063). Inside the proxy, we are [unmarshaling](https://github.com/openshift/release/blob/b56c70efef1dbc11897489a40839d97694e01690/tools/jenkins-proxy/proxy.go#L329) al

[2017-09-22 12:01] kargakis commented on #169
/assign

[2017-09-22 13:36] csrwng commented on #166
The image templates are meant to be instantiated by a Jenkins pipeline. When we create a build directly, the push/pull secrets don't get automatically populated (as when you instantiate one from a buildconfig). Should we change the build controller to do so?

[2017-09-22 14:10] stevekuznetsov commented on #169
Surprising since they _are_ strings, no?

[2017-09-22 14:13] kargakis commented on #169
No, they are not. Example:
[code]
We need to handle the conversion outside of json.Unmarshal.

[2017-09-22 14:18] stevekuznetsov commented on #169
Jenkins is literally the worst.

[2017-09-22 16:03] #169 closed

[2017-09-22 16:06] kargakis commented on #169
Btw, the job that caused this issue shouldn't run in the first place:
https://ci.openshift.redhat.com/jenkins/job/test_origin_branch/

I remember that I had disabled it when we enabled postsubmits, not sure why it's enabled again.
https://deck-ci.svc.ci.openshift.org/?type=postsubmit

[2017-09-22 16:20] stevekuznetsov commented on #169
@kargakis i did a push of everything after the jenkins reboot so we had up-to-date configs

[2017-09-28 00:50] stevekuznetsov opened #185 "submit-queue deploymentconfigs invalid"
On master:

[code]

The generated DC is:

[code]

Nothing has changed since I duped this to create the OpenShift-Ansible deployment, and applying that worked fine before... is this a client regression?

/kind bug
/assign @kargakis
/cc @smarterclayton

[2017-09-28 00:51] stevekuznetsov commented on #185
/cc @jupierce

[2017-09-28 08:23] kargakis commented on #185
@stevekuznetsov you had updated the manifests w/o making the changes in the cluster (https://github.com/openshift/release/commit/2f2441ae209c163145ebcd2e6a622283b3baebd7#diff-b145b556ad63fff1ad69c134c2ee1d8c). Template label changes are the worst to deal with so they should never be left to the next redeployment.

I had stumbled across this when I redeployed prow a while back but didn't know that

[2017-09-28 09:27] kargakis commented on #185
Btw, apply sucks when defaulting is involved.

[2017-09-28 09:27] #185 closed

[2017-09-28 12:46] kargakis opened #187 "Jenkins proxy config needs syncing"
https://github.com/openshift/release/blob/master/tools/jenkins-proxy/config.json diverges from what's in our cluster

@stevekuznetsov @csrwng

[2017-09-28 15:09] #187 closed

[2017-09-28 15:19] kargakis opened #189 "Extend the jenkins proxy to use the prow config"
Then we take advantage of the `config-updater` plugin for the proxy too.

cc @stevekuznetsov

[2017-09-28 19:20] csrwng commented on #166
@smarterclayton ^^ created origin issue: https://github.com/openshift/origin/issues/16609

[2017-09-28 19:55] csrwng opened #193 "Jenkins proxy dies when kicking off a new job"
Starting a new job on the jenkins proxy caused it to crash. (/test verify-origin). It was crashing previously when invoking a different test (/test ut-origin).  I stopped retrying the build and eventually after a while it stopped crashing on *that* test.

There's no stack dump in the log when this happens:
[code]

[2017-09-28 19:55] csrwng commented on #193
@kargakis

[2017-09-28 20:05] stevekuznetsov commented on #193
@kargakis this is what killed us in the past I am sure

[2017-09-28 20:05] stevekuznetsov commented on #193
Looks like a job with no builds is no bueno for the proxy

[2017-09-28 20:17] stevekuznetsov opened #194 "implicit self-approval has been turned off"
@deads2k @bparees y'all noticed this ...

@kargakis did we turn this off on purpose? If so we should send out an e-mail

[2017-09-28 20:21] bparees commented on #194
i think we should treat it like a test and see who else notices/asks.

On Thu, Sep 28, 2017 at 4:17 PM, Steve Kuznetsov <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2017-09-28 20:24] deads2k commented on #194
Really hope not.  If I opened the pull, I approved.

[2017-09-28 20:42] bparees commented on #194
@deads2k you and i are in disagreement on that. :)

[2017-09-28 20:42] bparees commented on #194
(I don't want drive-by /lgtms merging PRs I opened and forgot to mark WIP)

[2017-09-29 08:36] kargakis commented on #194
Ummmm, we never added the option in the config so it's turned off by default ever since we pulled in your changes?

[2017-09-29 11:30] kargakis commented on #193
The proxy crash is fixed in https://github.com/openshift/release/pull/196.

[2017-09-29 11:30] #193 closed

[2017-09-29 15:49] deads2k commented on #194
Naturally.  What percentage of your pulls would say that you open as WIP *and* fail to tag as such *and* end up with a drive-by deciding to merge it?  Having to type it means that 100% of my pulls require me to take extra steps.

[2017-09-29 15:52] bparees commented on #194
And if 100% of your PRs had no bugs, we wouldn't need to take extra steps to test them either...  :)

To me it's about process.  Opening a PR is not the same as approving a PR, PRs should be explicitly approved (if only by the originator) to make the intent clear, imho.

[2017-09-29 17:07] stevekuznetsov commented on #194
@kargakis weird -- this is definitely a recent change in behjavior

[2017-09-29 17:24] #194 closed

[2017-09-30 03:01] kargakis commented on #189
/assign

[2017-10-02 11:13] #189 closed

[2017-10-02 13:03] kargakis commented on #156
/assign

[2017-10-02 13:03] kargakis commented on #156
Fixed by https://github.com/openshift/release/pull/204

[2017-10-02 13:03] #156 closed

[2017-10-02 14:23] kargakis opened #207 "Setup make targets for the mungers"
/kind upgrade-blocker
/assign stevekuznetsov

[2017-10-02 14:29] stevekuznetsov commented on #207
guilty :)

[2017-10-02 17:10] #207 closed

[2017-10-03 20:46] csrwng opened #213 "Origin image builds updates"
Make the following changes to origin builds/images:

1. Remove use of umask in Dockerfile commands and instead change /etc/bashrc or /etc/profile
2. Rename origin-base to build-base/build-daily/build-cache
3. Change the origin-base Dockerfile to clone in one layer and do the chmod and whatever else in a separate layer (also may not be needed if we set the umask in /etc/profile)
4. Rename origin-so

[2017-10-05 05:03] stevekuznetsov opened #221 "submitqueue stuck on missing build"
seen on https://github.com/openshift/openshift-ansible/pull/5564

seems like a missing context but the context is empty?

![screenshot from 2017-10-04 22-02-30](https://user-images.githubusercontent.com/7328370/31211662-ca9dfd6c-a94f-11e7-8d5a-35be758b956c.png)

[2017-10-05 05:07] stevekuznetsov commented on #221
From the munger logs

[code]

[2017-10-05 05:07] stevekuznetsov commented on #221
/cc @kargakis @jcantrill

[2017-10-05 05:08] stevekuznetsov commented on #221
Maybe just GitHub flakiness?

[2017-10-05 08:47] kargakis opened #222 "Instructions on how to update a pipeline job"
I am trying to update the pod template used by our unit tests in order to try out a few different approaches and I am lost as to how to proceed. This [README](https://github.com/openshift/release/blob/master/cluster/ci/origin/README.md) talks about pipeline instantiation but not about updating stuff. It would be nice to walk through an update scenario.

/assign @csrwng

[2017-10-05 10:39] kargakis commented on #221
Yeah, this is a Github issue. This shouldn't be a problem with `tide`.

[2017-10-05 11:05] kargakis commented on #222
I guess I am asking for something similar to the upstream [getting started](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started.md#add-more-jobs-by-modifying-configyaml) guide but scoped to working with our pipelines. Also, new-app is etoomuch dark magic since it mutates the generated artifacts in very subtle ways. Can we simply use `oc process`?

[2017-10-05 14:20] #221 closed

[2017-10-05 14:26] csrwng commented on #222
Yup, will write a doc today. All new-app does is add an app label if none is present, but yes, we can switch to process in the instructions.

Just fyi, the pod template for unit tests is here:
https://github.com/openshift/release/blob/master/cluster/ci/origin/config/unit-tests.yaml

[2017-10-05 22:53] kargakis opened #235 "Caused by: java.lang.IllegalStateException: This build is not parameterized!"
Seeing this error in the new jenkins master
[code]
Seems like parameters are removed from all jobs.

/assign @csrwng

[2017-10-05 22:54] kargakis commented on #235
cc @stevekuznetsov

[2017-10-05 23:01] csrwng commented on #235
@kargakis so I naively went and updated the memory limit for the Jenkins server which caused a redeploy. Because we're not using a pv, all jenkins data was blown away. The jobs are now recreated brand new by the jjb controller, but previous run data is gone.

Because Jenkins hasn't run a pipeline job, it doesn't know what parameters it takes. One option to fix this for new jobs is just to specify

[2017-10-05 23:03] kargakis opened #238 "Move jobs on prow"
https://jenkins-origin-ci.svc.ci.openshift.org/job/origin-ci-base-image-pipeline/
https://jenkins-origin-ci.svc.ci.openshift.org/job/origin-ci-build-tools/

We probably want to run these as presubmits whenever something changes in the underlying sources. We will also take advantage of max_concurrency because running them outside of prow bypasses the field.

cc @stevekuznetsov @csrwng

[2017-10-05 23:05] csrwng commented on #238
@kargakis I guess that means we need to redefine them as standalone jobs and remove the corresponding pipeline buildconfig

[2017-10-05 23:07] kargakis commented on #238
Can't we use jenkins to trigger from the build configs?

[2017-10-05 23:10] kargakis opened #239 "Ensure new jenkins data is persisted"
Now that we run blocking PR jobs.

/assign @csrwng @stevekuznetsov

[2017-10-05 23:11] kargakis commented on #235
Opened https://github.com/openshift/release/issues/239 to track persisting the new jenkins data.

[2017-10-06 01:57] csrwng commented on #238
we can... still means that we need a standalone jenkins job. Might as well create one to do the actual build. The Jenkins jobs are really trivial to define because all they need is a SCM location for the pipeline to run.

[2017-10-06 02:23] csrwng commented on #239
Added pv to jenkins on origin-ci ... but we really need a make target to set everything up. Will create a PR for that

[2017-10-06 09:41] kargakis commented on #235
I had to manually start the pipelines for the parameters to be picked up. There were other failed jobs already so I am not sure why the parameters weren't there in the first place. I also had to rekick a bunch of PR jobs that were broken because of this. Not the best experience. We need to automatically get the parameters from start.

[2017-10-06 10:56] csrwng commented on #235
Agreed. If I add them to the jjb yaml definition, they should come up from the beginning. Will test that today.

[2017-10-09 08:13] kargakis opened #245 "PULL_NUMBER is not required for batch jobs"
[code]
https://jenkins-origin-ci.svc.ci.openshift.org/job/origin-ci-ut-origin/62/parameters/
https://deck-ci.svc.ci.openshift.org/log?job=origin-ci-ut-origin&id=62

@csrwng @stevekuznetsov

[2017-10-09 09:15] kargakis commented on #125
Fixed by https://github.com/openshift/release/pull/212

[2017-10-09 09:15] #125 closed

[2017-10-09 12:21] #245 closed

[2017-10-09 12:29] csrwng commented on #239
@kargakis not sure how a statefulset would help us. afaik jenkins only supports a single master.

[2017-10-09 12:31] kargakis commented on #239
The pattern deployment+pvc is really a statefulset, independent of scaling.

[2017-10-09 13:08] stevekuznetsov opened #251 "pipelines: tracking issue for tests"
Let's use this place to track the issues we have had with the roll-out of the new jobs.

@kargakis @csrwng

[2017-10-09 13:10] stevekuznetsov commented on #251
Quota was added in https://github.com/openshift/release/pull/218 that was too low on both CPU and RAM, causing tests to time out or get OOMkilled. Addressed by https://github.com/openshift/release/pull/227 https://github.com/openshift/release/pull/244

[2017-10-09 13:12] stevekuznetsov commented on #251
Pods were GC'ed by pipelines themselves causing debugging to be difficult. Instead, label and allow for `sinker` to take care of them as necessary https://github.com/openshift/release/pull/225 https://github.com/openshift/release/pull/231 https://github.com/openshift/release/pull/248

[2017-10-09 13:13] stevekuznetsov commented on #251
Attempting to idempotently start builds  in all downstream jobs caused races in build creation. Instead, always launch build job and just wait downstream https://github.com/openshift/release/pull/240

[2017-10-09 13:14] kargakis commented on #251
Jobs cannot be built with parameters when they are checked in Jenkins, causing failures in prow: https://github.com/openshift/release/issues/235

[2017-10-09 16:40] csrwng opened #252 "document the jjb controller and configmaps for jenkins stand-alone jobs"
Follow up to https://github.com/openshift/release/pull/236

[2017-10-10 12:44] stevekuznetsov commented on #251
@csrwng edited the `release-ci` utility in https://github.com/openshift/release/pull/255 and we did not update the Jenkins node image. The integration pipeline was still using the node image for scheduling and was launching the builds but waiting for an incorrect imagestream to exist after the fact since the build was scheduling onto the Jenkins master and using the newer logic for determining the

[2017-10-10 13:47] csrwng commented on #251
Addressed by https://github.com/openshift/release/pull/236

@stevekuznetsov why? Using 'agent any' in the pipeline should not require a slave. (https://github.com/openshift/release/pull/256#pullrequestreview-68099836)

[2017-10-10 14:16] stevekuznetsov commented on #251
It was a bug that has since been fixed, but the general issue of `release-ci` updates not automatically propagating to builds remains

[2017-10-10 14:40] stevekuznetsov opened #259 "pipelines: batch jobs are uploading artifacts to the wrong place"
not seeing anything e.g. here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/origin-ci-ut-origin/112/

[2017-10-10 17:48] kargakis opened #260 "new unit test job can take up to 2h to complete"
https://jenkins-origin-ci.svc.ci.openshift.org/job/origin-ci-ut-origin/123/

@stevekuznetsov @paradigm @csrwng

[2017-10-10 17:51] kargakis commented on #260
More runs where it took more than an hour to complete

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16722/origin-ci-ut-origin/124/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16777/origin-ci-ut-origin/125/

It takes a lot of time to fail too:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16741/origin-ci-ut-origi

[2017-10-10 19:19] stevekuznetsov commented on #260
With https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16741/origin-ci-ut-origin/120/

Looks like the timing breakdown is

clone: 2m4s
compile: 26m40s
test: 18m39s

so that is 49m14s overall... is the rest spent scheduling?

[2017-10-10 19:26] stevekuznetsov commented on #251
Tests are taking much longer to complete than their constituent parts do #260

[2017-10-10 19:39] stevekuznetsov commented on #260
Test pod:

| state | time|
| - | - |
| creationTimestamp | 2017-10-10T15:40:33Z |
| PodScheduled | 2017-10-10T15:55:57Z |
| Initialized | 2017-10-10T15:56:23Z |
| Ready | 2017-10-10T16:15:04Z |

[2017-10-10 19:57] csrwng commented on #260
The long time to fail could be caused by a failed build, and that's a known issue

[2017-10-10 20:08] stevekuznetsov commented on #260
Looks like in my example we took 15 minutes to schedule the unit test job, so that brings our total time up but it's still not accounting for the full 2h... maybe it was time _before_ the first build was even created? let me add in when deck thinks we started the jenkins job

[2017-10-10 20:11] stevekuznetsov commented on #260
Prow thinks it launched the job at Oct 10 15:10:36

[2017-10-10 20:11] stevekuznetsov commented on #260
So only one minute to start the first build

[2017-10-10 20:11] stevekuznetsov commented on #260
?!?

[2017-10-10 21:39] stevekuznetsov opened #265 "jenkins-operator: DOS possible from poor prow config"
When we added a Prow job configuration entry with a bad name, the resulting ProwJob causes the `jenkins-operator` to fail to grab jobs from the `jenkins-proxy` on a 404 with the bad name:

[code]

This aborts the sync-loop early for the operator and effectively kills the controller. Only recourse is to manually delete the offending `ProwJobs`.

/kind bug
/area jenkins-proxy
/cc @kargakis

[2017-10-10 21:41] stevekuznetsov opened #266 "pipelines: when a build fails, dependent jobs wait 2h to timeout"
When a build fails to compile or push the requisite `ImageStreamTag` the dependent builds have no way to early-exit

[2017-10-10 21:41] stevekuznetsov commented on #266
/kind bug
/cc @csrwng

[2017-10-10 23:41] kargakis opened #267 "Write a pipeline build controller for prow"
It will likely be a better deployment to have a separate top level controller in prow rather than the jenkins proxy. We need finer grained top-level config eg. `max_concurrency` today is set in the jenkins-operator and applies to all jobs running in all masters.

Needs to turn into a trello card.

[2017-10-11 09:52] kargakis commented on #265
This is an issue with the operator and not the proxy.

[2017-10-11 17:29] stevekuznetsov opened #271 "pipelines: build pods don't get the prow labels, sinker ignores them"
There doesn't seem to be a simple way to get the build pods to be labeled with `created-by-prow=true` so they stick around. We also don't have the `BuildConfig`-level history limits. Maybe `sinker` can delete the `Build`s themselves and cascade to get the `Pod`?

/cc @kargakis @csrwng

[2017-10-11 19:27] kargakis commented on #271
We can't change sinker to handle builds w/o patching. Better have a GC controller for builds. Even better, assuming we had a top-level prow controller for builds (https://github.com/openshift/release/issues/267), we could make it set owner references from prow jobs to builds, so prowjob deletion could cascade to builds+pods thanks to the k8s GC.

[2017-10-12 11:30] stevekuznetsov commented on #251
Re-building the Jenkins image led to this: https://issues.jenkins-ci.org/browse/JENKINS-40117

none of the jobs run any longer, fail with:

[code]

[2017-10-12 11:41] csrwng commented on #251
@stevekuznetsov was this when the Jenkins image was rebuild as part of the build-tools pipeline build ?

[2017-10-12 11:42] csrwng commented on #251
@stevekuznetsov the jenkins image in namespace openshift is 2.6 whereas the one in ci-origin is 2.7. However, I thought we were using the one from the openshift namespace.

[2017-10-12 11:56] stevekuznetsov commented on #251
I do think it was when we rebuilt that tools pipeline, yes. Doing a recreate deployment just now has brought it back into a functional state

[2017-10-12 12:46] #265 closed

[2017-10-13 17:34] stevekuznetsov opened #283 "pipelines: need better metrics for health signal"
We need to start brainstorming about Prometheus metrics we can be using to track the health of the system

/cc @kargakis @csrwng @paradigm

[2017-10-13 17:35] stevekuznetsov commented on #283
Some ideas:

 - time for test pods to go from created to scheduled
 - breakdown of reasons (???) why test pods get killed (is it OOM? is it the process dying?)
 - for well-known stage names in the pipelines, runtime duration over time for each stage
 - jenkins health/heartbeat?

[2017-10-14 02:58] kargakis commented on #283
Yes on everything.

[2017-10-16 18:46] stevekuznetsov opened #287 "path-label: better label for upstream pulls necessary"
From [here](https://github.com/openshift/origin/pull/16864#issuecomment-336990150):

/assign @kargakis

[2017-10-16 21:24] stevekuznetsov opened #289 "pipelines: use origin feature to deref imagestreamtag in podspec"
we're still doing the imagestreamtag-->imageref dereference in groovy and passing in the ref to the pod template for tests. we should move to the origin flow

/cc @csrwng

[2017-10-16 22:23] kargakis commented on #289
Does an `area/pipelines` label SGTY?

[2017-10-17 00:43] stevekuznetsov commented on #289
Hell yeah it does

[2017-10-18 14:57] stevekuznetsov commented on #251
Yesterday we entered a state in Jenkins where a huge proportion of our pipelines fail with

[code]

It has not resolved itself overnight. @csrwng is looking into keeping the heap size of Jenkins the same while increasing the memory limit quota for the pod so the non-JVM processes can still grow.

[2017-10-18 15:20] stevekuznetsov commented on #251
Did a restart, seeing again:

[code]

Full stack:

<details>
<summary>Full stacktrace</summary>

[code]

</details>

[2017-10-18 15:21] csrwng commented on #251
We can modify the request/max memory to something higher and then set a percentage for the memory allocated to the jvm with the CONTAINER_HEAP_PERCENT variable. (See `test-jenkins` namespace on api.ci) By default that percent is set to 0.5. As long as it works out to no more than 2GB jvm memory we can keep the architecture to 32-bit (which you control with `OPENSHIFT_JENKINS_JVM_ARCH` - possible v

[2017-10-18 15:29] bparees commented on #251
setting heap won't affect the metaspace, it's hardcoded to 100meg unless you override all the java opts.

https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L144

we're changing that soon.

[2017-10-18 15:34] bparees commented on #251
(changing here: https://github.com/openshift/jenkins/pull/396)

[2017-10-18 15:34] bparees commented on #251
no idea what's up w/ the classpath issue, @gabemontero and @jupierce should be able to help though.

[2017-10-18 15:34] stevekuznetsov opened #293 "only schedule infra to infra nodes"
we need to label a node or two to contain our CI infra (and add selectors to our infra pods) so we can't DOS ourselves by taking up all schedulable space with tests

/cc @kargakis @csrwng @smarterclayton

[2017-10-18 15:35] stevekuznetsov commented on #293
This would also help us deploy the daemonsets for aggregated logging

[2017-10-18 15:38] kargakis commented on #287
I like `vendor-patch` or `vendor-change`.

[2017-10-18 15:39] kargakis commented on #287
Or `vendor-update`

[2017-10-18 15:39] kargakis commented on #287
@smarterclayton @soltysh @sttts @mfojtik @deads2k  thoughts

[2017-10-18 15:40] jupierce commented on #251
Looks like the Enum issue is known:

https://issues.jenkins-ci.org/browse/JENKINS-40117
and
https://stackoverflow.com/questions/40854472/java-lang-classnotfoundexception-java-langenum-in-jenkins-2-0-while-executing

[2017-10-18 15:42] sttts commented on #287
is it for PRs changing vendor/ (like adding or bumping a dependency) or just for those with new UPSTREAM commits?

[2017-10-18 15:43] soltysh commented on #287
+1 for `vendor-change` or `vendor-update`. `needs-upstream` with red gives you false information about it. This is more of an information about the contents of the PR.

[2017-10-18 15:50] kargakis commented on #287
What's the difference between the two? Both change `/vendor`, no?

[2017-10-18 15:54] kargakis commented on #287
OK, I've changed the label to `vendor-update` and the color to something akin to turquoise. Let me know if you have any objections.

[2017-10-18 15:54] #287 closed

[2017-10-18 15:56] kargakis opened #294 "Use label-sync to sync labels between repositories"
cc @stevekuznetsov @paradigm

https://github.com/kubernetes/test-infra/tree/master/label_sync

[2017-10-18 15:58] stevekuznetsov commented on #251
Yeah I had found those bugs before but it didn't seem like anyone had a way around it ... unless the upgrade to Groovy is what we need

[2017-10-18 17:42] stevekuznetsov commented on #251
Imported latest base image for Jenkins, which has the Groovy fix linked above

[2017-10-18 18:04] gabemontero commented on #251
OK hopefully the new images helps.  A couple of add-ons:

1) to @stevekuznetsov 's question in an associated email thread, no reports from customers of similar issues

2) I'm having trouble bringing up the https://issues.apache.org/jira/browse/GROOVY-8160 link noted in the stack overflow link @jupierce noted for us, so I haven't been able to digest all the specifics, but in a general sense, groovy

[2017-10-18 22:33] kargakis opened #299 "openshift-bot got ratelimited"
https://deck-ci.svc.ci.openshift.org/log?job=periodic-retester&id=920775105473155072
[code]

@stevekuznetsov what else are we using this for? Repos still using test-pull-requests?

[2017-10-19 03:45] stevekuznetsov commented on #299
@dobbymoodge would know... our re-testing is not causing this, that's for sure

[2017-10-19 12:12] kargakis opened #302 "Need for a way to redeploy prow components individually"
Today a push to the the prow imagestream, triggered by something like `oc start-build bc/prow`, is the only way to update prow. This is problematic when we want to update components separately (most of the time based on my experience). We likely want to have root build configs for every component, alongside the `prow` build config.

[2017-10-20 11:56] csrwng commented on #235
Fixed with #236

[2017-10-20 11:56] #235 closed

[2017-10-20 14:39] dobbymoodge commented on #299
Another process using the bot creds ran away, the maintainer has switched to another bot account.

[2017-10-20 14:39] #299 closed

[2017-10-26 11:20] kargakis opened #326 "Jenkins builds go missing"
We have had a bunch of reports lately about Jenkins builds being reported as missing in Github. These builds are actually missing from Jenkins, eg. there is no 1671 build for https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install/ or 2911 for https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_in

[2017-10-26 11:23] kargakis commented on #326
/area jenkins

[2017-10-26 11:23] kargakis commented on #302
/area prow

[2017-10-26 13:02] dobbymoodge commented on #326
I suspect these were swallowed when ci.openshift OOMed and had to be rebooted yesterday. Is something breaking because they're missing?

[2017-10-26 13:04] dobbymoodge commented on #326
Maybe there's some additional cleanup we need to do when ci.openshift reboots? If so, we should document that.

[2017-10-26 14:47] stevekuznetsov commented on #326
I think these are the exception and not the norm -- they most likely went missing when we rebooted Jenkins since it did not get a chance to serialize all state onto disk.

[2017-10-26 19:17] stevekuznetsov commented on #271
@csrwng you fixed this right?

[2017-10-26 20:25] csrwng commented on #271
Yes, the pipeline now deletes the builds it creates.

[2017-10-26 21:21] stevekuznetsov commented on #271
/close

[2017-10-26 21:21] #271 closed

[2017-10-27 00:35] kargakis commented on #326
This shouldn't recur then but it is: 4 builds are missing from https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_containerized/ (1524-1527) and these are from today.

[2017-10-27 00:37] kargakis commented on #326
More jobs seems to miss builds too? Did we restart Jenkins again?

[2017-10-27 05:14] stevekuznetsov commented on #283
We want a metric for:

 - % of limit that max rss hits for all of our test pods
 - % of limit that our jenkins pv is at

[2017-10-27 14:14] stevekuznetsov opened #329 "Build pipeline artifacts missing"
Now that we prune builds and build pods we don't have that info anywhere anymroe @csrwng

[2017-10-27 14:25] stevekuznetsov commented on #329
Nevermind, I am just blind
/close

[2017-10-27 14:25] #329 closed

[2017-10-27 14:26] stevekuznetsov commented on #326
@dobbymoodge ^^

[2017-11-01 17:21] kargakis opened #345 "Prometheus issues in api.ci"
1. Getting a 500 in the UI
2. The prometheus log is full of warnings and errors like
[code]
3. One of the node exporters is crashlooping with
[code]
cc: @smarterclayton @stevekuznetsov

[2017-11-01 17:26] smarterclayton commented on #345
Known bug, you have to rsh in, delete the entire data dir, and restart.

On Wed, Nov 1, 2017 at 1:21 PM, Michalis Kargakis <notifications@github.com>
wrote:

[2017-11-01 17:26] smarterclayton commented on #345
Also, update prometheus to rc2 (see my PR to origin) to avoid that issue.

On Wed, Nov 1, 2017 at 1:26 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2017-11-01 17:35] kargakis commented on #345
Interesting - we already run rc2.

[2017-11-01 17:57] smarterclayton commented on #345
Hrm, if so can you find the prometheus issue that reports this and indicate
we're seeing it on rc2 (if the issue was closed - if it's still open
comment that we have a reproducer and try to grab the profiles / whatever
was needed)?

On Wed, Nov 1, 2017 at 1:35 PM, Michalis Kargakis <notifications@github.com>
wrote:

[2017-11-02 11:02] kargakis opened #346 "Jenkins master running out of disk space"
I tried to login earlier and I was getting a stacktrace with a message saying there was no space left in the device. Looking in the jenkins log, I see a bunch of
[code]

Seems to have fixed itself now. The jenkins log goes back until ~last midnight and seems that we had faulty behavior at least since then.

@stevekuznetsov @csrwng

[2017-11-02 11:06] kargakis commented on #346
Things seem to started breaking today around 01:00 UTC

https://deck-ci.svc.ci.openshift.org/?job=origin-ci-ut-origin

[2017-11-02 11:19] kargakis commented on #345
The issue is still open (https://github.com/prometheus/prometheus/issues/3283) but I restarted the server yesterday because I am hunting down a different issue in our prow cluster.

[2017-11-02 11:35] kargakis commented on #345
I can't see any request latency metrics related to prowjobs. Do we collect custom resource metrics in the api server? Specifically, I am interested in request latencies for POSTing prowjobs. Some of our logs hint to slow updates but I don't know whether I can trust that.

http://pastebin.test.redhat.com/528855

Out of 2m35s spent in a single resync, the jenkins-operator spends most of its time (1m

[2017-11-02 12:55] kargakis commented on #346
Ok, this seems to recur non-deterministically

I see it again now:
[code]

[2017-11-02 15:43] stevekuznetsov commented on #346
Classic Jenkins storage issues ... looking into where the storage is used right now, but we should follow what we have in ci.openshift by nuking workspaces and not keeping around old builds. /cc @dobbymoodge may have more fun facts

[2017-11-02 15:44] stevekuznetsov commented on #346
[code]

[2017-11-02 15:45] stevekuznetsov commented on #346
[code]

[2017-11-02 15:47] stevekuznetsov commented on #346
[code]

[2017-11-02 15:47] stevekuznetsov commented on #346
Yeah so if we prune builds and workspaces we should be golden. That's what is currently taking up space.

[2017-11-02 17:08] stevekuznetsov commented on #346
Realized our JJB configmaps did not have the old build deletion in there... so re-pushed, we should see use go down.

[2017-11-02 17:19] stevekuznetsov commented on #293
Instead should be priority or something, this gives us a single point of faiure

/close

[2017-11-02 17:19] #293 closed

[2017-11-02 17:20] stevekuznetsov commented on #251
Jenkins master runs out of space (https://github.com/openshift/release/issues/346)

Fixes:
 - prune builds https://github.com/openshift/release/pull/323
 - prune workspaces https://github.com/openshift/release/pull/348

[2017-11-02 17:28] stevekuznetsov commented on #346
Workspace pruning addressed by #https://github.com/openshift/release/pull/349

[2017-11-03 19:54] smarterclayton commented on #345
We can collect metrics from prow, just update the prow service to have the
prometheus.io/scrape=true annotation

On Thu, Nov 2, 2017 at 7:35 AM, Michalis Kargakis <notifications@github.com>
wrote:

[2017-11-04 10:53] kargakis commented on #345
We already collect metrics from prow (hook for now). What I am asking is metrics from the apiserver about requests to CustomResources.

[2017-11-04 19:44] smarterclayton commented on #345
It looks like a bug, please ping upstream.

On Sat, Nov 4, 2017 at 6:53 AM, Michalis Kargakis <notifications@github.com>
wrote:

[2017-11-06 08:42] kargakis commented on #345
Opened https://github.com/kubernetes/kubernetes/issues/55146

[2017-11-13 09:43] kargakis opened #378 "Unsolicited response received on idle HTTP channel starting with "HTTP/1.0 408 Request Time-out[..]""
Occurs only in the jenkins operator responsible for the new Jenkins master ever since we added the metrics endpoint.
<details>

[code]
</details>

[2017-11-13 22:42] stevekuznetsov commented on #378
/assign @kargakis

[2017-11-15 01:52] stevekuznetsov opened #388 "make jenkins-setup-dev doesn't add release-ci to the jenkins instance"
after a clean run of the bootstrap pipeline i still see:

[code]

/assign @csrwng

[2017-11-18 14:41] kargakis commented on #378
/joke

[2017-11-20 15:06] kargakis commented on #346
@stevekuznetsov @csrwng fixed?

[2017-11-20 15:26] csrwng commented on #346
yes

[2017-11-20 15:26] #346 closed

[2017-11-20 20:07] kargakis commented on #326
Haven't seen this in a while - closing

[2017-11-20 20:07] #326 closed

[2017-11-20 20:08] kargakis commented on #302
Fixed.

[2017-11-20 20:08] #302 closed

[2017-11-20 20:19] kargakis commented on #239
@csrwng is the make target in place now?

[2017-11-20 20:22] #152 closed

[2017-11-20 20:28] kargakis commented on #86
Not a priority, both the SQ and tide always rerun tests for PRs against HEAD before merging.

[2017-11-20 20:28] #86 closed

[2017-11-20 21:13] csrwng commented on #239
Yes it is https://github.com/openshift/release/blob/master/Makefile#L154

[2017-11-20 21:13] #239 closed

[2017-11-21 14:20] kargakis opened #417 "jenkins-config-updater cannot create processedtemplates.template.openshift.io in the namespace "ci""
[code]
from https://github.com/openshift/release/pull/416#issuecomment-346039121

/assign @paradigm @stevekuznetsov

[2017-11-21 15:25] stevekuznetsov commented on #417
Hmmm...

[code]

[2017-11-21 15:25] stevekuznetsov commented on #417
The SA has `edit` role in the namespace, why is this not enough?

[2017-11-21 15:25] stevekuznetsov commented on #417
/cc @bparees

[2017-11-21 16:07] bparees commented on #417
sounds like a security team question.  I don't know why edit wouldn't be able to create that resource.

[2017-11-21 16:17] stevekuznetsov commented on #417
/cc @enj

[2017-11-22 15:53] stevekuznetsov opened #432 "jenkins: zombies are taking over"
/kind bug
/assign @gabemontero
/cc @csrwng @smarterclayton

[code]

<details>
<summary> Full output </summary>

[code]

</details>

[2017-11-22 15:57] stevekuznetsov commented on #432
/cc @jupierce @bparees

[2017-11-22 16:19] gabemontero commented on #432
Seems similar to https://github.com/jenkinsci/docker/issues/54 and one of the issues it references, https://github.com/jenkinsci/docker/issues/161 and https://github.com/gocd/gocd-docker/pull/13

Perhaps with the jenkins image we need to employ the user of supervisord as discussed in https://github.com/jenkinsci/docker/issues/161

Or perhaps `oc` is not properly responding to certain signals as di

[2017-11-22 16:22] bparees commented on #432
welcome to the pid 1 reaper problem.

https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/

what is forking/launching those oc commands?  are you running jobs on the jenkins master?

[2017-11-22 16:49] csrwng commented on #432
Yes these are jobs running in the jenkins master. There's two possible paths... invocations through the openshift client plugin and direct invocations through `sh "oc blah"`

[2017-11-22 16:50] bparees commented on #432
can you do a little debugging to see if both invocation mechanisms are leaving zombies or just one? i'd expect both are.

[2017-11-24 03:02] jupierce commented on #432
When jenkins kills a job, it typically sends a -3. Perhaps the shell could trap this and use it to kill oc.

The step where the plugin builds the shell script:
https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/OcAction.java#L198

could also install a trap that kills off child processes. Prepending the following the actual oc invocat

[2017-11-24 03:23] bparees commented on #432
My understanding is it doesn't matter how you kill it. If the parent
process (in this case jenkins, not an Init system) doesn't collect the exit
code, that's how you get a zombie.

See: https://github.com/jenkinsci/docker/issues/54

We may just have to copy what was done here(use tini as an init system):
https://github.com/jenkinsci/docker/pull/124#issue-95275989

Ben Parees | OpenShift

On Nov 23

[2017-11-24 03:24] bparees commented on #432
@jim-minter probably another good jenkins item to put on your radar.

[2017-11-24 03:24] bparees commented on #432
(also this issue should be moved to the jenkins repo)

[2017-11-24 03:45] bparees commented on #432
Also you can probably avoid this entirely by running all your jobs on a short lived slave pod instead of on master.

[2017-11-24 13:38] kargakis commented on #294
Trello'd: https://trello.com/c/tJNlpkr4/451-ci-sync-github-labels-across-repositories

[2017-11-24 13:38] #294 closed

[2017-11-27 19:39] gabemontero commented on #432
Opened https://github.com/openshift/jenkins/issues/421

Refrained from closing this issue out in case repo maintainers want to monitor the status via this change (where we use the Fixes clause in the jenkins repo PR to close this out in addition to the associated jenkins repo issue)

[2017-11-27 21:35] enj commented on #417
I confirmed that `system:serviceaccount:ci:jenkins-config-updater` has `edit` in the `ci` namespace and can run the `oc process` command.

The `who-can` command is misleading here because discovery fails for `processedtemplates.template.openshift.io` (see https://github.com/openshift/origin/issues/16648):

[code]

Because it runs (see the incorrect `resource` and no `group`):

[code]

Running with

[2017-11-28 18:41] stevekuznetsov commented on #417
😢

[2017-11-29 23:34] bparees commented on #417
@stevekuznetsov @kargakis see my comment in https://bugzilla.redhat.com/show_bug.cgi?id=1518501#c4

what's your delta between the oc client you're using(possibly the one inside the jenkins image) and your cluster version?

[2017-11-30 04:17] stevekuznetsov commented on #417
Ah, slight version skew

[code]

[2017-11-30 04:39] bparees commented on #417
that shouldn't be enough to cause a problem i wouldn't think, but @liggitt or @deads2k would know for sure if there are known issues between those two versions.

also if you're running this on master, it's possible your openshift discovery cache is broken in some weird way, so you could try clearing it.  (if you're doing it on a slave, you'd have a clean cache each time)

[2017-12-01 17:21] deads2k commented on #417
Looks like a bug.

[2017-12-01 17:25] bparees commented on #417
isn't it being added to the group scheme here:
https://github.com/openshift/origin/blob/be64d51a5165c6d15d86433629d8ccbe464aa4ff/pkg/template/apis/template/register.go#L58

?

[2017-12-01 21:32] thoraxe opened #467 "[RFE] pass pull request information into pod"
Our test situation is a little different than normal. Currently the CI system is launching a pod that has a script embedded in it. This script launches a test environment on AWS and then executes tests inside that environment.

In order to pull the right artifacts to test into said environment, we need to know the information about the pull request so that we can fetch the PR owner's repo.

For ex

[2017-12-01 21:32] thoraxe commented on #467
@stevekuznetsov Per your request. Let me know if this makes sense.

[2017-12-01 21:39] stevekuznetsov commented on #467
/assign

[2017-12-01 21:45] deads2k commented on #417
The name it is registered with matters for compiled conversion purposes.  We should move off us using the compiled set entirely, but  until we do the distinction has meaning.

[2017-12-01 21:46] bparees commented on #417
@deads2k sorry i'm still not clear what has to be done or who should be doing it....

[2017-12-02 19:20] kargakis opened #468 "The node was low on resource: imagefs."
Pods are getting evicted in one of the nodes in the CI cluster. Didn't we run image pruning?

/cc @smarterclayton @stevekuznetsov

[2017-12-04 15:26] stevekuznetsov commented on #468
@kargakis which node?

[2017-12-04 15:28] kargakis commented on #468
origin-ci-ig-n-kwtq

[2017-12-04 17:37] stevekuznetsov commented on #468
We are having some weirdness in the logs...

We have this many log lines in the last two hours:

[code]

Basically all of it is these two sections, spammed:

[code]

[code]

[code]

@derekwaynecarr @sjenning could one of you please help me to understand what is going on

[2017-12-04 17:38] stevekuznetsov commented on #468
If we filter out that spam, we get this:

[code]

[code]

[2017-12-04 17:58] stevekuznetsov commented on #468
@kargakis not seeing any disk pressure on this node...

[code]

[2017-12-04 18:00] stevekuznetsov commented on #468
Image GC seems to also be working fine:

[code]

[2017-12-04 18:03] stevekuznetsov commented on #468
@sjenning @derekwaynecarr about every five seconds we see:

[code]

Is that normal?

[2017-12-04 18:51] stevekuznetsov commented on #468
Looks like we still have the bug where we fail to clean up intermediate containers for failed builds, so ran this on the node:

[code]

/cc @csrwng @bparees

[2017-12-04 18:52] stevekuznetsov commented on #468
The offending containers from the node logs were not failed builds, though (as the failed build containers are started by the builder, not the kubelet). I will remove them manually:

[code]

[2017-12-07 18:59] stevekuznetsov commented on #417
@enj @deads2k @liggitt is this also causing this line we see in builds on this cluster?

[code]

[2017-12-07 19:17] stevekuznetsov commented on #417
OK NVM that looks like a legit (but very surprising) RBAC denial?

[code]

[2017-12-09 21:04] BenTheElder commented on #432
Hello openshift! I've just recently found that kubernetes/test-infra has an image with the PID1 problem (https://github.com/kubernetes/test-infra/issues/5877).
@stevekuznetsov could you let us know how it goes when you've settled on a solution?

For now we've added https://github.com/ramr/go-reaper to our entrypoint but I think this is race-ing on `wait`ing legitimate child processes so we'll need

[2017-12-11 15:38] stevekuznetsov commented on #432
@BenTheElder we don't have a good solution at the moment and the Jenkins solution maybe isn't the best one -- perhaps the k8s Pause Container would be appropriate here? https://www.ianlewis.org/en/almighty-pause-container

[2017-12-11 17:28] BenTheElder commented on #432
@stevekuznetsov that's an interesting option. We went with ensuring that `/bin/sh` (on alpine) is the entrypoint for now, which seems to be working fine for zombies at least. I think we also want something like [docker ulimit](https://docs.docker.com/engine/reference/commandline/run/#set-ulimits-in-container-ulimit) support [in kubernetes](https://github.com/kubernetes/kubernetes/issues/43783).

[2017-12-12 14:04] kargakis commented on #266
Dupe of https://github.com/openshift/release/issues/266

[2017-12-12 14:04] #266 closed

[2017-12-12 14:05] kargakis commented on #126
Not a problem ever since we moved the approval-handler to run as a prow plugin.

[2017-12-12 14:05] #126 closed

[2017-12-12 14:07] kargakis commented on #2
/assign smarterclayton

Is this a problem now?

[2017-12-12 14:08] kargakis commented on #1
Still an issue?

[2017-12-12 14:08] kargakis commented on #83
/assign

[2017-12-12 14:09] kargakis commented on #114
/assign stevekuznetsov

[2017-12-12 14:43] kargakis opened #493 "Jenkins run out of inodes"
Jenkins falls over with the following stacktrace when I try to login:
<details>

[code]
</details>

Interestingly enough, the pod seems to run fine.
[code]
Logs from the Jenkins master:
<details>

[code]
</details>

Some stuff inside the container:
[code]

Not sure what to make of `No space left on device`

cc: @stevekuznetsov @bparees @gabemontero @csrwng

/area jenkins
/kind bug

[2017-12-12 14:59] bparees commented on #493
Possible you ran out of inodes or something, vs actually running out of file space?

[2017-12-12 15:03] kargakis commented on #493
Yes!
[code]

[2017-12-12 15:12] bparees commented on #493
![](http://i0.kym-cdn.com/photos/images/facebook/000/228/263/demotivational-posters-well-theres-your-problem2.jpg)

[2017-12-12 15:39] stevekuznetsov commented on #493
Yep, can confirm right now it's just a matter of our cleanup for jobs not working like it should and jobs like the `origin-ci-cleanup-image-streams` doing a lot of `sh` and `oc` actions (each of which is a separate step) and _each_ of those gets serialized to disk as an XML file, so some runs of these jobs have 2000+ XML snippets.

[2017-12-12 15:55] stevekuznetsov commented on #493
Each `oc` command ends up with three files on disk -- one to access `/var/run/secrets/kubernetes.io/serviceaccount/namespace`, one to access `/var/run/secrets/kubernetes.io/serviceaccount/token` and one to run `oc`.

[2017-12-12 15:59] stevekuznetsov commented on #493
Re: cleanup, we currently have this problem:

| Job | Builds |
| -- | -- |
| `OpenShift Sample` | 3 |
| `origin-ci-build-base-images` | 44 |
| `origin-ci-build-origin` | 965 |
| `origin-ci-build-tools` | 23 |
| `origin-ci-ci-setup` | 3 |
| `origin-ci-cleanup` | 0 |
| `origin-ci-cleanup-artifacts` | 46 |
| `origin-ci-cleanup-image-streams` | 625 |
| `origin-ci-cmd-origin` | 71 |
| `origin-ci-deploy

[2017-12-12 16:14] stevekuznetsov commented on #114
We did this
/close

[2017-12-12 16:14] #114 closed

[2017-12-17 19:01] stevekuznetsov opened #500 "api.ci: build fails with "file too large""
When scheduling a build of the `image-registry` on our cluster I can reproduce with 100% this error:

[code]

We have the object YAML files for the [build](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_image-registry/21/ci-image-registry-build/58/artifacts/Build/bin-pr-21-257717b093c5e0b975dd6042/configuration.yaml) and [pod](https://storage.googleapis.com/origin-ci-test/pr-

[2017-12-17 19:02] stevekuznetsov commented on #500
We also see an `echo` inside of the stacktrace Bash function fail with `file too large` so maybe we're failing to do something with some intermediate file used by Docker? Maybe in the volume?

[2017-12-17 19:08] stevekuznetsov commented on #500
User error, ran `ulimit 0002` instead of `umask 0002`.

[code]

[2017-12-17 19:08] stevekuznetsov commented on #500
/close

[2017-12-17 19:08] #500 closed

[2017-12-17 19:08] stevekuznetsov commented on #500
Feel free to shame me for this on Monday
/cc @csrwng

[2017-12-17 22:29] stevekuznetsov opened #502 "release-ci: run-build will get stuck in a failed state if a previous build failed"
If no code changes but a build failed for whatever reason, today all subsequent pipelines just `cat` the logs of the failed build and throw up their hands. Can we do better? If we notice the build is already finished and failed, can we delete it and re-create? I don't think so, since that's super racy with the other threads that could be using it. Could we instead sort the builds by timestamp, all

[2017-12-18 00:12] smarterclayton commented on #500
Lol

On Sun, Dec 17, 2017 at 2:08 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-12-18 14:16] csrwng commented on #502
So it will be stuck until any of those pipelines finish and clean up the build. Is that not the case?

[2017-12-18 15:40] stevekuznetsov commented on #502
We will clean up builds.

/close

[2017-12-18 15:40] #502 closed

[2017-12-19 11:09] mrsiano opened #509 "grafana work - reload dashboard file from origin."
based on comment https://github.com/openshift/release/pull/455#issuecomment-349937189

once the PR #https://github.com/openshift/origin/pull/17114 will merged
we should reload the dashboard json file form origin and avoid duplications.

@kargakis @jeremyeder

[2017-12-19 11:10] mrsiano commented on #509
@stevekuznetsov  please assign it to me

[2017-12-19 15:24] stevekuznetsov commented on #509
/assign mrsiano

[2017-12-22 00:00] stevekuznetsov commented on #468
@smarterclayton we either need to redeploy on top of Cesar's fix or add the above shell script to `cron` on all of our nodes -- it does not take long for this totally screw up our cluster and people checking in code that doesn't compile will 100% lead us there.

[2018-01-03 22:42] stevekuznetsov opened #516 "The node was low on resource: [DiskPressure]."
[code]

/cc @kargakis @smarterclayton

Ran the image prune script and it picked up LOADS of containerts

[2018-01-03 22:43] stevekuznetsov commented on #516
[code]

So it was not low on imagefs as per the eviction note but still...

[2018-01-04 14:07] kargakis commented on #432
@stevekuznetsov this is still an issue

[code]

[2018-01-04 14:10] #345 closed

[2018-01-04 14:11] #267 closed

[2018-01-04 14:12] kargakis commented on #493
Still an issue.

[2018-01-04 14:55] kargakis opened #520 "Standarize and document directory structure in this repo"
Right now it seems like stuff are all over the place.

[2018-01-04 14:59] stevekuznetsov commented on #520
Yeah it totally is. Job stuff will stabilize soon, and doc will come with that.

[2018-01-04 16:13] jim-minter commented on #432
@kargakis https://github.com/openshift/jenkins/pull/422 should merge soon

[2018-01-04 16:14] stevekuznetsov commented on #493
[code]

[2018-01-04 16:20] stevekuznetsov commented on #493
Fixed now

[2018-01-04 16:23] #432 closed

[2018-01-05 13:50] kargakis opened #524 "config-updater does not have permissions to crud roles/rolebindings"
[code]
https://github.com/openshift/release/pull/517#issuecomment-355557202

@stevekuznetsov @paradigm

[2018-01-05 15:35] sttts opened #529 "api-ci cluster: PVCs are created and bound, but PV (sometimes) disappears and kubelet cannot mount GCE volume"
The problem described in the title happened multiple times, reproducible. Now some hours later it works again. The kube events of the pods are:

[code]

Here are the complete kubectl outputs: https://gist.github.com/sttts/1fc7c1e072fcf5540085a4320bf397a1

The pods were created through https://github.com/kubernetes/publishing-bot/blob/master/Makefile using `KUBECTL=oc make run` in the sttts namespa

[2018-01-05 15:48] stevekuznetsov commented on #529
/cc @smarterclayton
The disk actually doesn't exist in GCE

[2018-01-05 22:54] smarterclayton commented on #529
Possible race condition in dynamic provisioner on GCE?  @openshift/sig-storage are we aware of any cases where a dynamically provisioned GCP volume on 3.7 / 1.7 could be deleted due to races?

[2018-01-08 08:53] jsafrane commented on #529
I am not aware of any races there. Do we have controller-manager logs?

[2018-01-08 15:18] kargakis opened #539 "Run test workloads separately from test infra"
[code]

`tracer-13-deploy` runs for more than 10m w/o having started yet. Most of the CPU in `origin-ci-ig-n-kwtq` seems to be used by go compiling. We should run test workloads in different machines from those infra components run on.

@stevekuznetsov @smarterclayton

[2018-01-08 18:10] stevekuznetsov commented on #468
To clean up all nodes:

[code]

[2018-01-10 03:49] sjenning commented on #468
@stevekuznetsov sorry for the lack of feedback on this.

I think the `Discovered runtime cgroups` error is every 5 *minutes* right?

Still it shouldn't be printing more than once per kubelet start.  If it is, please open an issue.

[2018-01-23 13:29] #493 closed

[2018-02-07 13:15] kargakis opened #588 "Explore allowing users to run tests with high loglevel verbosity"
Requested in https://github.com/openshift/release/pull/581#issuecomment-363762348

cc @stevekuznetsov @sdodson

[2018-02-07 16:12] stevekuznetsov commented on #588
Specific case of general "how do I parameterize a presubmit from GitHub for one run" problem?

[2018-02-07 16:20] kargakis commented on #588
Yes, there are two cases so far that people have requested parameterizing test excution (the other being running focus on extended). I have been thinking about making these external plugins in prow, instead of trying to parameterize `/test`.

[2018-02-08 13:56] kargakis opened #590 "Migrate cnd-testdrive job to ci.openshift.org"
And remove Jenkins from the origin-ci namespace

@stevekuznetsov @paradigm

[2018-03-01 19:08] stevekuznetsov opened #633 "Issues Pulling From Integrated Registry"
Tracking issue for pulls from the integrated registry:

[code]

/cc @bparees @smarterclayton

[2018-03-01 19:17] bparees commented on #633
still feels like networking to me?

anything in the registry logs?

does pulling ever succeed under any circumstances? (e.g. manually?)

[2018-03-01 19:45] stevekuznetsov commented on #633
Maybe, hoping to add more failures here as we see them

Could you let me know what to look for? Or:

[code]

Failures are very intermittent.

[2018-03-01 20:39] bparees commented on #633
any errors related to pulling the image you're trying to pull at the time you were trying to pull it or even any sign the registry got your pull request at the time you made it.  (You may need to increase the registry logging verbosity)

[2018-03-02 10:17] kargakis commented on #633
initupload image logs from the last two days
[code]
http://pastebin.test.redhat.com/560925

clonerefs image logs from the last 4 hours (we had a [flake](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_networking_minimal/14971/consoleFull#194059522358b6e51eb7608a5981914356) ~2h ago)
[code]
http://pastebin.test.redhat.com/560926

[2018-03-02 10:19] kargakis commented on #633
Hrm, the clonerefs failure mode seems slightly different.
[code]
/shrug

[2018-03-02 10:32] kargakis commented on #633
And another one
[code]
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_networking/1901/consoleFull#-212668394258b6e51eb7608a5981914356

[2018-03-02 10:32] kargakis commented on #633
The only error I can find in the logs seems normal.
[code]

[2018-03-02 15:54] stevekuznetsov commented on #633
@smarterclayton what are the details of your master CPU exhaustion theory?

[2018-03-02 15:57] stevekuznetsov commented on #633
[code]

[2018-03-02 16:14] miminar commented on #633
I can't really help much on this. The error looks to be somewhere on networking level between the docker client and registry. Registry logs look fine.

Nevertheless, I would expect to see 404 in registry logs for this docker error:
[code]
which isn't there. Log incomplete?? Is there more than one replica (oc logs shows the output of just one).

[2018-03-02 16:35] stevekuznetsov commented on #633
Yes there are three replicas. Let me try to find logs for `clonerefs` for all three.

[2018-03-02 17:41] stevekuznetsov commented on #633
For `clonerefs` we see a couple different types of errors:

[code]

[code]

[code]

[code]

[2018-03-02 17:42] stevekuznetsov commented on #633
For `initupload` we see:

[code]

[code]

[code]

[code]
[code]

[2018-03-05 07:50] miminar commented on #633
Looks a lot like openshift/origin#16349 but that has been resolved long ago by openshift/origin#16353.

Is docker configured to verify signatures? @legionus / @dmage  can this be a cause for `"/usr/bin/docker-current: Error: image ci/clonerefs:latest not found."` ?

Unrelated. Can be ignored.

Looks like a Stat(blob) before a push. Should be followed by a POST request for the same blob.

Anyway, t

[2018-03-05 08:02] kargakis commented on #633
No, it's not restarts what's causing the issues we are seeing.

On Mon, Mar 5, 2018 at 8:50 AM, Michal Minář <notifications@github.com>
wrote:

[2018-03-05 16:46] stevekuznetsov commented on #633
We're running server version

[code]

Could be very old bugs yes @miminar

[2018-03-05 20:34] mjudeikis commented on #633
Which image version you are running?
By any chance, you can force registry to deploy non rc image? to check @miminar theory.  Something like newest 3.7 (https://access.redhat.com/containers/#/registry.access.redhat.com/openshift3/ose-docker-registry/images/v3.7.23-3)  ?

[2018-03-05 21:21] eparis commented on #633
[code]

I'd ask why storage.googleapis.com is resolving as 172.217.5.240.  Is that a service address? What is that service?

[2018-03-05 21:32] bparees commented on #633
[code]

looks like 172.217.x is their subnet, anyway.

I assume that is the registry using google for storage.

but it is a good point that that failure at least (the initial error @stevekuznetsov posted) was presumably the result of a content redirect and means the pull failure happened between the docker-client and the google storage bucket.

(Whether there are other failures that do not fall in

[2018-03-05 21:41] bparees commented on #633
So just to summarize, we've seen 3 failure modes:

1) failure to retrieve from a GCS bucket.  nothing we can see doing about that.

2) network timeout connecting to the registry - this could be happening anywhere between ec2 and the registry, including in the openshift router, openshift networking, or the registry being unresponsive.  Not sure how we pin this down, i'd say that one is on the netwo

[2018-03-05 21:42] bparees commented on #633
Independently i'm running a script @stevekuznetsov wrote to pull images in a loop.  it's gone 364 times in a row w/o failure so far.  (docker rmi'ing the image in between each iteration).  So assuming this is still happening then either:

1) it's very intermittent
2) it's depending on doing the pull from withing ec2 (i'm doing it from my laptop)

[2018-03-06 15:53] bparees commented on #633
(script completed 1000 iterations w/ no errors)

[2018-03-06 17:21] stevekuznetsov commented on #633
Trying to reproduce now with 10 EC2 machines chain-pulling an image and deleting it afterword.

[2018-03-06 18:07] stevekuznetsov commented on #633
Ten machines pulling in parallel 1000 times failed to reproduce the issue. Added client-side retry logic instead in https://github.com/openshift/aos-cd-jobs/pull/1189. Hopefully we can just ignore this?

[2018-03-10 13:43] kargakis opened #672 "publishing bot deployment automation is required"
I can't find any manifests/automation for setting up the publishing bots inside this repo. We need to check them in and automate their creation similar to what has already been done for [`prow`](https://github.com/openshift/release/tree/master/cluster/ci/config/prow), otherwise in the next redeployment of the CI cluster, whoever wants them to run needs to recreate them manually. :)

TODOs:
- [ ] C

[2018-03-10 16:33] sttts commented on #672
👍

[2018-03-10 21:06] #378 closed

[2018-03-12 14:46] mfojtik commented on #672
agree, will do this

[2018-03-14 23:40] kargakis commented on #83
Should be fixed as part of https://trello.com/c/JL723v6v/555-cik8sci-deprecate-path-label-munger since the new owners-label plugins drives labeling via OWNERS files.

[2018-03-14 23:40] #83 closed

[2018-03-22 12:23] kargakis opened #704 "Update prow images to golang 1.10"
/assign @bbguimaraes

[2018-03-22 12:26] kargakis opened #705 "Things with image change triggers can use the config updater in 3.10"
We don't use the [config-updater plugin](https://github.com/openshift/release/tree/master/cluster/ci/config/prow/openshift/config-updater) today to update things like DeploymentConfigs with ICTs since the image field is getting dropped during the update. This seems to be fixed in 3.10, so we should re-evaluate using the config updater.

@bbguimaraes @stevekuznetsov

[2018-03-22 18:28] kargakis commented on #672
FYI, we are doing a cluster migration today or tomorrow

[2018-03-22 21:36] kargakis opened #711 "templatize a job that comments skip commands in PRs"
@stevekuznetsov

[2018-03-22 21:37] kargakis opened #712 "templatize a job that comments retest commands in PRs"
@stevekuznetsov

[2018-03-23 21:56] #388 closed

[2018-03-23 21:56] #222 closed

[2018-03-23 21:56] #238 closed

[2018-03-23 21:56] #251 closed

[2018-03-23 21:57] #252 closed

[2018-03-23 21:57] #259 closed

[2018-03-23 21:57] #283 closed

[2018-03-23 21:57] #289 closed

[2018-03-23 21:57] #213 closed

[2018-03-23 21:58] #40 closed

[2018-03-23 21:58] #1 closed

[2018-03-23 21:58] #2 closed

[2018-03-23 21:58] #3 closed

[2018-03-23 21:59] #166 closed

[2018-03-23 21:59] #417 closed

[2018-03-23 21:59] #468 closed

[2018-03-23 21:59] #516 closed

[2018-03-23 22:00] #529 closed

[2018-03-23 22:01] kargakis commented on #467
Fixed I believe

[2018-03-23 22:01] #467 closed

[2018-03-23 22:18] #704 closed

[2018-03-28 10:37] kargakis opened #721 "config updater configmaps are not created automatically"
During `make prow`

[2018-03-28 10:37] kargakis commented on #721
@stevekuznetsov @bbguimaraes

[2018-03-28 11:21] kargakis opened #724 "Automate prometheus installation in the CI cluster"
Things we should automate in the CI cluster re Prometheus:
- [ ] Prometheus installation
- [ ] laying our ci config on top of the existing config
  - [update kubernetes-service-endpoints to allow prometheus scraping of the ci namespace](https://github.com/openshift/origin/blob/229ee35be209a49f73873edf1bc23065aa25b511/examples/prometheus/prometheus.yaml#L615)
  - deploy [ci rules](https://github.co

[2018-03-28 14:16] kargakis opened #725 "hook won't start tests for kargakis/acs-engine"
It used to work. Seems to be the only repo that doesn't work anymore :(

Testing in https://github.com/kargakis/acs-engine/pull/58

The hook is delivered but no prowjob is created. No idea what's wrong but we can get around it with labeling lgtm and forcing tide to test the PR.

@stevekuznetsov @bbguimaraes if you have time to look at it

[2018-03-28 14:40] stevekuznetsov commented on #725
We're not seeing webhooks land for that PR -- `hook` right now has only the record of the PR being created:

[code]

[2018-03-28 14:49] kargakis commented on #725
Ok, old plugins configmap. I should see that coming, we were running deck with the garrish background until I did some updates into the main configmap and it turned back to grey.

[2018-03-28 14:49] #725 closed

[2018-03-28 19:31] kargakis commented on #724
I am fine with it being a test bed but we also use it to gather stuff for CI and need to iterate over those metrics/alerts.

[2018-03-29 11:15] sttts commented on #672
Added a target to install the storage class.

For the Kubernetes instance of the bot I would prefer to keep the coupling with the OpenShift infra at a minimum. Our mid term goal is to move this to a CNCF cluster.

IMO manual deployment is fine for that. We can add namespaces/projects though via the Makefile, and set permission to the relevant people to access it.

[2018-03-29 13:33] kargakis opened #732 "Kill all jobs not run by prow"
Please do

Mainly travis at this point; there is also a fedora/27/atomic in openshift-ansible. Unclear where it runs.

@stevekuznetsov @bbguimaraes

[2018-03-29 15:20] stevekuznetsov commented on #732
`fedora/*/atomic` is not going away in o-a

[2018-03-29 16:14] #705 closed

[2018-03-29 16:21] kargakis commented on #705
@tnozicka @mfojtik there is still service disruption involved here and it kind of sucks. This is actually super racy because I may or may not get redeployed.

[2018-03-31 02:13] kargakis commented on #732
Is it something we cannot move to run in prow?

[2018-04-02 16:47] stevekuznetsov commented on #732
Don't think so, @sdodson can we get a contact for that status?

[2018-04-02 17:17] sdodson commented on #732
@jlebon is the contact for that job. It relies on Fedora's CI infra.

[2018-04-02 19:35] kargakis commented on #732
Is it Jenkins behind the covers? We can still use prow and trigger the job in its original place as long as we can get a bot account there.

[2018-04-03 14:32] jlebon commented on #732
`fedora/27/atomic` uses PAPR: https://github.com/projectatomic/papr.
PAPR doesn't run in the Fedora infra, but on an internal OpenStack instance (though we're working towards migrating it to OCP).

I'm not sure how easy it'd be to make a prow --> PAPR compat shim. Seems like the easiest thing to do would be to just move over to Prow completely instead. It's fairly straightforward: it provisions th

[2018-04-03 15:08] stevekuznetsov commented on #732
@jlebon I poked around the repo for a bit but could not find this -- how is all that triggered? If we can clone the PAPR repo into a container and run the scripts, providing the env vars as necessary, that seems like a good shim.

[2018-04-03 15:47] jlebon commented on #732
It's triggered by GHPRB/SCM plugins in an internal Jenkins instance which then fire up PAPR. IOW, PAPR isn't a service that waits for triggers, it's a "one-shot" thing that runs tests in an environment which assumes it has access to e.g. an OpenStack instance for deploying VMs and AWS credentials for publishing logs.

Does the Prow infra have any facilities for provisioning multiple VMs? One nice

[2018-04-03 16:35] stevekuznetsov commented on #732
All Prow does do is the triggering -- which is why I was asking about how PAPR was triggered. If we provided the secrets necessary and put the PAPR scripts into a container (and wrote a shim that converted Prow directives into GHPRB environment variables) then PAPR would have no idea that it was being triggered by Prow, right?

[2018-04-03 18:57] jlebon commented on #732
Heh, sorry. I meant the underlying infra where tests actually run. IIRC, tests run in Jenkins and VMs are provisioned in EC2, right?

Assuming it's running somewhere with access to the internal OpenStack instance, that *should* work, yes. But I'm still not sure it's worth the hassle of going through with this vs. setting up another test which does the same thing in the same way all the other tests

[2018-04-03 19:34] sdodson commented on #732
The test now works more often than not, at least on master branch. Is there still a compelling reason to make changes? I can kill off the travis test.

[2018-04-05 12:14] tnozicka commented on #705
Could you elaborate on this?

[2018-04-05 12:27] kargakis commented on #705
When I `oc apply` my changes, the image field is dropped, a rollout starts, then your fix comes into play and updates the image back, then another rollout starts.

[2018-04-05 12:31] tnozicka commented on #705
@kargakis you are not allowed to specify an image when using image trigger - put an `" "` and it should work fine.

[2018-04-05 12:37] kargakis commented on #705
ugh, is this documented anywhere?

[2018-04-05 12:51] tnozicka commented on #705
`s/you are not allowed/you shouldn't`

GH issues an BZ only likely - but it is a logical (although not obvious) consequence of meaning of those fields. If you specify an IS trigger you want image from there so there is no need to specify image, nor you have the knowledge to specify it correctly. If you set both image and IS trigger that's basically undefined behaviour - we explicitly prevent it fo

[2018-04-05 14:16] kargakis commented on #705
I think it's worth documenting somewhere. Far from obvious even for me.

[2018-04-06 12:18] kargakis opened #757 "Prometheus warning in api.ci"
[code]
@smarterclayton

[2018-04-06 12:39] kargakis opened #759 "Prow metrics are not scrapped by prometheus"
Unclear yet why

@stevekuznetsov @smarterclayton

[2018-04-06 12:43] kargakis commented on #759
Seems Prometheus is configured to scrape only infra components; @smarterclayton why is that the case?

[2018-04-06 12:43] kargakis commented on #759
[code]

[2018-04-06 12:44] kargakis commented on #759
Should we deploy a separate prometheus instance for prow monitoring?

[2018-04-06 12:54] smarterclayton commented on #757
Was fixed upstream, I haven’t patched yet

On Apr 6, 2018, at 8:18 AM, Michalis Kargakis <notifications@github.com>
wrote:

level=warn ts=2018-04-06T09:58:07.184988376Z caller=manager.go:339
component="rule manager" group=aggregate_container_resources
msg="Evaluating rule failed" rule="record:
container_cpu_usage_percent_by_host\nexpr:
sum(rate(container_cpu_usage_seconds_total{id=\"/\"}[5m])) BY

[2018-04-06 12:54] smarterclayton commented on #759
Prometheus was changed to do that by default to prevent attackers

On Apr 6, 2018, at 8:43 AM, Michalis Kargakis <notifications@github.com>
wrote:

Seems Prometheus is configured to scrape only infra components;
@smarterclayton <https://github.com/smarterclayton> why is that the case?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://git

[2018-04-06 20:09] smarterclayton commented on #759
I would just update the config map for now.

On Fri, Apr 6, 2018 at 8:54 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2018-04-09 08:03] kargakis opened #762 "tide error: could not read Username for 'https://github.com': No such device or address"
[code]
@stevekuznetsov

[2018-04-09 14:54] stevekuznetsov commented on #762
Is this a credentials issue?

[2018-04-09 14:57] kargakis opened #764 "Periodic runs for the needs-rebase plugin are brokey"
[code]
@stevekuznetsov

[2018-04-10 12:11] kargakis commented on #759
Config map updated. Leaving this issue open until we automate that process.

[2018-04-10 15:47] kargakis commented on #732
Eventually we should migrate it.

[2018-04-10 16:28] stevekuznetsov commented on #732
The most compelling reason is that you can't `/retest` and use other commands so you need to remember which statuses come from where and how to interact. Plus, a bunch of the automation only works well with statuses it controls. For instance, this job was an issue because we needed to disable the job and couldn't auto-mark the status contexts as green or remove them, as we did not post the context

[2018-04-11 09:14] kargakis commented on #759
Closing in favor of https://github.com/openshift/release/issues/724

[2018-04-11 09:14] #759 closed

[2018-04-11 09:16] kargakis commented on #762
Likely

[2018-04-11 14:33] stevekuznetsov commented on #762
That's a private repo, so we need to clone using SSH, not HTTPS? Or we need to auth before pulling with HTTPS?

[2018-04-11 14:33] stevekuznetsov commented on #762
Seems like a `tide` RFE

[2018-04-15 08:39] kargakis commented on #762
cc @cjwagner

[2018-04-16 18:01] cjwagner commented on #762
I think we might just need to set the credentials like hook does: https://github.com/kubernetes/test-infra/blob/c9119a01217f42cc4970ecfd71f348e8e03f24fc/prow/cmd/hook/main.go#L172

[2018-04-18 08:46] tnozicka commented on #764
still broken :/
/assign @stevekuznetsov

[2018-04-19 20:37] stevekuznetsov commented on #764
Seems like upstream is having the same issue /cc @cjwagner @bentheelder

I know we have:

 - other `prow` components like `tide` that hit GitHub GraphQL API with no issue
 - REST calls to GitHub from `needs-rebase` that work with no issue

I think something in the payload or query for this specific interaction is failing us somewhere and we should probably ask GitHub support about why we're gettin

[2018-04-25 09:54] kargakis opened #806 "Service catalog api server in api.ci is crashlooping"
[code]
@smarterclayton @pmorie

[2018-04-25 09:57] kargakis opened #807 "Template service broker issues in api.ci"
Lots of errors in the tsb api server like the following:
[code]
Also I can't see the tsb controller manager deployed.

@smarterclayton

[2018-04-25 10:07] #762 closed

[2018-05-14 17:33] deads2k opened #856 "/lgtm isn't approving in origin"
I /lgtm'ed a pull and the approve label was not applied.

@liggitt @smarterclayton @kargakis

[2018-05-14 17:34] deads2k commented on #856
In case it matters, it was this one https://github.com/openshift/origin/pull/19683

[2018-05-14 19:18] kargakis commented on #856
Not much in the bot logs unfortunately
[code]
Have you seen this elsewhere?

[2018-05-14 19:27] #856 closed

[2018-05-16 09:05] lukas-vlcek opened #863 "Cannot run make after fdafb17"
[code]

[code]
When I use older commit then it passes this point without issues:

[code]

[2018-05-16 10:07] kargakis commented on #863
Try updating your `origin-ansible` image to latest.

[2018-05-17 06:57] lukas-vlcek commented on #863
@kargakis Thanks, this helped!

[2018-05-17 06:57] #863 closed

[2018-05-18 08:08] kargakis opened #868 "config-updater is broken"
[code]
Likely because of the latest changes in the origin images. The base image used for the config-updater is [`openshfit/origin:latest`](https://github.com/openshift/test-infra/blob/master/experiment/config-updater/Dockerfile#L15).

[2018-05-18 08:08] kargakis commented on #868
/kind bug

[2018-05-18 08:12] kargakis commented on #764
Closing in favor of https://github.com/kubernetes/test-infra/issues/8070

[2018-05-18 08:12] #764 closed

[2018-05-18 08:15] #868 closed

[2018-05-18 08:16] kargakis opened #869 "Update config-updater base image to origin-clients"
Or whatever is the latest image we publish that contains oc and git. Or if we don't do that anymore, create a base unique to the config-updater.

@stevekuznetsov @bbguimaraes

[2018-05-23 09:17] kargakis opened #885 "Image pruning failure"
[code]
@smarterclayton

[2018-05-23 09:19] kargakis commented on #885
Hrm, should be fixed by https://github.com/openshift/release/commit/7e77cfa15c0a753d3c83c93b3db27cd5921d3e79 but we never propagated that change in the cluster.

[2018-05-23 09:19] #885 closed

[2018-05-23 13:28] smarterclayton commented on #885
Yikes - we need to get a fix in to origin fast and bump api ci

On May 23, 2018, at 5:17 AM, Michalis Kargakis <notifications@github.com>
wrote:

Failed to build graph!

The following objects have invalid references:

  ReplicaSet[ci/rpm-mirror-678f6dcf6]: invalid docker image reference
" ": invalid reference format
  ReplicaSet[ci/rpm-mirror-6b94f7f8cc]: invalid docker image reference
" ": invali

[2018-05-29 14:13] smarterclayton opened #892 "Bypass prow job initial clone for ci-operator"
For ci-operator we want to bypass the initial clone (for origin saves 3-4 wasted minutes).  What's the minimal way to do that for a prow job where we want the other decorators?  I have origin unit ready to cut over to ci-operator and that's the last remaining loose end.

@kargakis @stevekuznetsov

[2018-05-31 16:22] stevekuznetsov commented on #892
We should allow for skipping the clone in Prow config first-class

[2018-05-31 16:22] stevekuznetsov commented on #892
/assign

[2018-06-04 16:55] stevekuznetsov opened #908 "prow: plank: error executing URL template"
Seeing this in logs:

[code]

/cc @kargakis

[2018-06-05 07:15] kargakis commented on #908
[code]

[2018-06-05 07:16] kargakis commented on #908
[code]
There is a change upstream where we started trying to evaluate refs for periodics.

[2018-06-05 07:34] kargakis commented on #908
Seems related to https://github.com/openshift/release/pull/809

[2018-06-05 15:42] stevekuznetsov opened #911 "tide unreachable after redeploy until manually hit?"
We see all `deck` instances failing with:

[code]

After a redeploy of the system, until I go to a `deck` instance and navigate to the Tide Status page ... then everything works fine. Seen this twice now. What on earth?

/cc @smarterclayton @kargakis

[2018-06-05 15:48] #806 closed

[2018-06-05 15:48] #807 closed

[2018-06-05 15:53] #590 closed

[2018-06-05 15:56] stevekuznetsov opened #912 "config-updater has no help"
[code]

/cc @kargakis

[2018-06-05 15:57] stevekuznetsov opened #913 "external plugins failing to validate payloads?"
[code]

/cc @kargakis

[2018-06-05 16:00] kargakis commented on #913
[code]

[2018-06-05 16:06] stevekuznetsov commented on #913
/shrug

[2018-06-07 01:12] kargakis opened #922 "log tracer is broken"
[code]
@stevekuznetsov

[2018-06-07 14:38] stevekuznetsov commented on #922
LOL. /assign

[2018-06-08 09:33] kargakis commented on #922
/assign stevekuznetsov

[2018-06-18 13:35] kargakis opened #951 "Create a 3.10 acs-engine-tests image"
https://github.com/openshift/release/tree/master/projects/acs-engine

@openshift/sig-azure

[2018-06-18 14:04] jlebon commented on #732
This came up in https://github.com/projectatomic/paci/pull/15. I definitely agree that making prow take over the PAPR tests is the right thing to do for various reasons. Digging a bit deeper into the current CI config, it doesn't seem like any of the tests currently provision an Atomic Host? (Looking at the `os:` keys in `sjb/config/common/test_cases`.)

Has anyone tried running `oct provision` po

[2018-06-18 14:30] jlebon commented on #732
If we're fine with not homogenising on `oct` for all the tests, an easier avenue is to replace GHPRB with Prow for `openshift/openshift-ansible` -- this means that Prow would trigger the PAPR job on the internal Jenkins instance.

One thing I'm unsure of is -- is Prow the one that updates the CI status if the Jenkins job finishes successfully? Or is it that done by `oct` or something else that run

[2018-06-18 14:39] stevekuznetsov commented on #732
@jlebon we are OK not requiring `oct` for all. I would be worried about the intricacies of contacting that internal Jenkins master -- is it inside of the firewall?

`prow` does also expect `rc != 0` and expects to set the statuses on a PR. I think right now we do just need to weigh the costs. I think there are clear benefits to the `o-a` developers for having one integrated test interface with one

[2018-06-18 14:39] stevekuznetsov commented on #732
@jlebon we are OK not requiring `oct` for all. I would be worried about the intricacies of contacting that internal Jenkins master -- is it inside of the firewall?

`prow` does also expect `rc != 0` and expects to set the statuses on a PR. I think right now we do just need to weigh the costs. I think there are clear benefits to the `o-a` developers for having one integrated test interface with one

[2018-06-18 15:25] jlebon commented on #732
Yeah, so that'd be another hurdle.

Agreed. I might still investigate switching from GHRPB to Prow for the new PAPR infra (the one which runs on top of OpenShift in CentOS CI) because dealing with GHPRB is a pain.

[2018-06-18 15:36] vrutkovs commented on #732
For openshift-ansible it not necessary to run tests in OpenStack - AWS would be fine too

[2018-06-19 01:15] stevekuznetsov commented on #732
Sure -- if the maintainers of those tests want to rewrite them so they can handle Prow triggers and can run on AWS / GCP we can run them using our infra.

[2018-06-21 15:32] kargakis opened #970 "Create a cronjob for cleaning up resource groups in azure"
Add a cronjob in `projects/acs-engine` that runs [`azure-purge`](https://github.com/openshift/azure-misc/tree/master/src/go/cmd/azure-purge) on a cadence.

@openshift/sig-azure

[2018-06-21 20:50] cgwalters opened #972 "unable to pull registry.svc.ci.openshift.org/rhcos/os:latest"
Clayton gave the CoreOS team creds for this, but they don't seem to work for us.

Can we grant access to a secret containing those creds to a member of the CoreOS team (AFAIK no CoreOS members are part of the ci/ namespace) today?

[2018-06-21 20:55] kargakis commented on #951
/assign mjudeikis

[2018-06-21 20:58] #951 closed

[2018-06-21 23:46] smarterclayton commented on #972
Yes.

[2018-06-21 23:50] smarterclayton commented on #972
@ashcrow you and @cgwalters are project admin on the rhcos project, which has the service account that contains the image.  Run:

[code]

to create a docker config.json file for the default service account in that project (which can pull the secret)

[2018-06-23 13:31] mjudeikis opened #988 "rename acs-engine to azure"
We need to rename acs-engine to azure and add acs-engine as subdir.

[2018-06-25 19:45] #988 closed

[2018-06-26 07:37] kargakis commented on #672
/sig master

[2018-06-26 15:15] kargakis opened #1009 "figure out how to sync config in the cluster"
when not running in the ci namespace

For now, each namespace can deploy its own config updater, eventually we probably want a single config updater to rule them all

@stevekuznetsov @smarterclayton

[2018-06-27 00:35] smarterclayton commented on #1009
Should we just move to a gitops general solution?  This seems like we’re
special casing config maps too much.

On Jun 26, 2018, at 11:15 AM, Michalis Kargakis <notifications@github.com>
wrote:

when not running in the ci namespace

For now, each namespace can deploy its own config updater, eventually we
probably want a single config updater to rule them all

@stevekuznetsov <https://github.com/ste

[2018-06-27 07:00] kargakis commented on #1009
Config maps is what needs to get cruded in the cluster, we still store bare
config files in git. How a gitops flow is different from that?

On Wed, Jun 27, 2018, 02:35 Clayton Coleman <notifications@github.com>
wrote:

[2018-06-27 14:57] cgwalters opened #1013 "Add anyuid-capable sa to rhcos"
I'd like to be able to use `yum` inside this cluster for a whole lot of reasons - it's how our CI works, etc.  Something like `anyuid-sa` or so.

[2018-06-28 02:47] smarterclayton commented on #1009
gitops would cover all the other things, not just config maps

On Wed, Jun 27, 2018 at 3:00 AM, Michalis Kargakis <notifications@github.com

[2018-06-28 06:36] kargakis commented on #1009
Our custom config updater syncs all resources but it works on a single
namespace I think

On Jun 28, 2018 04:47, "Clayton Coleman" <notifications@github.com> wrote:

gitops would cover all the other things, not just config maps

On Wed, Jun 27, 2018 at 3:00 AM, Michalis Kargakis <notifications@github.com

bare

https://github.com/notifications/unsubscribe-auth/ABG_p4P4QwLUXoH8iXfz21vEpiRNkYG4ks5uA

[2018-06-28 17:44] stevekuznetsov opened #1020 "api.ci: can't get autoscaler logs, node cert invalid"
[code]

/asssign @smarterclayton
/kind bug

[2018-06-28 18:17] smarterclayton commented on #1020
The bootstrap autoapprover was down, so nodes certs expired.  I think the approver was down because the node cert expired for another reason, and i'm deploying a new AMI to the cluster that has a newer version of the kubelet that fixes the edge case where a node wedges its config.

[2018-06-28 19:45] smarterclayton commented on #1020
I *think* this should be resolved but I'm watching it.

[2018-07-02 08:41] #970 closed

[2018-07-06 16:53] #1020 closed

[2018-07-11 14:06] kargakis opened #1056 "azure: use project requests instead of new-project"
@openshift/sig-azure we should be using a [project request manifest](https://github.com/openshift/release/blob/78442331f793f033555f5d975093144716f90969/cluster/ci/config/roles.yaml#L4) for creating the `azure` namespace, instead of [new-project](https://github.com/openshift/release/blob/78442331f793f033555f5d975093144716f90969/Makefile#L278) since new-project updates the current context and there

[2018-07-11 14:10] mjudeikis commented on #1056
people should not rely on the context and always specify the context for each component. But agreed, are you taking this one or can I?

[2018-07-11 14:37] kargakis commented on #1056
Not a high priority but if you want you can tackle it.

[2018-07-15 10:16] kargakis commented on #1056
/assign mjudeikis

[2018-07-15 10:18] #913 closed

[2018-07-15 10:18] #892 closed

[2018-07-17 08:02] #1056 closed

[2018-07-20 21:46] kargakis commented on #1009
@jim-minter @openshift/sig-azure fyi, until this issue is fixed, we should deploy our own config-updater to automate resource updates on PR merges.

[2018-07-20 21:55] stevekuznetsov commented on #1009
There was some chicken-and-egg issue trying to determine cross-namespace updates in the config-updater, I think. I can't remember. No good reason not to apply cross-namesapce.

[2018-07-23 13:08] sjug opened #1087 "Docker permission denied on test-deploy make"
Following the test-deploy readme, running `make WHAT=mycluster up` will fail due to insufficient permissions connecting to the docker socket.

[code]

Would it be possible to fix this, or are we assuming that users have full docker access without sudo (via the docker group)?

[2018-07-23 21:59] kargakis commented on #922
Should be fixed by https://github.com/kubernetes/test-infra/pull/8722

[2018-07-23 21:59] #922 closed

[2018-07-24 22:13] stevekuznetsov opened #1091 "Our job names are too long"
[code]

/cc @smarterclayton

[2018-07-25 01:10] smarterclayton commented on #1091
Wow

On Jul 24, 2018, at 6:13 PM, Steve Kuznetsov <notifications@github.com>
wrote:

 {"component":"tide","level":"warning","msg":"Removing invalid label:
key - prow.k8s.io/job, value -
test_pull_request_openshift_ansible_extended_conformance_install,
error: [must be no more than 63
characters]","time":"2018-07-24T22:11:36Z"}

/cc @smarterclayton <https://github.com/smarterclayton>

—
You are rece

[2018-07-25 14:05] kargakis opened #1096 "ci-operator result different between local and CI run"
Local:
[code]
[CI](https://github.com/openshift/release/blob/f28ab01320b5dbb05f0e0c410e39a9c2dc07905e/cluster/ci/config/prow/config.yaml#L4625-L4650):
[code]

@stevekuznetsov @bbguimaraes any ideas?

[2018-07-25 14:41] stevekuznetsov commented on #1096
Can you post logs from the `src` build?

[2018-07-25 15:12] kargakis commented on #1096
Different run but I am seeing the same issue so here is the `src` log:
[code]

[2018-07-25 17:40] stevekuznetsov commented on #1096
@smarterclayton were you expecting `clonerefs` to fail? It does not fail. We need to read the output to determine what is going on there. Need a step with `initupload` or just using that library. Or just parsing the simple JSON.

[2018-07-25 17:42] stevekuznetsov commented on #1096
Somehow there is no base ref for that repo:

[code]

The fetch before the checkout should have one more arg. @smarterclayton how is the `$JOB_SPEC` being forwarded?

[2018-07-25 22:12] smarterclayton commented on #1096
—git-ref does a local git ls-remote - maybe it’s not passing the branch on.

[2018-07-26 15:09] kargakis commented on #1096
/kind bug

[2018-07-27 11:56] kargakis opened #1108 "Changes into some ci-operator configmaps may not be applied correctly"

[2018-07-27 13:18] smarterclayton commented on #1108
Can just delete those and recreate

On Jul 27, 2018, at 7:56 AM, Michalis Kargakis <notifications@github.com>
wrote:

See warnings

$ ./ci-operator/populate-configmaps.sh
configmap "ci-operator-kubernetes-autoscaler" configured
configmap "ci-operator-kubernetes-cluster-capacity" configured
configmap "ci-operator-kubernetes-coredns" configured
configmap "ci-operator-kubernetes-descheduler" configur

[2018-07-27 19:04] stevekuznetsov opened #1114 "need to auto-sync ci-operator templates to cluster"
/cc @gabemontero
/assign

[2018-07-27 19:05] kargakis commented on #1114
This is an issue on creation, right?

[2018-07-27 19:18] stevekuznetsov commented on #1114
Both on creation and sync -- I don't think we are config syncing this stuff yet

[2018-07-27 19:25] kargakis opened #1115 "populate-configmaps.sh should use replace instead of apply"
All these configmaps sooner or later are getting replaced by the prow built-in config updater

https://github.com/openshift/release/blob/0385aee42f62dcbc0400d42e83d746a99c480fa9/cluster/ci/config/prow/plugins.yaml#L35-L104

@stevekuznetsov

[2018-07-27 20:54] stevekuznetsov commented on #1114
No, literally the OpenShift Templates used by ci-op under cluster/ci/prow/config/jobs/ (????)

[2018-07-27 21:52] stevekuznetsov commented on #1115
Built-in is going to be for updates, the script is for bootstrap? Why replace?

[2018-07-27 22:20] kargakis commented on #1115
Wrong use of apply, it needs to own updates too.

[2018-07-28 20:35] kargakis opened #1118 "User "system:serviceaccount:ci:ci-operator" cannot create serviceaccounts in the namespace "ci-op-370sbck0""
[code]
https://deck-ci.svc.ci.openshift.org/?job=branch-ci-openshift-azure-images
@stevekuznetsov @bbguimaraes

[2018-07-28 20:47] kargakis commented on #1118
Happens only on postsubmits

[2018-07-28 20:51] kargakis commented on #1115
I guess it doesn't really matter, just the extra apply annotation is redundant.

[2018-07-28 20:51] #1115 closed

[2018-07-28 20:54] #757 closed

[2018-07-28 20:56] kargakis commented on #1009
Closing in favor of https://github.com/openshift/test-infra/issues/161

[2018-07-28 20:56] #1009 closed

[2018-07-28 20:57] kargakis commented on #908
Seems fixed now

[2018-07-28 20:57] #908 closed

[2018-07-28 20:57] #588 closed

[2018-07-28 20:59] kargakis commented on #911
Reopen if still relevant

[2018-07-28 20:59] #911 closed

[2018-07-28 20:59] #712 closed

[2018-07-28 20:59] #711 closed

[2018-07-28 21:01] kargakis commented on #912
closing in favor of https://github.com/openshift/test-infra/issues/162

[2018-07-28 21:01] #912 closed

[2018-07-28 21:03] kargakis commented on #1091
/shrug

[2018-07-28 21:06] kargakis commented on #1091
/shrug

[2018-07-30 10:29] kargakis commented on #1118
@openshift/sig-azure fyi

[2018-07-30 15:31] stevekuznetsov commented on #1118
@smarterclayton

[2018-07-30 15:34] kargakis commented on #1118
ugh, it seems like a different failure mode in a newer job
[code]
The PR version of the job is happy
https://deck-ci.svc.ci.openshift.org/?job=pull-ci-openshift-azure

[2018-07-30 15:35] kargakis commented on #1118
hrm, seems like we indeed miss this permission

[2018-07-30 15:46] #1118 closed

[2018-07-30 16:33] #1114 closed

[2018-08-01 13:57] petr-muller commented on #1096
I think the culprit is https://github.com/openshift/ci-operator/blob/master/cmd/ci-operator/main.go#L755 where the jobSpec is created with uninitialized/default(? I'm still not that familiar with Go semantics) field `BaseRef` when the SHA resolution with `git ls-remote` fails.

Not sure what is the "right" fix is - we can provide something like `BaseRef = "master", BaseSHA = "master"` there, hopin

[2018-08-01 14:48] stevekuznetsov commented on #1096
Nice digging. I agree if `git ls-remote` failed, or if it succeeded but returned no SHA we have an unrecoverable error and I think we should error out since we were not able to determine the refs -- the jobs should run only once their inputs have been fully specified. @kargakis that job should be a postsubmit and not use `--git-ref` ...

[2018-08-01 14:58] petr-muller commented on #1096
I'll prepare a PR that will make it error our, let's see where it takes us.

[2018-08-02 17:12] #1096 closed

[2018-08-03 20:19] stevekuznetsov opened #1144 "Incorrect config for `tox` job?"
[code]

[2018-08-03 20:25] stevekuznetsov commented on #1144
/cc @sdodson

[2018-08-03 20:25] stevekuznetsov commented on #1144
/kind bug

[2018-08-03 20:59] sdodson commented on #1144
I dunno, i sure see a job. https://github.com/openshift/aos-cd-jobs/blob/master/sjb/generated/test_pull_request_openshift_ansible_tox_310.xml

[2018-08-07 17:42] cgwalters opened #1159 "RHCOS users unable to authenticate"
I can `https://api.ci.openshift.org/oauth/token/request` OK, but several other people e.g. `dm0-`, `ashcrow`, `rahuls0720` just get `An authentication error occurred.` from the web page.

Is there something else that needs to be done to make them be able to auth?

[2018-08-07 17:43] cgwalters commented on #1159
See e.g. https://github.com/coreos/rhcos-apici/pull/1 which I thought would be sufficient.

[2018-08-08 17:03] stevekuznetsov commented on #1159
We delegate auth to GitHub via OAuth so if they're in the OpenShift org they can log in. Why are they logging into the cluster?

[2018-08-08 17:03] stevekuznetsov commented on #1159
FYI your private repo link 404's for me

[2018-08-08 18:30] cgwalters commented on #1159
Makes sense; I'll double check that people are in the org.

Our team is going to be maintaining build infrastructure there.

[2018-08-08 21:10] stevekuznetsov commented on #1159
Let's sync on your needs to make sure changes we make to the cluster for Origin CI don't adversely impact your workloads.

[2018-08-09 00:36] stevekuznetsov commented on #1144
Some other type of bug:

[code]

[2018-08-09 20:25] stevekuznetsov opened #1168 "bootstrap auto-approver: stuck failed"
We see this every so often in the bootstrap auto-approver:

[code]

Then, the container does not exit and is not recreated, so the Pod is fine but doing nothing, CSR gets buildup, all nodes go unready.

/cc @smarterclayton

[2018-08-09 20:35] stevekuznetsov opened #1169 "api.ci master: dockerd degraded"
We are seeing two failure modes:

1. `exec` liveness probes fail:
[code]

2. `kubelet` is deleting a Pod, tells `dockerd` to stop a container, `dockerd` gets error from `containerd`:
  from `kubelet`:
[code]
  from `dockerd`:
[code]
  However, `docker rm` works:
[code]

/cc @kargakis @smarterclayton

[2018-08-09 20:39] stevekuznetsov commented on #1168
/cc @kargakis

[2018-08-09 20:40] stevekuznetsov commented on #1168
downscaling and upscaling the pod using `kubectl` causes old pod to get stuck in `Terminating` due to #1169

[2018-08-09 20:41] stevekuznetsov commented on #1169
@runcom @mrunalp do you guys have any thoughts? I con't know how to better debug this

[2018-08-09 20:44] stevekuznetsov commented on #1168
The `Pod` is running this script:

[code]

So ideally with `exec oc observe ...` we would exit with `oc observe` but somehow are not?

/cc @sjenning

[2018-08-09 21:07] stevekuznetsov commented on #1169
We are on this version of `docker`:
[code]
`docker inspect` shows the container still running:

[code]

However, `runc` version does not:
[code]

[2018-08-09 21:10] stevekuznetsov commented on #1169
Raw `containerd` state is also missing:

[code]

[2018-08-09 21:12] stevekuznetsov commented on #1169
@mrunalp suggests upgrading to `-73` latest version of `docker` RPM

[2018-08-09 22:31] stevekuznetsov commented on #1168
Or maybe this is another symptom of #1169 because the container actually terminates but the `dockerd` internal state never gets updated so `kubelet` never knows it needs to reboot

[2018-08-09 23:04] smarterclayton commented on #1168
That seems likely - can you yum upgrade the master?

[2018-08-10 14:20] stevekuznetsov commented on #1168
I will if I see another isseu

[2018-08-13 01:48] smarterclayton opened #1173 "crio and gcp jobs share same template instance"
They will fail if run at the same time:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20592/pull-ci-origin-e2e-gcp-crio/140/

creates 'e2e-gcp'

and so does

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20592/pull-ci-origin-e2e-gcp/2291/, which gets

[code]

They need to have unique template instance names.

[2018-08-13 14:42] #1173 closed

[2018-08-14 19:27] sdodson commented on #732
The PAPR jobs have since been disabled for openshift-ansible. travis-ci should be the only test not under prow management now.

[2018-08-16 23:04] stevekuznetsov opened #1200 "ci-operator: config is not in the correct place"
I see the following that need to be migrated:

| from | to |
| - | - |
| `ci-operator/config/kubernetes/cluster-capacity` | `ci-operator/config/kubernetes-incubator/cluster-capacity` |
| `ci-operator/config/kubernetes/coredns` | `ci-operator/config/coredns/coredns` |
| `ci-operator/config/kubernetes/descheduler` | `ci-operator/config/kubernetes-incubator/descheduler` |
| `ci-operator/config/kubern

[2018-08-17 20:29] smarterclayton commented on #1200
The authoritative branches for those repos will come from the openshift/
forks.  One or two of them might also have upstream ci-operator paths in a
few cases, but they are all logically separate (the e2e tests for an
upstream version != how origin / ocp would use them).

On Thu, Aug 16, 2018 at 7:05 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-08-20 07:07] mjudeikis opened #1213 "OSA: Ci-operator jobs cleanup"
OSA CI operator jobs (some of them) does not get cleaned, purged after run. It should be done by `teardown` container in the template but it is not. Potentially some un-cached edge-case.

![screenshot from 2018-08-20 08-05-15](https://user-images.githubusercontent.com/3225744/44325205-056a6d80-a450-11e8-9b49-a7b689c156da.png)

cc: @openshift/sig-azure , @kwoodson

[2018-08-20 15:08] stevekuznetsov opened #1215 "ci-operator: ConfigMaps needlessly complicated"
Right now we have a single `ConfigMap` per repository and we store the configuration in there sharded by branch. This leads to really ugly configuration for the automatic configuration updater:

https://github.com/openshift/release/blob/61fc33ad194d9793dd9e3345bef8596dbe1961d7/cluster/ci/config/prow/plugins.yaml#L37-L50

If we moved to the format Prow uses, a single `ConfigMap` with keys like `$or

[2018-08-20 16:15] stevekuznetsov commented on #1200
Ok, so we need to migrate those to `openshift/$org-$repo` directories then ... We must ensure that all config for ci-operator is under `ci-operator/config/$org/$repo` for the _actual_ `$org/$repo` under test. I am not interested in vanity naming that makes generation and tooling more difficult.

[2018-08-20 16:15] stevekuznetsov commented on #1200
/cc @bbguimaraes @petr-muller @droslean

[2018-08-20 16:51] wking opened #1217 "Use the Journal export format?"
We're currently extracting journals directly from the node disks (e.g. [here][1]).  Journalctl's on-disk format is described [here][2].  However, for export to other hosts, the journalctl docs suggest using [the export format][3], which is likely more stable.  For example, it is more likely to be readable on hosts with other `journalctl` versions, while the non-export file format is not.  Should w

[2018-08-20 17:00] smarterclayton commented on #1217
There’s not way I know of to do that without SSH to the box which we are
trying to avoid (going forward we want to be able to do this without that
use case).

I wrote a simple go journal exporter that I can share for the near term.
Further out, we could have a new endpoint that lets us get that info
remotely.

The journal format is actually really stable, so I’m not as worried as I
would be normal

[2018-08-20 17:08] wking commented on #1217
Am I just doing something wrong then?

[code]

[2018-08-20 17:10] stevekuznetsov commented on #1213
Where are you seeing these? We are not using the cleanup container anymore, are you targeting some other cluster for the ci-operator namespaces than api.ci?

[2018-08-20 17:35] smarterclayton commented on #1217
Wierd, I thought it was --path.

https://github.com/smarterclayton/journalread is the read library I
created, the cmd takes a file as argument and then spits out timestamp and
then MESSAGE=.  There's still some weirdness with the compression format I
couldn't fix (I needed something that worked on Mac)

On Mon, Aug 20, 2018 at 1:08 PM W. Trevor King <notifications@github.com>
wrote:

[2018-08-20 17:49] stevekuznetsov commented on #1213
ACK

[2018-08-21 19:30] stevekuznetsov commented on #1215
Order of operations:

- stop allowing merges to config
- bootstrap new cm
- regenerate config to point to new cm+key
- update the plugin config
- allow merges to config again

[2018-08-21 19:31] stevekuznetsov commented on #1215
And delete old cm after the fact

[2018-08-22 15:09] kwoodson commented on #1213
@mjudeikis
[code]

[2018-08-23 15:03] stevekuznetsov opened #1263 "job url does not work for periodics"
I'm tired of seeing this in the logs:

[code]

We should fix it

[2018-08-23 15:05] stevekuznetsov commented on #1144
/close

[2018-08-23 15:05] #1144 closed

[2018-08-23 15:06] stevekuznetsov commented on #1091
/close

[2018-08-23 15:06] #1091 closed

[2018-08-28 10:55] kargakis opened #1297 "Automate SP secret reconcilation"
@openshift/sig-azure

[2018-08-28 10:58] kargakis commented on #1297
If not possible, we should at least document how to manually rotate the CI secret.

[2018-08-28 17:17] stevekuznetsov commented on #1297
We need a solution from Prow side as well to ingest the secret without the person doing the rotation needing access to namespace `ci`. Right now we can just create a namespace where you guys can deposit the secret and I can move it myself, we can write a controller for this too

[2018-08-28 17:46] mjudeikis commented on #1297
@stevekuznetsov we had a situation today where one of our test leaked secret into logs. We had to rotate it. I think for short term we could have something like secret mirroring controller. We manage secrets in our namespace - you mirror them where you need. And versus.

[2018-08-29 10:57] kargakis opened #1314 "ci-operator cannot create events in temp namespaces"
[code]
@stevekuznetsov @droslean

[2018-08-29 13:20] droslean commented on #1314
cluster role binding has been created.

[2018-08-29 13:54] kargakis commented on #1314
/assign droslean

[2018-08-29 14:31] #1314 closed

[2018-08-30 17:10] mjudeikis opened #1326 "running ci-operator jobs leave project trash"
[code]
All project stays alive if not deleted manually. Not a biggy but still :)

[2018-08-30 19:00] stevekuznetsov commented on #1326
WAI -- if you have privileges and the controller, it is cleaned up. If not, you need to.

/close

[2018-08-30 19:00] #1326 closed

[2018-08-31 00:40] stevekuznetsov commented on #1297
This is captured in a JIRA ticket: https://jira.coreos.com/browse/DPTP-100

/close

[2018-08-31 00:40] #1297 closed

[2018-08-31 00:41] stevekuznetsov commented on #520
We've mostly documented things for ci-operator and the templates.
/close

[2018-08-31 00:41] #520 closed

[2018-08-31 00:41] stevekuznetsov commented on #524
This has since been fixed AFAICT
/close

[2018-08-31 00:41] #524 closed

[2018-08-31 00:42] stevekuznetsov commented on #539
This is captured in https://jira.coreos.com/browse/DPTP-64 and https://jira.coreos.com/browse/DPTP-62
/close

[2018-08-31 00:42] #539 closed

[2018-08-31 00:43] stevekuznetsov commented on #633
Likely fixed in the upgrades.
/close

[2018-08-31 00:43] #633 closed

[2018-08-31 00:43] stevekuznetsov commented on #672
@sttts is any of this work done yet? Docs for deployment will be nice when this moves out to CNCF hardware

[2018-08-31 00:45] stevekuznetsov commented on #721
Tracked in https://jira.coreos.com/browse/DPTP-137
/close

[2018-08-31 00:45] #721 closed

[2018-08-31 00:46] stevekuznetsov commented on #724
@smarterclayton what's the progress here?

[2018-08-31 00:46] stevekuznetsov commented on #732
I think this is finished
/close

[2018-08-31 00:46] #732 closed

[2018-08-31 00:49] stevekuznetsov commented on #869
Tracked here: https://jira.coreos.com/browse/DPTP-138
/close

[2018-08-31 00:49] #869 closed

[2018-08-31 00:50] stevekuznetsov commented on #1013
We plan to support tests that require root with VMs instead of running as pods on the cluster. Please watch https://jira.coreos.com/browse/DPTP-78 for developments

/close

[2018-08-31 00:50] #1013 closed

[2018-08-31 00:58] stevekuznetsov commented on #1087
We are assuming you have the privilege to talk to `dockerd`.

/close

[2018-08-31 00:58] #1087 closed

[2018-08-31 00:59] stevekuznetsov commented on #1159
@cgwalters was this resolved?

[2018-08-31 00:59] stevekuznetsov commented on #1168
This was due to the `dockerd` degradation
/close

[2018-08-31 00:59] #1168 closed

[2018-08-31 00:59] stevekuznetsov commented on #1169
Has been fixed
/close

[2018-08-31 00:59] #1169 closed

[2018-08-31 01:02] stevekuznetsov commented on #1200
Work captured here: https://jira.coreos.com/browse/DPTP-140
/close

[2018-08-31 01:02] #1200 closed

[2018-08-31 01:02] stevekuznetsov commented on #1213
/assign @kwoodson @kargakis

[2018-08-31 01:05] stevekuznetsov commented on #1215
Tracked in https://jira.coreos.com/browse/DPTP-141
/close

[2018-08-31 01:05] #1215 closed

[2018-08-31 01:06] stevekuznetsov commented on #1217
This cannot be fixed in our CI, and issues should be raised in `smarterclayton/journalread`
/close

[2018-08-31 01:06] #1217 closed

[2018-08-31 01:09] stevekuznetsov commented on #1263
Tracked in https://jira.coreos.com/browse/DPTP-142
/close

[2018-08-31 01:09] #1263 closed

[2018-08-31 08:38] sttts commented on #672
Yes, on CNCF hardware I would like to document or even better to automate the deployment much better so maintenance can be shared.

[2018-08-31 13:32] ashcrow commented on #1159
Adding @mike-nguyen who has been tracking this down.

[2018-08-31 15:27] kargakis opened #1334 "PR History posted by the bot in openshift-azure has an incorrect link"
The PR test history posted by the bot in https://github.com/openshift/openshift-azure/pull/300#issuecomment-417571511 points to a broken link. I expected to see the test history of my PR.

@stevekuznetsov @bbguimaraes

[2018-08-31 15:39] kargakis opened #1335 "/retest may result in returning the same failed test output"
When I /retest a PR, I expect the failed steps of a failed job to be retried. This is not always the case with the ci-operator: when I /retest immediately after a failure, the old failure is getting reused in the new test run.

Example:
first job: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/315/pull-ci-openshift-azure/564/build-log.txt
second job: https://s

[2018-08-31 15:39] kargakis commented on #1334
/kind bug

[2018-08-31 16:47] stevekuznetsov commented on #1334
Can you please write down what you expected to see, what you saw, and why you think what you saw was in correct?

[2018-08-31 16:48] stevekuznetsov commented on #1335
Can you please link to the:
 - first job that ran and used correct output
 - stable link to a job that ran and re-used a test

barring that, just paste the logs here

[2018-08-31 16:48] stevekuznetsov commented on #1335
If the links to Gubernator from deck are not correct, we need to submit a bug on the URL template

[2018-08-31 16:52] stevekuznetsov commented on #1335
Also like specifically which target was not re-run, which did you expect, how is job configured (which --target are present) etc

[2018-08-31 19:19] nhosoi opened #1337 "CI-test does not create logs and artifacts"
I'm running the CI-tests from this PR/1314.
https://github.com/openshift/origin-aggregated-logging/pull/1314

The tests ci/openshift-jenkins/logging and ci/openshift-jenkins/json-file are failing, but following the [Details link](https://openshift-gce-devel.appspot.com/build/origin-/pr-logs/pull/openshift_origin-aggregated-logging/1314/test_pull_request_origin_aggregated_logging_json_file/1011/) j

[2018-08-31 19:29] twiest opened #1338 "Cluster Operator PR checks are failing with ci-operator errors"
/kind bug

/area test-results

## What did you expect to happen?

The PR Checks to execute and give output relevant to that check.

## What happened?

Here's an example our the cluster operator verify check output:

[code]

## How can the error be reproduced?

Yes. Running "/test verify" caused the same test to fail a 2nd time.

## Is there anything else we need to know?

I don't believe this is m

[2018-08-31 20:39] stevekuznetsov commented on #1338
@twiest thanks for the issue report. It looks like you have provided the `test_base_image` as part of your `base_images` list, whereas we require it as a top-level key in your CI Operator configuration. So, instead of:

[code]

Please re-work your `ci-operator` configuration to look like:
[code]

I've created a JIRA ticket to track work on better validation for CI Operator configuration so we can

[2018-08-31 20:39] stevekuznetsov commented on #1338
/assign

[2018-08-31 20:42] stevekuznetsov commented on #724
OK, sounds like this is done then.
/close

[2018-08-31 20:42] #724 closed

[2018-08-31 23:07] stevekuznetsov commented on #1337
@nhosoi thanks for the report! We had an issue with how we linked to job reports, it should be fixed with https://github.com/openshift/release/pull/1342 -- can you please `/retest` and re-open this issue if you notice the links are still not working?
/close

[2018-08-31 23:07] #1337 closed

[2018-09-01 23:59] kargakis commented on #1334
The PR history posted by the bot in https://github.com/openshift/openshift-azure/pull/300#issuecomment-417571511 points to a broken link. I expected to see the test history of my PR.

[2018-09-02 00:01] kargakis commented on #1335
I have no access to my PR history because of https://github.com/openshift/release/issues/1334

[2018-09-02 00:05] kargakis commented on #1335
Job config is [here](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/openshift-azure/master.json) + [here](https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-presubmits.yaml) + [here](https://github.com/openshift/release/blob/master/ci-operator/templates/cluster-launch-e2e-azure.yaml). The e2e-azure ta

[2018-09-03 08:37] kargakis commented on #1335
Here is an example:
first job: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/315/pull-ci-openshift-azure/564/build-log.txt
second job: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/315/pull-ci-openshift-azure/566/build-log.txt

[2018-09-04 09:39] kargakis commented on #1335
And another one:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/283/pull-ci-openshift-azure/593/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/283/pull-ci-openshift-azure/595/build-log.txt

[2018-09-04 17:28] stevekuznetsov commented on #1334
Implementation details:

The template [here](https://github.com/openshift/release/blob/01be0e6781b630a05a8a7d468163a24a805a27f9/ci-operator/jobs/infra-periodics.yaml#L28) needs to be edited to link to the correct page. It should contain logic to add `org_repo/` to the URL like the other templates do: `{{if ne .Spec.Refs.Repo "origin"}}/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{end}}`

[2018-09-04 19:54] spadgett opened #1352 "Error starting Jenkins job for origin-web-console, enterprise-3.9 PRs"
/kind bug

/area test-execution

## What did you expect to happen?

Jenkins tests should run in the origin-web-console enterprise-3.9 branch.

## What happened?

Got error:

https://github.com/openshift/origin-web-console/pull/3058

## How can the error be reproduced?

Open a PR against origin-web-console enterprise-3.9 branch

cc @stevekuznetsov @jhadvig

[2018-09-04 20:03] stevekuznetsov commented on #1352
The configuration is trying to start the `test_pull_request_origin_web_console_39` job:

https://github.com/openshift/release/blob/c864dd032437cfd79015c2ad60c00cba43b4c3f1/ci-operator/jobs/openshift/origin-web-console/openshift-origin-web-console-presubmits.yaml#L3-L12

However the Jenkins [page](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_web_console_39) 404's and there i

[2018-09-05 10:55] kargakis opened #1356 "link to Gubernator is broken"
The link from the ci bot report that points to Gubernator is broken after https://github.com/openshift/release/pull/1353 and we cannot access test results directly. See https://github.com/openshift/openshift-azure/pull/341#issuecomment-418686414

/kind bug
@stevekuznetsov @bbguimaraes @droslean

[2018-09-05 15:52] bbguimaraes commented on #1335
/assign

[2018-09-05 16:03] #1334 closed

[2018-09-06 09:48] kargakis opened #1370 "Ensure the same secret name is reused locally and in CI"
https://github.com/openshift/release/tree/master/projects/azure#test-ci-operator-jobs

We should figure out how to use the same name in both runs, it's annoying to have to rename the secret in the template to test locally.

@openshift/sig-azure
/kind cleanup

[2018-09-06 10:02] bbguimaraes commented on #1370
The name of the secret is arbitrary. You can change the value of the `--secret-dir` option passed to `ci-operator` ([e.g.](https://github.com/openshift/release/blob/e0d96e76939fa812510dbb2388c95f73bd868b13/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-presubmits.yaml#L18)).

[2018-09-06 10:02] mjudeikis commented on #1370
I think its just question if prow config mount point?

[2018-09-07 12:14] mjudeikis opened #1396 "job hangs with lack of cli image"
our jobs hang with lack of cli image:
Job log:
[code]

[code]
and missing image:
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/323/pull-ci-openshift-azure/680
Happened after this got merged:
https://github.com/openshift/ci-operator/pull/126

Might be flake or us doing somehting wrong in azure template.

cc: @stevekuznetsov @kargakis @sm

[2018-09-07 14:49] kargakis opened #1403 "could not determine if template instance was ready: failed to create objects: rolebindings.authorization.openshift.io "e2e-azure-image-puller" already exists"
Failed test with:
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/374/pull-ci-openshift-azure-e2e/4/build-log.txt
/kind bug
@petr-muller @bbguimaraes @stevekuznetsov @droslean

[2018-09-07 14:51] bbguimaraes commented on #1403
Is this the same as #1335?

[2018-09-07 14:53] kargakis commented on #1403
This was caused becaused I added a second template in a job that applies the same resources as the first one so the job failed because the rolebinding already exists?

[2018-09-07 15:00] bbguimaraes commented on #1403
These two have to be unique for all jobs in the same namespace:

https://github.com/openshift/release/blob/3dc81783f21c71c7756bc451956c4837cafa278c/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-presubmits.yaml#L20
https://github.com/openshift/release/blob/3dc81783f21c71c7756bc451956c4837cafa278c/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-presubmits.

[2018-09-07 15:01] kargakis commented on #1403
Yeah, figured that out the hard way.

[2018-09-10 03:48] stevekuznetsov commented on #1403
We need validation for this

[2018-09-10 14:58] stevekuznetsov commented on #1403
@kargakis what does the re-open here mean?

[2018-09-10 15:05] twiest commented on #1338
@stevekuznetsov  I haven't.

I believe @csrwng made the changes, though.

@csrwng is that correct?     Can this issue be closed?

[2018-09-10 16:12] csrwng commented on #1338
Yes I made the change, this issue can be closed.

[2018-09-10 16:12] #1338 closed

[2018-09-11 09:31] kargakis opened #1438 "failure to gather artifacts from template job"
I have seen [this](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/389/pull-ci-openshift-azure-e2e/66/build-log.txt) a couple of times already. Basically, the teardown container of [our template](https://github.com/openshift/release/blob/293c50542c276a10156fa9474ec0793a4e446d16/ci-operator/templates/openshift-azure/cluster-launch-e2e-azure.yaml) exits and one h

[2018-09-11 15:03] stevekuznetsov commented on #1438
For whoever looks at this -- code for the artifact retrieval is here: https://github.com/openshift/ci-operator/blob/master/pkg/steps/artifacts.go

[2018-09-12 01:03] stevekuznetsov commented on #1403
There's a JIRA ticket for it, this can be closed

/close

[2018-09-12 01:03] #1403 closed

[2018-09-12 20:31] tnozicka opened #1464 "tnozicka/openshift-acme: Template.template.openshift.io "e2e-gcp" is invalid"
/kind bug
/area test-execution
## What did you expect to happen?
Run the e2e

## What happened?
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/tnozicka_openshift-acme/79/pull-ci-openshift-acme-e2e/4

## How can the error be reproduced?
`/test e2e` on https://github.com/tnozicka/openshift-acme/pull/79

## Is there anything else we need to know?
This job haven't run

[2018-09-13 07:41] tnozicka commented on #1464
@stevekuznetsov thanks for finding the root cause, validation would be nice for sure :)

[2018-09-13 09:31] petr-muller commented on #1464
The error message is not exactly helpful then, too.

[2018-09-13 09:31] #1464 closed

[2018-09-13 09:55] bbguimaraes commented on #1335
https://jira.coreos.com/browse/DPTP-185

[2018-09-13 10:05] kargakis opened #1469 "the build src failed with reason GenericBuildFailed: Generic Build failure"
A test run failed with the following output
[code]
Events from the namespace
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/413/pull-ci-openshift-azure-e2e/126/build-log.txt

Looks like an infra flake

@smarterclayton @stevekuznetsov

/kind test-flake

[2018-09-13 17:31] bparees opened #1478 "templateinstances.template.openshift.io "e2e-gcp-crio" is forbidden: unable to create new content in namespace ci-op-c0yx6k96 because it is being terminated"
Seeing this fairly frequently:

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/20885/pull-ci-origin-e2e-gcp-crio/450/build-log.txt

@stevekuznetsov as mentioned in slack.

[2018-09-13 17:34] tnozicka opened #1479 "openshift/release CI should validate duplicate keys in config files"
/kind bug

While editing https://github.com/openshift/release/blob/359d82a240fdf1d7999d104fd51af5d4c017eae7/cluster/ci/config/prow/plugins.yaml#L44-L45 my IDE is screaming for duplicate keys in that file, might not be the only one.

Examples:
`openshift/builder:`, `ci-operator/config/openshift/cluster-samples-operator/*.yaml:`

This should be enforced in a presubmit checking those files.

[2018-09-13 17:36] stevekuznetsov commented on #1479
@tnozicka could you please migrate this to `kubernetes/test-infra` and `/cc` me there?

[2018-09-14 12:07] kargakis opened #1500 "image mirror job fails to push prometheus sidecar"
[code]
@openshift/sig-azure
/assign mjudeikis

[2018-09-14 12:07] kargakis commented on #1500
/kind bug

[2018-09-14 13:12] mjudeikis commented on #1500
/close
quay does permissions based on the individual image. needed to extend permission on our account to other images.

[2018-09-14 13:12] #1500 closed

[2018-09-18 15:27] kargakis commented on #1438
And another one: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/477/pull-ci-openshift-azure-e2e/225/build-log.txt

If you want to add any debug logging in that area of code, I'd be happy to enable them in our jobs.

[2018-09-18 17:03] stevekuznetsov commented on #1479
Looks like a fundamental issue with the upstream k8s YAML loading libraries -- @deads2k how do we handle this in apimachinery?

[2018-09-18 17:10] stevekuznetsov commented on #1478
Created https://jira.coreos.com/browse/DPTP-192
/close

[2018-09-18 17:10] #1478 closed

[2018-09-18 17:10] stevekuznetsov commented on #1469
I think this was fixed
/close

[2018-09-18 17:10] #1469 closed

[2018-09-18 17:11] stevekuznetsov commented on #1438
@kargakis unlikely we will have time -- can you add it?

[2018-09-18 17:11] stevekuznetsov commented on #1352
@spadgett ping

[2018-09-18 17:11] stevekuznetsov commented on #1335
Tracked in JIRA, closing this
/close

[2018-09-18 17:11] #1335 closed

[2018-09-18 18:56] spadgett commented on #1352
We used to have one job for PRs to any branch. Is this still possible or do we need a separate job for each?

[2018-09-18 19:11] wongma7 opened #1543 "openshift/origin PRs against release-3.9 can't merge because ci/openshift-jenkins/gcp is broken"
/kind bug

## What did you expect to happen?

gcp to pass
## What happened?

gcp fails with:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/20768/test_pull_request_origin_extended_conformance_gce_39/620/build-log.txt

[code]

Should the CI be setting openshift.common.version or openshift_version? Not sure of the difference. What is openshift_protect_installed_version?
## How can the er

[2018-09-18 20:11] kargakis commented on #1213
This is done from the ci-operator side. We may want to tighten up the purge cronjob but separate issue.

/close

[2018-09-18 20:12] #1213 closed

[2018-09-18 20:16] kargakis opened #1546 "node build job followups"
- [x] [share _data dir](https://github.com/openshift/release/blob/c657eb8903cdff86b46f6a2c2d35f4e597e1c1b8/ci-operator/templates/openshift/openshift-azure/build-azure-image.yaml#L216) in a trap
- [x] disable loganalytics during install
- [x] gather artifacts
- [x] remove openshift-azure image config

/assign
/sig azure

[2018-09-19 00:08] ironcladlou opened #1552 "GCP job provisioning fails with SUBNETWORKS quota error"
/kind question
/area test-execution
/cc @dobbymoodge

## What did you expect to happen?

https://github.com/openshift/openshift-ansible/pull/10127 should pass tests.

## What happened?

Jobs are failing due to GCP provisioning failures related to SUBNETWORKS quota:

[code]

## How can the error be reproduced?

Retest the PR.

## Is there anything else we need to know?

[2018-09-19 08:40] #1546 closed

[2018-09-19 10:44] kargakis opened #1557 "azure: bootstrap autoapprover fails to come up in node build job"
[code]
@kwoodson @mjudeikis

/kind bug
/sig azure

[2018-09-19 10:52] kargakis commented on #1557
Hrm, it seems that we are trying to build a centos7 image and pull enterprise images.

[2018-09-19 11:09] mjudeikis commented on #1557
Are we doing anything with `oreg_url` here:
https://github.com/openshift/openshift-ansible/blob/master/playbooks/azure/openshift-cluster/build_node_image.yml#L84-L88 ?

[2018-09-19 11:12] kargakis commented on #1557
We used to use that in acs-engine, I don't think we use it in openshift-azure. Probably we need to start using it.

[2018-09-19 11:27] mjudeikis commented on #1557
wtf? how they manage to deviate?

[2018-09-19 12:05] kargakis commented on #1557
[code]

[2018-09-19 12:22] kargakis opened #1559 "az login required for tagging images"
If I work around https://github.com/openshift/release/issues/1557 by changing the image format in the node config maps, the build node job fails subsequently when trying to tag the image as valid with the following error:
[code]
/kind bug
/sig azure

@kwoodson

[2018-09-19 13:35] kargakis commented on #1557
cc @jim-minter may be related to https://github.com/openshift/openshift-azure/pull/414

I still can't understand why the config map translation doesn't use `DEPLOY_OS`.

[2018-09-19 13:36] kargakis commented on #1557
https://github.com/openshift/release/blob/13517c7eb2290c381124e108f026a55f7a3325ae/ci-operator/templates/openshift/openshift-azure/build-azure-image.yaml#L166-L218

[2018-09-19 13:43] kargakis commented on #1557
I think I know what's the issue. The config map is created by sync, and sync does not use `DEPLOY_OS` :)

[2018-09-19 14:44] kargakis opened #1565 "step X is missing dependencies when no explicit --target is passed to ci-operator"
Suddenly, we see the following error in our ci-operator jobs:
[code]
https://storage.googleapis.com/origin-ci-test/logs/branch-ci-openshift-openshift-azure/46/build-log.txt

Unclear what's going on @stevekuznetsov @bbguimaraes @droslean

[2018-09-19 14:45] kargakis commented on #1565
Config is [here](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/openshift-azure/master.yaml)

Maybe caused by https://github.com/openshift/release/pull/1558?

[2018-09-19 14:45] stevekuznetsov commented on #1565
@kargakis is this reproducible across jobs?

[2018-09-19 14:49] kargakis commented on #1565
We only see this in [branch-ci-openshift-openshift-azure](https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/branch-ci-openshift-openshift-azure/)

Job spec is [here](https://github.com/openshift/release/blob/5985bae74475c73b1ec636c41d5f6929a5f23d11/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-postsubmits.yaml#L7)

[2018-09-19 15:06] kargakis commented on #1557
Closing in favor of https://github.com/openshift/openshift-azure/issues/487

[2018-09-19 15:06] #1557 closed

[2018-09-19 15:12] stevekuznetsov commented on #1565
Your job has no `--target` -- not sure that should have worked in the past https://github.com/openshift/release/blob/5985bae74475c73b1ec636c41d5f6929a5f23d11/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-postsubmits.yaml#L7

[2018-09-19 15:15] kargakis commented on #1565
Well, it used to be that if you don't specify a target, all candidate targets run. Wasn't that a feature? :)

[2018-09-19 16:10] dobbymoodge commented on #1552
This should be resolved now, though a permanent pruning solution needs to be put in place (and people need to clean up after themselves)

[2018-09-19 16:10] #1552 closed

[2018-09-19 16:15] stevekuznetsov commented on #1552
@dobbymoodge was it dev leaks or just too much test throughput?

[2018-09-19 16:17] #1565 closed

[2018-09-19 17:39] dobbymoodge commented on #1552
@stevekuznetsov Dev leaks

[2018-09-19 20:10] bparees opened #1578 "e2e parallelization needs to be configurable"
We have tests that, when run in the default parallelization of 30, fail because we exhaust the cluster resources.

It should be possible to decide what level of ginkgo parallelization to choose, in the same way that we choose the `FOCUS`.

/cc @gabemontero

@coverprice
@stevekuznetsov

[2018-09-19 20:11] deads2k opened #1579 "labels in openshift/cluster-openshift-apiserver-operator are all grey"
labels created in https://github.com/openshift/cluster-openshift-apiserver-operator are all grey

This is not urgent, but it is weird.

[2018-09-19 20:19] stevekuznetsov commented on #1578
Do you have any links to the tests in question?

[2018-09-19 20:20] stevekuznetsov commented on #1578
It's odd that specific workloads end up breaking. Can we fix those workloads instead? Can a cluster of the size we're starting not handle 30 builds in parallel?

[2018-09-19 20:31] bparees commented on #1578
it's not 30 builds, it's 30 jenkins servers plus their slave pods plus their NFS servers plus the builds they run, etc.

it's the "openshift pipeline" focus.

[2018-09-20 08:26] tnozicka commented on #1579
Either the cronjob that is suppose to sync it from https://github.com/openshift/release/blob/8aefab5609aa19dde89b3a5842df0f531ba8e921/cluster/ci/config/prow/labels.yaml#L1 is broken, or there are permission issues

/cc @stevekuznetsov @bbguimaraes

[2018-09-20 08:46] tnozicka commented on #1579
labels are synced now
/close

[2018-09-20 08:46] #1579 closed

[2018-09-20 08:52] tnozicka opened #1584 "ci-operator: cp: preserving times for '...' Operation not permitted"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-openshift-apiserver-operator/3/pull-ci-openshift-cluster-openshift-apiserver-operator-master-verify/16

This is likely related to the CI cluster and possibly OpenShift security restriction config or broken volumes. I run the ci-operator locally with that config on clusterup and it passed.

We have went arou

[2018-09-20 09:28] kargakis opened #1585 "node build job on RHEL failure"
[code]
@kwoodson I am not sure what exactly are we missing here, please weigh in :)
/sig azure
/kind bug

[2018-09-20 09:41] asalkeld opened #1587 "Azure jobs will soon require AZURE_REGION set"
the create script must now have a AZURE_REGION set. I'll post a PR to add the correct variable.

[2018-09-20 10:02] smarterclayton commented on #1584
No other job seems to have this.  Why is your job special?

[2018-09-20 11:14] kargakis commented on #1559
/assign

[2018-09-20 13:20] tnozicka commented on #1584
No idea, maybe they don't use `cp -a` in `/tmp/`

[2018-09-20 14:16] kwoodson commented on #1585
When installing RHEL we use the mirror servers to get our content.  That happens here:

We import the yum tasks here:
https://github.com/openshift/openshift-ansible/blob/master/playbooks/azure/openshift-cluster/build_node_image.yml#L45

We only run them when distribution is `RedHat`:
https://github.com/openshift/openshift-ansible/blob/master/playbooks/azure/openshift-cluster/tasks/yum_certs.yml

T

[2018-09-20 15:45] tnozicka opened #1601 "tools/populate-owners should allow for updates to OWNERS from one repo"
I am running `go run tools/populate-owners/main.go` and it takes longer and longer every day as more repos go in. Even just cloning origin isn't fun. The issue is that you clone the whole repo to get about 2 files `/OWNERS` and `/OWNER_ALIASES`, right? Why not get those specific files from GitHub url? The whole script would be reduced from tens of minutes to few seconds.

/kind question
/cc @wking

[2018-09-20 15:57] wking commented on #1601
We can probably do parallel retrieval without too much trouble on our end, but that might hit a GitHub quota limit or some such (or maybe not, I dunno).  The old script [used to be parallel][1], and it worked fine.

Because then you'd have to give the script an API token for the private repos.  Some discussion of this and alternatives in the e1f993fb1debc commit message.  My favorite fix would be

[2018-09-20 18:32] stevekuznetsov commented on #1601
We can:
 - do a depth=1 clone (don't we already? I am not sure you're right that we clone the entire repo)
 - parallelize the clones (but do it so you don't DOS the host)
 - expose a org/repo arg to just update one OWNERS set

Last option probably easiest?

[2018-09-20 19:19] stevekuznetsov commented on #1584
/close

[2018-09-20 23:12] stevekuznetsov commented on #1601
I think that archive is not possible with GitHub hosts -- that's what @wking was looking into. Let's just expose the specific org/repo and run only that

[2018-09-20 23:50] wking commented on #1601
Yeah, we [do this already][1].  And I expect @tnozicka's meant "whole HEAD tree" ;).

[1]: https://github.com/openshift/release/blob/ad28e5cd850d3c8ae57894833c1107b987f97629/tools/populate-owners/main.go#L118

[2018-09-21 06:28] tnozicka commented on #1601
oh, github...
I agree that having a flag to chose the specific repo is going to be simplest and actually helps me avoid filtering out all the other files at git level ;)

[2018-09-21 07:06] #1587 closed

[2018-09-21 07:34] #1559 closed

[2018-09-21 09:36] kargakis opened #1618 "Process to rotate azure ssh key"
As long as we don't do https://github.com/openshift/openshift-ansible/issues/10120, we should have a process in place to automatically rotate the ssh key used for building node images.

@kwoodson @mjudeikis
/sig azure

[2018-09-21 10:40] kargakis opened #1621 "Document all secrets used in azure ns"
/kind documentation
/assign

[2018-09-21 10:40] kargakis commented on #1621
/sig azure

[2018-09-21 11:09] kargakis commented on #1585
/assign

[2018-09-22 14:37] bparees opened #1631 "GCP jobs need more resources or less parallelism"
Looking at the most recent couple of runs of my new GCP-based extended test job that runs our builds tests (which previously weren't run in a GCP env):

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/pull/openshift_builder/4/pull-ci-openshift-builder-master-extended-builds/

The failures are basically inconsistent across the runs w/ a couple themes being that our heaviest te

[2018-09-22 14:37] bparees commented on #1631
@smarterclayton @stevekuznetsov

[2018-09-22 15:27] stevekuznetsov commented on #1631
Feel free to fork the template and reduce parallelism.

[2018-09-22 16:43] bparees commented on #1631
That's an unsustainable long term solution. Then you'll update the primary
template and tell me I'm on my own to maintain my special case. We've been
down this road too many times already and I don't want to own any more
snowflakes.

Ben Parees | OpenShift

On Sat, Sep 22, 2018, 11:28 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-09-22 21:52] smarterclayton commented on #1631
Don’t fork the template. Let’s find out how much to increase size by

[2018-09-22 21:57] smarterclayton commented on #1631
I really doubt your jobs are special.  Let’s find out first

[2018-09-24 09:24] kargakis opened #1634 "Enable copying secrets across namespaces"
Not sure this is tracked anywhere so I am opening this issue. We want to be able to have full control over our CI secrets via a namespace in the CI cluster where our team has access. Then we can build jobs on top of those secrets to automate rotation. Having something like a controller in the `ci` namespace that copies secrets from other namespaces, driven by config in openshift/release, would be

[2018-09-24 09:35] asalkeld opened #1636 "When building locally I get a warning "permission to update the namespace""
../ci-operator/ci-operator --config ci-operator/config/openshift/azure-misc/master.yaml --git-ref asalkeld/azure-misc@move-src-go --namespace asalkeld-test
2018/09/24 19:31:08 Resolved asalkeld/azure-misc@move-src-go to commit b755a09afa1b263382e828eb96cb1336bec49adf
2018/09/24 19:31:08 Resolved source https://github.com/asalkeld/azure-misc to move-src-go@b755a09a
2018/09/24 19:31:10 Resolved open

[2018-09-24 09:47] droslean commented on #1636
@asalkeld You run the ci-operator locally, which means that it's using your account when it tries to give TTL to the namespace, which you don't have access.

[2018-09-24 09:59] droslean commented on #1636
We can't allow to the user to be able to add TTL to the namespaces. Not even give the user temporarily permissions to do it and then revoke. In both cases is not secure. The best we can do is to output a better warning.

[2018-09-24 10:02] droslean commented on #1636
@asalkeld Are you using the latest ci-operator?

[2018-09-24 10:12] asalkeld commented on #1636
@droslean I just cloned the repo and built the binary. This is not a big deal to me, @kargakis suggested that I raise an issue.

[2018-09-24 10:14] droslean commented on #1636
when running locally, please use --dry-run=true.

[2018-09-24 10:19] droslean commented on #1636
/close

[2018-09-24 10:19] #1636 closed

[2018-09-24 11:07] kargakis commented on #1585
Still broken :(

[2018-09-24 11:14] kargakis commented on #1585
@kwoodson I can confirm the certs are in the right place inside the test pod
[code]

[2018-09-24 12:29] kargakis opened #1641 "azure upgrade job is broken"
[code]
/sig azure
/kind bug
/assign

[2018-09-24 12:40] #1641 closed

[2018-09-24 13:48] bparees commented on #1631
@smarterclayton ok...  what's the current resource allocation for the GCP cluster?  what can we bump it to?

[2018-09-24 14:11] kwoodson commented on #1585
I think the names are mismatched.  The names are defined here:

https://github.com/openshift/openshift-ansible/blob/master/playbooks/azure/openshift-cluster/tasks/yum_certs.yml#L9-L11

Can we rename the secrets so they appear as below?
[code]

[2018-09-24 14:59] stevekuznetsov commented on #1634
Features need to go into JIRA tickets. We already have this tracked: https://jira.coreos.com/browse/DPTP-100

/close

[2018-09-24 14:59] #1634 closed

[2018-09-24 14:59] stevekuznetsov commented on #1634
Please search the JIRA board first.

[2018-09-24 15:00] stevekuznetsov commented on #1636
@asalkeld yeah just clean up your namespace yourself.

[2018-09-24 15:59] kargakis commented on #1621
Ensure the file that holds the certificates for downloading enterprise RPMs uses the correct format and keys, see https://github.com/openshift/release/issues/1585#issuecomment-423988734

[2018-09-24 16:16] kargakis commented on #1585
Fixed, thanks @kwoodson !

[2018-09-24 16:16] #1585 closed

[2018-09-24 16:18] kargakis opened #1648 "az blob storage copy failed"
[code]

@kwoodson
/sig azure
/kind bug

[2018-09-24 17:03] stevekuznetsov commented on #1578
Is this an issue with resource requests and limits? If the tests set those appropriately, won't they effectively get serialized by the scheduler?

/assign @smarterclayton

[2018-09-24 17:04] stevekuznetsov commented on #1352
@smarterclayton this looks like a you problem

[2018-09-24 17:04] smarterclayton commented on #1352
@spadgett yeah, it would be best if you fork the job.

[2018-09-24 17:04] bparees commented on #1578
no, we'll just have deployments timeout because pods don't come up in time because they couldn't be scheduled, and then the tests will fail.

[2018-09-24 17:12] stevekuznetsov commented on #1631
Isn't this a dupe of #1578

[2018-09-24 17:16] bparees commented on #1631
i'd say they are related, not a dupe.

if you deliver on https://github.com/openshift/release/issues/1578 then you can close this one, but since i doubt you're going to deliver on https://github.com/openshift/release/issues/1578 any time soon, we need an immediate solution.

[2018-09-24 18:18] stevekuznetsov commented on #1543
/cc @sdodson

[2018-09-24 18:20] stevekuznetsov commented on #1601
/assign @wking

[2018-09-24 18:31] stevekuznetsov commented on #1578
What happens in production in that case? If the pods stay in pending too long the deployment fails? Can the TTL on the deployment be changed?

[2018-09-24 19:46] kwoodson commented on #1648
@kargakis, How do I test this?  I would like to debug further. I can add debug statements to assist but would like to test a few times before I do so.

[2018-09-24 20:09] kargakis commented on #1648
Have a look at how we run the ci-operator in
ci-operator/jobs/openshift/openshift-azure/*periodics.yaml. You should be
able to run the ci-operator locally with the right --config, --template,
--secret-dir, and --target. In the secret-dir you should have three files:
1. secret, the azure credentials using the "export VAR=xxx" format, 2.
ssh-privatekey, random ssh key, and 3. certs.yaml, that holds

[2018-09-24 20:26] kargakis commented on #1648
You also need secret instead of credentials as the name of the file that
holds the credentials because that's what we use in the template.

On Mon, Sep 24, 2018, 22:22 Kenny Woodson <notifications@github.com> wrote:

[2018-09-24 20:29] kwoodson commented on #1648
I have a `secret` as well, thanks.  It is installing and is about half way through.  Will have results shortly.

[2018-09-24 20:48] bparees commented on #1631
making it configurable here:
https://github.com/openshift/release/pull/1652

[2018-09-24 20:48] #1631 closed

[2018-09-24 22:42] kwoodson commented on #1648
Alright, I have gotten to the bottom of it!

[code]

A couple of things have changed.  The `accessSas` url property is null.  This is what is being used in the tasks file.  The next thing to notice is that it has moved to the `properties.output.accessSAS` property in the result.   This was a breaking API change from the results of `az`.

One more reason to either move the az command to a module or

[2018-09-25 08:39] kargakis commented on #1648
As a stopgap for these kinds of breakages we can also trying pinning the az version in the openshift-ansible Dockerfile. But +10000 on moving to an API-based approach.

[2018-09-25 09:10] kargakis commented on #1648
@kwoodson can you help me understand how this job fails but the RHEL node build in Jenkins works fine?

https://ci.openshift.redhat.com/jenkins/job/azure_build_base_image_rhel/

[2018-09-25 09:13] kargakis commented on #1648
Nevermind, that's the base image. Node builds fail with the same error.

[2018-09-25 09:51] kargakis commented on #1648
@kwoodson @jim-minter @mjudeikis https://jira.coreos.com/projects/AZURE/issues/AZURE-142

[2018-09-25 13:08] #1648 closed

[2018-09-25 14:32] #1578 closed

[2018-09-25 16:52] smarterclayton opened #1671 "Too many jobs racing with TTL controller"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21057/pull-ci-origin-e2e-gcp/3970/

Looks like the job was racing with the TTL controller.  No idea why, since you'd have to start the next run exactly one hour after the last job completed, which should be really rare.

[2018-09-25 16:56] stevekuznetsov commented on #1671
There's a JIRA for this -- we don't check at the outset if we're hitting a namespace in deletion. If the namespace finalizers are taking a while, the window for this is larger. test/integration/data/output/jobs/super/duper/super-duper-release-3.10-presubmits.yaml

[2018-09-25 16:56] stevekuznetsov commented on #1671
/close

[2018-09-25 16:56] #1671 closed

[2018-09-27 17:59] baude opened #1751 "merge bot not loving containers/libpod"
/kind question

We recently starting using the openshift CI for containers/libpod (https://github.com/containers/libpod/).  We are not seeing the merge bot do its thing for our project and I would like some help troubleshooting what might be going on (config/user error/etc).

[2018-09-27 18:00] baude commented on #1751
A good example of a PR is -> https://github.com/containers/libpod/pull/1556

[2018-09-27 18:19] smarterclayton commented on #1751
@bbguimaraes do you have time to look at this?

[2018-09-27 18:20] smarterclayton commented on #1751
Just at a casual glance, I don't see a tide entry in GitHub CI status, which probably means you missed setting up the tide config.

[2018-09-27 18:29] baude commented on #1751
tide config == https://github.com/openshift/release/blob/master/cluster/ci/config/prow/config.yaml#L114  ?

[2018-09-27 21:54] stevekuznetsov commented on #1751
We are seeing 404 on setting the status. Unclear what that means. I'll look tomorrow

[2018-09-28 14:30] stevekuznetsov commented on #1751
Isn't the `tide` context failing due to
[code]

We should still add the context and list the failing tests in all cases

[2018-09-28 15:18] bbguimaraes commented on #1751
I think they are two separate issues. I had a more careful look at the code later and you're right, the context should still be added.

The failing tests were corrected and we're now getting past the issue I posted above, but we are still getting 404s.

[2018-09-28 15:27] stevekuznetsov commented on #1751
Yeah we're getting 404 on adding the status and merging:

[code]

@baude something is wrong with the robot configuration in github

[2018-09-28 15:56] bparees opened #1759 "GCP extended test env is unreliable"
I don't know who to chase for all these things, but i've run a series of extended tests against the same PR w/ a random set of failures.  You can see the whole test history here:

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/pull/openshift_builder/4/pull-ci-openshift-builder-master-extended-builds/

Failures include:
Cannot reach the api server:
[code]

Cannot access somet

[2018-09-28 15:56] bparees commented on #1759
/cc @smarterclayton

[2018-09-28 18:03] smarterclayton commented on #1759
This is https://bugzilla.redhat.com/show_bug.cgi?id=1624961

[2018-09-28 18:08] bparees commented on #1759
@smarterclayton you think

[code]
 is the same root cause as

[code]

I would have thought they were different since one is explicitly the router and the other is the SDN(?).

[2018-09-28 18:09] smarterclayton commented on #1759
I'll reopen for the router one (I think it's actually the same cause, but router runs on worker nodes so possible it's not)

[2018-10-01 17:49] ecordell opened #1770 "Runlevels not respected in operator manifests"
/kind bug

## What did you expect to happen?
OLM [manifests](https://github.com/operator-framework/operator-lifecycle-manager/tree/master/manifests) have this this input format (prefix 30):
[code]

We expected to have these manifests in the `origin-release` image as well.

## What happened?

The output in `origin-release` is:
[code]
And they are duplicated three times (for each of our output image

[2018-10-01 18:02] smarterclayton commented on #1770
Duplication is because you have /manifests dir and label in all three images.  You need to have a single docker file for your image that sets those labels.

Prefix is `0000_RUNLEVEL_*` for run levels.

[2018-10-03 07:27] stevekuznetsov commented on #1770
@smarterclayton where is the doc for this workflow?

[2018-10-03 12:01] smarterclayton commented on #1770
Same place as all update payloads https://docs.google.com/a/redhat.com/document/d/1CGZVEyuloZ9oD4NUArW6dnEpi0WFc6BP2tqPSwFZTCY/mobilebasic#heading=h.1zgrwxmpgxbr

[2018-10-04 06:38] #1601 closed

[2018-10-04 12:16] charlesakalugwu commented on #1370
@bbguimaraes do you have any more feedback about this?

[2018-10-04 13:45] bbguimaraes commented on #1370
As @mjudeikis said it is just a matter of changing the volume mount to create a file with the appropriate name, there's nothing special about the file name.

[2018-10-04 13:52] kwoodson commented on #1370
To elaborate, @bbguimaraes are you stating that we should create a local directory to match the mount name used in the template?

[2018-10-04 14:16] bbguimaraes commented on #1370
The reverse. Ultimately, the name of the secret in the template and the `basename` of the file passed to ci-operator via `--secret-dir` have to be same.

You can rename the secret in the template if you don't want to have to rename your local directory. Just remember to change the `volumeMount`s to create a file with a `basename` equal to your local directory name, e.g.:

[code]

[2018-10-04 14:16] dmage opened #1812 "Non-4.0 Template Tests Cannot Provide RELEASE_IMAGE_LATEST"
/kind bug

The `e2e` tests fail for the branch [release-3.10 of openshift/image-registry](https://github.com/openshift/image-registry/tree/release-3.10) with the error

List of failed executions:

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/pull/openshift_image-registry/127/pull-ci-image-registry-e2e-3.10/

[2018-10-04 21:32] smarterclayton commented on #1812
Fixed with #1816

[2018-10-04 22:45] #1812 closed

[2018-10-05 11:13] #1370 closed

[2018-10-05 11:44] charlesakalugwu opened #1825 "Azure origin conformance tests failure"
/kind question

Our Azure origin conformance tests suddenly fails with the error that TEST_COMMAND is undefined
[code]
Is there something which changed recently in prow configuration such that we need to re-align our ci-operator configs?

@bbguimaraes

[2018-10-05 11:52] mjudeikis commented on #1825
@openshift/sig-azure

[2018-10-05 11:53] mjudeikis commented on #1825
This is "us not quite using same config as everybody else" so we need to align.

[2018-10-05 11:55] bbguimaraes commented on #1825
@charlesakalugwu: can you add a link to that specific job failure?

[2018-10-05 12:05] charlesakalugwu commented on #1825
@bbguimaraes I ran `ci-operator` locally using the `cakalugwu-osa-origin-conformance` namespace of the CI cluster. I guess all logs should be there.

[code]

Local run logs: https://gist.github.com/charlesakalugwu/21bdb531c79b37aa09549201bf16a1da

[2018-10-05 13:02] charlesakalugwu commented on #1825
thanks @bbguimaraes

[2018-10-05 13:02] #1825 closed

[2018-10-05 20:48] bparees opened #1833 "CI Job running wrong version of extended tests"
I have a CI job on openshift/builder that runs the extended tests from openshift/origin.

I recently merged changes to the extended tests:
https://github.com/openshift/origin/pull/21178

it merged at 10am.

I ran the CI job against my openshift/builder PR at 3pm:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_builder/4/pull-ci-openshift-builder-master-extended-

[2018-10-07 08:17] stevekuznetsov commented on #1833
Do you have always pull policy on your pods?

[2018-10-07 14:13] bparees commented on #1833
@stevekuznetsov what do you mean by "my" pods?  The issue here isn't related to pods the tests themselves are launching, it's w/ the CI job building/running the wrong extended.test binary.

The job definition is here:
https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/builder/openshift-builder-master-presubmits.yaml#L124-L184

and its pull policy appears to be always:
http

[2018-10-08 14:32] smarterclayton commented on #1833
Interesting.  Another option is that the tests image didn't get updated for some reason.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-origin-master-images/53/

failed - was that when you merged?  The next merge was at 5pm, so that would explain this.

[2018-10-08 14:50] bparees commented on #1833
probably, my merge happened at 9:57am and that job ran at 9:58am.

Seems like we need that job to rerun on failure?

[2018-10-08 15:13] stevekuznetsov commented on #1833
We need a better job type in Prow that isn't just "run something after a merge" but "enforce some useful items for a job that's meant to publish something"...

[2018-10-08 15:13] stevekuznetsov commented on #1833
@smarterclayton was this one of the api.ci outages?

[2018-10-08 15:20] kargakis opened #1842 "error pulling image: Cannot overwrite digest"
Just saw the following error in the log of one of our jobs
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/569/pull-ci-openshift-openshift-azure-master-images/94/build-log.txt

Not sure what the issue is there

[JOB SPEC](https://github.com/openshift/release/blob/fe2052b006680153cf9363adf1ec32dc8f66d923/ci-operator/jobs/openshift/openshift-azure/openshif

[2018-10-08 15:31] bparees commented on #1842
neither.  it's a docker runtime issue.  @mrunalp's team has a fix but i don't think our AMIs include it yet.

[2018-10-08 15:33] stevekuznetsov commented on #1842
Ah, we would need to upgrade our nodes in api.ci for that

/cc @smarterclayton

[2018-10-08 16:00] legionus commented on #1842
This is a client error. Not registry server.

https://github.com/openshift/origin/blob/master/vendor/github.com/docker/docker/reference/store.go#L154

[2018-10-08 17:34] ecordell commented on #1770
Closing since I know the proper format now.

[2018-10-08 17:34] #1770 closed

[2018-10-08 17:51] ecordell opened #1846 "Binaries not copied to output images as expected."
/kind bug
/area test-artifacts

## What did you expect to happen?

Here is our ci-operator config: https://github.com/openshift/release/blob/master/ci-operator/config/operator-framework/operator-lifecycle-manager/operator-framework-operator-lifecycle-manager-master.yaml#L8-L17

I _thought_ that that config would run `make build` in the image built from `Dockerfile`, then build `ci-manifests.Docker

[2018-10-08 18:18] smarterclayton commented on #1842
We should have fixed this a month ago (I pulled new rpms and rebuilt images).  If this is still happening the fix wasn’t successful.

[2018-10-08 18:20] smarterclayton commented on #1833
Possible or another undiagnosed network flake

[2018-10-08 18:23] bparees commented on #1842
This came up last week and I pinged mrunal and Miroslav who confirmed at
least in the job I was looking at the rpm was not new enough to have the
fix.

Ben Parees | OpenShift

On Mon, Oct 8, 2018, 14:18 Clayton Coleman <notifications@github.com> wrote:

[2018-10-08 18:24] ecordell commented on #1846
Discussed offline

[2018-10-08 18:24] #1846 closed

[2018-10-08 18:52] bparees opened #1847 "containers stuck in creating on GCP tests"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_builder/4/pull-ci-openshift-builder-master-extended-builds/70

I've reduced the parallelism and increased the wait time to 4 minutes, but i'm still seeing test failures due to pods getting stuck in container create:

[code]

Container was scheduled at `2018-10-08T16:23:10Z`

and we dumped the pod state at `Oct  8 1

[2018-10-08 20:52] stevekuznetsov commented on #1842
What job was it? This is the RPM on our cluster nodes, how did you check that version?

[2018-10-08 21:20] bparees commented on #1842
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_extended_image_ecosystem/1246/

see the discussion in forum-runtimes (you can search on that link to find the discussion)

So that's an AWS-based job, so different base.

Here's what miroslav said though:  "Random grepping in the output suggests the failing version is docker-1.13.1-63.git94f424

[2018-10-09 11:10] charlesakalugwu opened #1858 "how to get 3.11 and newer rpms for openshift"
It looks like rpm artifacts for the newer versions are no longer published in the CI buckets https://console.cloud.google.com/storage/browser/origin-ci-test/releases/openshift/origin?project=openshift-gce-devel

This is a problem for us on the azure team as we require that those artifacts be available outside the CI cluster (e.g. azure) in order for our vms to bootstrap themselves prior to image c

[2018-10-09 11:11] kargakis commented on #1858
@smarterclayton @stevekuznetsov

[2018-10-09 12:19] stevekuznetsov commented on #1847
Don't the events not show this? Do we need kubelet logs here?

[2018-10-09 13:38] bparees commented on #1847
hmm.  I thought I saw the successful pull when i was looking at it, but perhaps not.  So this could also be caused by very slow networking or slow/insufficient registry resources (or slow registry storage, depending how the registry is setup in these clusters).

I can continue bumping timeouts but this still seems like a poorly performing cluster.

[2018-10-09 13:53] stevekuznetsov commented on #1847
OK, let's do more debugging with more data, then.

/close

[2018-10-09 13:53] #1847 closed

[2018-10-09 14:07] gabemontero opened #1860 "Problem building jenkins image when adding container.yml"
/kind bug

When ci-operator is building the jenkins test image, we continually get

[code]

See PR https://github.com/openshift/jenkins/pull/712

/area test-execution

## What did you expect to happen?

For the test image to be properly built and the openshift/jenkins e2e test launched

## What happened?

The ci-operator run fails trying to build our test image

## How can the error be reproduced?

[2018-10-09 14:33] stevekuznetsov commented on #1860
Can you link the failed build logs, job configuration in ci-op and prow, etc

[2018-10-09 14:49] gabemontero commented on #1860
ci-op config: https://github.com/openshift/release/blob/master/ci-operator/config/openshift/jenkins/openshift-jenkins-master.yaml

presubmit:  https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/jenkins/openshift-jenkins-master-presubmits.yaml

failed build log:  https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_jenkins/712/pull-ci-openshift-jenkins-opens

[2018-10-09 14:55] stevekuznetsov commented on #1860
There's no `test-e2e` directory in the `openshift-3.10` branch, so the copy isn't working

[2018-10-09 14:58] gabemontero commented on #1860
DAAAAAAHHHHHH .... somehow did not pick up on the 3.10 aspect

thanks @stevekuznetsov  :-$ .... (emoticon per https://pc.net/emoticons/smiley/embarrassed )

[2018-10-09 14:58] #1860 closed

[2018-10-09 15:31] mrogers950 opened #1862 "Need a gating PR job for service-serving-cert-signer repo"
@smarterclayton We're not yet using images from openshift/service-ca-operator, so for the time being we could use one for openshift/service-serving-cert-signer

[2018-10-09 15:32] stevekuznetsov commented on #1862
What is being asked for here, and from who is it being asked from?

[2018-10-09 15:42] mrogers950 commented on #1862
@stevekuznetsov Ignore, I should have checked with Clayton on this one first.

[2018-10-09 15:42] #1862 closed

[2018-10-09 16:08] stevekuznetsov commented on #1860
/woof

[2018-10-10 15:19] kargakis opened #1879 "Unable to write event: connection refused"
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/579/pull-ci-openshift-openshift-azure-master-images/121/build-log.txt
/kind bug

[2018-10-10 15:39] stevekuznetsov commented on #1879
@smarterclayton is this when you restarted the apiserver

[2018-10-11 06:13] stevekuznetsov commented on #1879
/close

[2018-10-11 06:13] #1879 closed

[2018-10-11 19:27] gabemontero opened #1903 "generated-config validate untenable"
/kind bug

generated-config parsing of my presubmits

/area test-execution

## What did you expect to happen?

See https://github.com/openshift/release/pull/1902#issuecomment-429086212

also, before I got to this point, the diff logic complained if yaml lines were not in exactly the right order ... even at the same level of the yaml docs hierarchy ...

## What happened?

## How can the error be re

[2018-10-11 20:39] bparees opened #1905 "prow is not merging PRs"
I've had to manually merge several PRs that had passing tests but were not getting merged by the bots.

https://github.com/openshift/library/pull/131
https://github.com/openshift/jenkins/pull/719

/cc @gabemontero

[2018-10-11 20:50] bparees opened #1906 "Error starting jobs"
It's a PR against origin-3.11 if it matters: https://github.com/openshift/origin/pull/21226

It is reporting "error starting jenkins jobs" for extended_builds and extended_image_ecosystem.

[2018-10-11 21:46] stevekuznetsov commented on #1906
If you look at the Prow config, what jobs are being started? Do they exist in aos-cd-jobs or Jenkins?

[2018-10-11 21:56] bparees commented on #1906
I don't know what this means.  All the jenkins jobs are defined in aos-cd-jobs.

Here's the presubmits for the origin 3.11 branch:

[code]

[code]

[2018-10-11 22:04] bparees commented on #1906
so is this `test_pull_request_origin_extended_builds-release-3.11` supposed to exist as a job in jenkins+aos-cd-jobs?  If so, whoever did this didn't set it up.

[2018-10-11 22:06] bparees commented on #1906
(it's also inconsistent with the 3.10 presubmits which used `test_pull_request_origin_extended_builds_310` as the naming convention)

(and it means origin-3.11 merging is currently blocked, at least for any PR that trips those 2 test jobs)

[2018-10-11 22:06] bparees commented on #1906
/cc @smarterclayton as it looks like he's the one who updated the pre-submits for 3.11.

[2018-10-12 06:44] stevekuznetsov commented on #1906
/assign @smarterclayton

[2018-10-12 06:44] stevekuznetsov commented on #1905
... what was the symptom?

[2018-10-12 06:46] stevekuznetsov commented on #1905
@smarterclayton we need logging ....

[2018-10-12 06:46] stevekuznetsov commented on #1903
/assign @bbguimaraes

[2018-10-12 08:32] tnozicka commented on #1584
We are still seeing this on unhappy paths. This time in `openshift/api` which is not related to our new operator repos. We can probably add the hack there as well but this shows that something might be wrong with the CI cluster.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_api/109/pull-ci-openshift-api-master-verify/10

/cc @mfojtik
/reopen

[2018-10-12 08:46] bbguimaraes commented on #1903
@gabemontero: we enforce alphabetical ordering in the job definitions to make the migration to auto-generated jobs practical. The generator outputs jobs in the correct format, but that has to be taken into account when adding jobs manually.

As for the generation itself, each test type in the ci-operator configuration file corresponds to a test workflow (i.e. one of the templates in `ci-operator/t

[2018-10-12 08:50] tnozicka commented on #1584
Might be an issue with how CI operator setups the repo in the pod. For reference, this is the commit removing the `cp -a` lines to go around it https://github.com/openshift/cluster-openshift-apiserver-operator/pull/6/commits/08ce259dc467c3719ba7c4e6da2375be08185250#diff-dc2915041d23416c6ec10531445397baL35

I've tried simple `cp -a` in api.ci and it worked fine

[2018-10-12 08:53] stevekuznetsov commented on #1903
Note -- it's worth it for you to follow the generator approach IFF you expect others to use your template. You can just use a template without changing your CI-Operator configuration and handle the ProwJob configuration yourself if you want this to be a one-off.

[2018-10-12 10:01] petr-muller commented on #1903
One thing that we could make easier is a pre-push sanitization to save people from having this PR-oh-f**k-alphabet cycle. There are scripts in `hack` that do this but we would need to improve them,

[2018-10-12 10:47] stevekuznetsov commented on #1903
I would assume people are running their tests locally, too ...

[2018-10-12 11:47] petr-muller commented on #1903
I meant for `openshift/release`. I wonder if people just trying to setup / change CI things even know about what `hack/` scripts run in openshift/release presubmits.

[2018-10-12 12:29] vrutkovs opened #1912 "GCP tests fail to start - Quota 'SUBNETWORKS' exceeded. Limit: 450.0 globally"
/kind bug
/area test-execution

## What did you expect to happen?
GCP has sufficient resources to provision new instances

## What happened?
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/10160/pull-ci-openshift-openshift-ansible-3.11-gcp-major-upgrade/128
[code]

## How can the error be reproduced?
Pretty rare, but important for long-running

[2018-10-12 12:30] stevekuznetsov commented on #1912
/cc @dobbymoodge @smarterclayton @wking

[2018-10-12 12:30] stevekuznetsov commented on #1912
Last time this leaked, it was one of the installers being broken, right?

[2018-10-12 13:51] bparees commented on #1905
the symptom was everything green and the PR not merging.

[2018-10-12 13:59] petr-muller commented on #1905
@bbguimaraes maybe because at that time the periodic that applied the yaml config was not fixed yet?

[2018-10-12 14:07] gabemontero commented on #1903
ok thanks for the background and pointers @bbguimaraes ... going through them this morning

@stevekuznetsov - on the set up on your own piece, the creation of the config map in the ci namespace on api.ci is certainly manageable for non-DPTP/Clayton folks ... I did that already, but the notion of updating the prowjob config came up when we first introduced this jenkins e2e earlier this summer, and

[2018-10-12 14:30] smarterclayton commented on #1912
I think we have a slow leak still due to GCP or a bad retry loop in ansible.  We run clusters so often that we hit our quota fast

[2018-10-12 15:37] smarterclayton commented on #1906
Teams must fork them themselves.  We’re only forking the ones people are using.  For the job and I’ll review and publish.

[2018-10-12 15:37] smarterclayton commented on #1906
Fork

[2018-10-12 18:57] #1906 closed

[2018-10-12 21:25] bparees opened #1921 "origin-3.11 gcp jobs not working"
As seen in:
https://github.com/openshift/origin/pull/21226

failing job runs:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21226/pull-ci-openshift-origin-release-3.11-e2e-gcp/28
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21226/pull-ci-openshift-origin-release-3.11-e2e-gcp-crio/9

Both are reporting:
[code]

I realize that ostensibly point

[2018-10-14 01:58] bparees commented on #1921
this issue seems to have been resolved.

[2018-10-14 01:58] #1921 closed

[2018-10-15 09:37] bbguimaraes commented on #1903
@gabemontero: automatic generation of jobs is only useful for templates that are used in multiple jobs. If your template is specific to one or a few jobs, it would be counter-productive to add support for it in the generator, specially since you have already added the jobs manually.

Automatic generation is completely optional — the generator will keep jobs that are already present in the Prow con

[2018-10-15 13:51] gabemontero commented on #1903
OK, @bbguimaraes  - can you confirm for me the instructions for me doing int manually?

I found:
a) https://github.com/openshift/test-infra/blob/master/prow/getting_started.md
b) https://github.com/openshift/test-infra/tree/master/prow

Are there any other recipes I need to reference?

[2018-10-15 14:22] legionus opened #1925 "Jobs failed to push image: unauthorized: unable to validate token"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/36/pull-ci-openshift-cluster-image-registry-operator-master-unit/56

This blocks the cluster-image-registry-operator repository.

/kind bug
/area test-execution

[2018-10-15 14:22] legionus commented on #1925
/cc @bparees

[2018-10-15 14:30] stevekuznetsov commented on #1903
The manual workflow is literally what you had before -- write a template, use the ProwJob config to use it. The suggestion is simply to not make any changes to the ci-operator configuration -- your other PR was not necessary

[2018-10-15 14:42] stevekuznetsov commented on #1925
Taking this offline with @legionus

[2018-10-15 15:16] gabemontero commented on #1903
If by my other PR you mean https://github.com/openshift/release/pull/1902 the only reason I submitted that is because @smarterclayton told me in  https://github.com/openshift/release/pull/1176#discussion_r224233278  to override `TEST_PARALLELISM` there vs. changing the default in the template.

The "make copying easier" as he noted in the commit I presume was to make easy for folks who update clus

[2018-10-15 15:49] legionus commented on #1925
OK. I see a problem. The builder is trying to talk with registry without token. It happened when you switched to cri-o. It happend 2018-10-15T14:43:11.118679033Z or so.

/cc @bparees

[2018-10-15 17:17] bparees commented on #1925
/cc @smarterclayton

the builder doesn't use crio to push images (it still depends on docker), so this is something else pushing images....  unless api.ci has somehow picked up 4.0 already.

[2018-10-15 19:50] bparees commented on #1925
Seems to be fixed?

[2018-10-15 20:56] legionus commented on #1925
Looks like fixed.

[2018-10-15 20:56] #1925 closed

[2018-10-16 08:37] stevekuznetsov commented on #1925
@smarterclayton can you detail what happened here?

[2018-10-16 12:48] gabemontero commented on #1903
ahhhhh ... thanks for putting it in terms that resonate @bbguimaraes .... my previous forays here were pre-auto gen, and I just did not pick up on that distinction.

I'll update https://github.com/openshift/release/pull/1176 momentarily.

Should I remove the files in question from `ci-operator/config` then?  We can sort out in the PR or here, wherever you prefer.

[2018-10-16 13:00] gabemontero commented on #1903
@bbguimaraes  though I'm a bit confused as I started to update the PR .... if you look at https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_release/1902/pull-ci-openshift-release-master-generated-config/557

It is doing a diff of the presubmits under `ci-operator/jobs` and complaining
[code]

It seems as if it is complaining about the `ci-operator/jobs` content ..

[2018-10-16 13:16] gabemontero commented on #1903
reader's digest of slack chat with everyone ... remove ci-operator/config changes, leave ci-operator/job ... removing config changes will bypass validation

[2018-10-16 13:32] stevekuznetsov commented on #1903
/close

[2018-10-16 13:32] #1903 closed

[2018-10-16 13:32] gabemontero commented on #1903
PR merged ... closing ... thanks everyone

[2018-10-16 13:42] vrutkovs opened #1934 "gcp-logging and aws-gluster configmaps are not created"
/kind bug
/area test-execution

## What did you expect to happen?
`ci/prow/e2e-gluster` and `ci/prow/e2e-gcp-logging` tests in openshift-ansible PRs to start

## What happened?
These tests are handing in Pending

https://github.com/openshift/openshift-ansible/pull/10199 - 3.11 branch
https://github.com/openshift/openshift-ansible/pull/10075 - master branch

## How can the error be reproduced?
Crea

[2018-10-16 14:50] #1934 closed

[2018-10-16 15:17] bparees opened #1940 "e2e-gcp-crio on release-3.11 is unusable"
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/pull-ci-openshift-origin-release-3.11-e2e-gcp-crio

The failures seem to be in:

* deployment/deploymentconfig
* storage
* networking

this is blocking 3.11.z fixes.

[2018-10-16 17:51] mrunalp commented on #1940
I can cherry pick fixes into 3.11 for persistent-volumes local tests. The other 2 sets of tests need to be looked at by deployment and networking teams.

[2018-10-16 18:04] mrunalp commented on #1940
Opened - https://github.com/openshift/origin/pull/21271

[2018-10-16 18:05] bparees commented on #1940
@mrunalp i've opened https://bugzilla.redhat.com/show_bug.cgi?id=1639844 to track this.

please clone/assign to other teams as needed.

[2018-10-16 18:30] smarterclayton commented on #1925
No idea.  It's possible that the cluster was bogged down and a pull secret didn't get created and pushed to the build pod, but I find that unlikely.

[2018-10-17 20:39] mfojtik opened #1955 "e2e-aws fails with object is being deleted: pods "e2e-aws" already exists"
e2e-aws test fails with:

[code]
Sample: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_installer/420/pull-ci-openshift-installer-master-e2e-aws/774

/area test-execution
/kind bug

[2018-10-17 20:45] smarterclayton commented on #1955
`object is being deleted: pods already exists` is the weirdness

[2018-10-17 21:48] petr-muller commented on #1955
This is probably #1335 which I though I have fixed in https://github.com/openshift/ci-operator/pull/179 :(

[2018-10-18 07:24] kargakis opened #1958 "Why the registry console is scaled down in the CI cluster?"
/kind question

[2018-10-18 16:50] dmage opened #1968 "e2e-aws failed: Another process exited"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/33/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws/20

[2018-10-18 16:59] dmage commented on #1968
/area test-execution

[2018-10-19 10:18] bbguimaraes commented on #1968
That's from the script that executes the test after the cluster is provisioned:

https://github.com/openshift/release/blob/master/ci-operator/templates/openshift/installer/cluster-launch-installer-e2e.yaml#L108

@wking

[2018-10-19 11:11] wking commented on #1968
Sounds like your cluster never brought up [a recognized router][1] and you fell out the bottom of [the teardown timeout][2].

[1]: https://github.com/openshift/release/blob/17d2b89150c939f07742d20bf70e5bd7439060bc/ci-operator/templates/openshift/installer/cluster-launch-installer-e2e.yaml#L130
[2]: https://github.com/openshift/release/blob/17d2b89150c939f07742d20bf70e5bd7439060bc/ci-operator/templ

[2018-10-19 12:34] mjudeikis opened #1975 "CI cluster git-clone uses chmod as non-priv user"
in our CI jobs we started seeing git-clone failures inside our custom image:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/628/pull-ci-openshift-openshift-azure-master-verify/319

[code]

Idea is that folder is owned by root but with open permissions:
[code]

so create/delete files should work just fine in the folders. But for `chmod/chown` doe

[2018-10-19 18:23] kargakis opened #1976 "Cannot pull pipeline imagestream"
I would love to be able to pull tags from the pipeline imagestream so then I can verify individual ci-operator steps locally.

[2018-10-19 18:58] #1975 closed

[2018-10-19 19:01] kargakis opened #1978 "config updater panic"
[code]
This is from the config updater we run in the azure namespace.

/sig azure
/kind bug

[2018-10-19 22:51] kargakis commented on #1978
Happens in the ci config-updater too
/remove-sig azure

[2018-10-19 22:51] kargakis commented on #1976
/kind feature

[2018-10-20 00:44] smarterclayton commented on #1842
Not positive, but I think we have 75 on the cluster and are seeing failures
now.  Is the update in dockertested?

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21244/pull-ci-openshift-origin-master-e2e-gcp/695/?log#log

On Oct 8, 2018, at 5:20 PM, Ben Parees <notifications@github.com> wrote:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batc

[2018-10-20 02:47] smarterclayton commented on #1975
We make the directories group writable and owned by the root group and ensure they have the sticky bit for inheritance

[2018-10-20 03:13] mrunalp commented on #1842
@smarterclayton Yes, I can see in the logs here https://storage.googleapis.com/origin-ci-test/pr-logs/pull/21315/pull-ci-openshift-origin-master-e2e-gcp/966/build-log.txt that we are on build 75.
@mtrmac @runcom Can you take a look?

[2018-10-20 16:06] mtrmac commented on #1842
I’m afraid the “Fixed in version” field of https://bugzilla.redhat.com/show_bug.cgi?id=1628262 is incorrect; in fact none of the el7 packages contain the fix AFAICS, because https://github.com/projectatomic/docker/pull/321 was merged into the `docker-1.13.1` branch, but not the `docker-1.13.1-rhel` branch.

@runcom/@lsm5 What is the process to get https://github.com/projectatomic/docker/pull/321 i

[2018-10-20 18:08] runcom commented on #1842
I'm backporting it now.

[2018-10-20 18:15] runcom commented on #1842
just backported https://github.com/projectatomic/docker/commit/9e822128cab3254384de074658d0a53044a38f09

[2018-10-21 19:05] lsm5 commented on #1842
On Sun, Oct 21, 2018 at 08:20:32AM -0700, Clayton Coleman wrote:

Done, https://bugzilla.redhat.com/show_bug.cgi?id=1628262#c10

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-10-22 10:33] bbguimaraes commented on #1976
PR authors have admin access to the ci-operator namespace, so it is already possible to start pods or add something similar to [what's done in e2e tests](https://github.com/openshift/release/blob/master/ci-operator/templates/cluster-launch-e2e.yaml#L26-L36).

The only thing to keep in mind is the [TTL controller](https://github.com/openshift/ci-ns-ttl-controller) will eventually delete the namespa

[2018-10-23 16:31] coreydaley opened #1996 "ci/prow/e2e-conformance-k8s will not pass"
/kind bug
/area test-execution

The ci/prow/e2e-conformance-k8s  test will not pass, you can see at this link (https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/pull-ci-openshift-origin-master-e2e-conformance-k8s) the logs of all of the failures.  It is holding up (at least my) pull requests but I would assume there are others also.

https://github.com/openshift/origi

[2018-10-23 16:53] stevekuznetsov commented on #1996
The test runs fine here, but the cluster looks degraded. I'd suggest contacting the test authors to determine what the issue is.

/close

[2018-10-23 17:07] bparees commented on #1996
Where is "here"

What cluster looks degraded?

[2018-10-23 17:08] coreydaley commented on #1996
@stevekuznetsov That seems backwards to me?
If it runs fine "there" then it's not a test issue, if the cluster is degraded, isn't that your department?

[2018-10-23 17:08] bparees commented on #1996
This cannot be closed until this job is passing and we can merge code again.  If that means disabling the job or hunting down the test owners, so be it, but this is a blocker for our team to make progress for 4.0.

[2018-10-23 17:08] stevekuznetsov commented on #1996
As in, the test infrastructure runs and the cluster is up, end-to-end tests are executed .... there is no actionable issue for DPTP here. If you'd like to keep this open while you track down owners. that is fine

[2018-10-23 17:09] bparees commented on #1996
@coreydaley please open a high severity BZ against the master team and link it here.

[2018-10-23 17:10] bparees commented on #1996
/cc @openshift/sig-master

[2018-10-23 17:14] coreydaley commented on #1996
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1642132

[2018-10-23 18:41] bparees commented on #1996
Per my comments in the BZ, I don't think this test should have even been triggered against the PR in question.  When I cherry-picked the commit to a new PR, the test was not run against the new PR.

That's sufficient for us to move on, but if we continue to see behavior in which optional tests are triggered against PRs for no apparent reason, we'll reopen this as a prow issue.

[2018-10-23 18:41] #1996 closed

[2018-10-23 22:08] bparees opened #2002 "CI thinks jobs are running which are not running"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21328/pull-ci-openshift-origin-master-e2e-aws/194

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21337/pull-ci-openshift-origin-master-e2e-aws/191

both are clearly failed a long time ago but reporting as running.

[2018-10-24 02:36] smarterclayton commented on #1842
The cluster has been updated.  New nodes will be rotated in with 82,
although old nodes may still stick around for the next day or so.

On Sun, Oct 21, 2018 at 3:25 PM Antonio Murdaca <notifications@github.com>
wrote:

[2018-10-24 10:12] dmage commented on #1842
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/33/pull-ci-openshift-cluster-image-registry-operator-master-images/95/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/33/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws/44
I hope it's just an old no

[2018-10-24 15:14] bparees opened #2012 "origin 3.11 CI broken"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21345/test_pull_request_origin_extended_conformance_install-release-3.11/84/

[code]

[2018-10-24 19:17] smarterclayton commented on #1958
It never deployed successfully.  The new reinstall fixed it.

[2018-10-24 19:17] #1958 closed

[2018-10-24 19:18] smarterclayton commented on #1912
I think the ansible network teardown step for GCP needs to retry longer.  I watched this for a while, and we just don't retry enough.

[2018-10-24 19:19] #1858 closed

[2018-10-24 19:25] smarterclayton opened #2016 "periodic-label-sync is missing the config and secret it needs"
The pods hang waiting for the secret

[code]

[2018-10-25 21:04] bparees commented on #2012
does it matter?  seems like we need the AMIs fixed/updated, though i'm not sure why they would have regressed since this was presumably working when the current release-3.11 branch was the master branch.

[2018-10-25 22:45] smarterclayton commented on #1759
I bumped the CPU for masters in https://github.com/openshift/release/pull/2024

[2018-10-26 04:15] bparees opened #2026 "missing image failures in AWS based origin test jobs"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/16468/consoleFull#58123552758b6e51eb7608a5981914356

Looks like all the jobs that extend from `origin_built_installed_release.yml` are being impacted.

[2018-10-26 04:15] bparees commented on #2026
/cc @sdodson @smarterclayton

[2018-10-26 04:39] smarterclayton commented on #2026
Yes, it started failing about the time
https://github.com/openshift/openshift-ansible/pull/10277 was merged.  I disabled the job, since it was only accidentally being included and we're about to nuke that.

However, for some reason skip and refresh are not taking effect.

[2018-10-26 13:32] bparees commented on #2026
@smarterclayton disabled what job?

This also affects extended_builds, extended_image_ecosystem, and extended_image_registry, so until those are replaced we need that coverage

[2018-10-26 13:36] smarterclayton commented on #2026
Let’s get those switched.

Note that I fixed the core job, but I also disabled
extended_conformance_installz

On Oct 26, 2018, at 9:32 AM, Ben Parees <notifications@github.com> wrote:

I disabled the job, since it was only accidentally being included and we're
about to nuke that.

@smarterclayton <https://github.com/smarterclayton> disabled what job?

This also affects extended_builds, extended_im

[2018-10-26 13:40] bparees commented on #2026
Switched to what?  They can't run on top of e2e-aws yet since the registry doesn't come up without help.

I already have a version of extended_builds that runs against GCP, that we run in the openshift/builder repo.

[2018-10-26 15:07] richm commented on #2026
Do we just need to add this definition when we deploy the cluster?
[code]
?

[2018-10-26 15:29] richm commented on #2026
something like this?  https://github.com/openshift/aos-cd-jobs/pull/1630

[2018-10-29 18:54] bparees commented on #2012
@smarterclayton removed the service catalog build step to fix this.

[2018-10-29 18:54] #2012 closed

[2018-10-31 17:08] #1352 closed

[2018-11-02 13:47] mjudeikis opened #2055 "local development caches images"
Azure OSA running our node builds locally using syntax:
[code]

Which uses ansible-3.11 ref so we should get those images into our project. And we get them:
[code]

The template is using reference:
[code]

But I get the cached image from the node, where I can see I use the wrong image:
[code]

and if I rerun the same command, I get scheduled to different node I get the right image. I imagine "alwa

[2018-11-02 15:45] tnozicka opened #2057 "HOME is set to wrong and unwritable dir ci-operator tests"
/kind bug

## What did you expect to happen?
Be able to write to $HOME in ci-operator test.

## What happened?
User couldn't write to $HOME

($HOME was pointing to `/` I think.)

## How can the error be reproduced?
By removing this line:
https://github.com/openshift/release/pull/2051/files#diff-111afe11cb1461f9175deea657ae5b11R46

[2018-11-02 16:14] stevekuznetsov commented on #2057
Home is not set to anything by our systems. Why do you need it? If you need it, set it.

[2018-11-02 16:14] stevekuznetsov commented on #2057
Generally tests that are messing with the container filesystem outside of the working directory are very smelly. I would like to understand the use-case here better.

[2018-11-02 21:14] stevekuznetsov commented on #2016
Fixed now
/close

[2018-11-02 21:14] #2016 closed

[2018-11-02 21:14] stevekuznetsov commented on #1912
Looks like this has been resolved

/close

[2018-11-02 21:14] #1912 closed

[2018-11-02 21:15] stevekuznetsov commented on #1976
As noted by Bruno, there is a simple way to do this already.

/close

[2018-11-02 21:15] stevekuznetsov commented on #1968
Looks like there are no actionable fixes here

/close

[2018-11-02 21:16] #1968 closed

[2018-11-02 21:16] #1976 closed

[2018-11-05 22:32] wking opened #2070 "Registry "unable to check your credentials:... net/http: TLS handshake timeout""
/kind bug
/area test-execution

## What did you expect to happen?

Successful registry access.

## What happened?

In [the `images` job][1]:

[code]

## How can the error be reproduced?

I'm not sure, shortly before the above error, [a separate run][2] had:

[code]

That looks like another code path hitting the same underlying issue (that time with a logged warning, but still a non-zero exit code)

[2018-11-06 09:01] #1978 closed

[2018-11-06 13:50] stevekuznetsov commented on #2070
@smarterclayton can you triage

[2018-11-07 14:38] ironcladlou opened #2089 "False positive router availability checks possible in e2e launch template"
/kind bug

/area test-execution

## What did you expect to happen?

The e2e-aws tests should not proceed until the router is available.

## What happened?

In some cases tests proceed even when the router isn't actually available.

## How can the error be reproduced?

The problem is a gap in [the router gating logic](https://github.com/openshift/release/blob/master/ci-operator/templates/openshift/

[2018-11-07 14:38] ironcladlou commented on #2089
/cc @ramr @smarterclayton @abhinavdahiya @wking

[2018-11-07 15:01] smarterclayton commented on #2089
This is a kube bug.  A 0 damensot is not available.

[2018-11-07 15:07] ironcladlou commented on #2089
Daemonsets have no conditions published on status, so I don't see any state discrepancies here at the moment; it seems we're beholden to the actual semantics of `rollout status`...

[2018-11-07 15:42] smarterclayton commented on #2089
that's a bug in daemonsets too

[2018-11-07 16:40] ironcladlou commented on #2089
This actually prompted us to reassess our decision to use DaemonSet for routers. We decided that Deployment is actually more useful, and so [we're going to switch](https://jira.coreos.com/browse/NE-104).

That will also allow us to side-step the DaemonSet conditions issue in this case.

[2018-11-07 16:55] smarterclayton commented on #2089
let's fix rollout status now

[2018-11-09 16:03] richm opened #2106 "test failures in jenkins logging CI jobs for release-3.11"
See https://github.com/openshift/origin-aggregated-logging/pull/1446
Sometimes the logging tests will pass and complete successfully - but the PR `ci/openshift-jenkins/json-file` and `ci/openshift-jenkins/logging` will report `Pending` - yes, I've waited several hours and used `/refresh` - it never reports success
Sometimes the logging tests will hit a flake and fail - but the jenkins job says `
B

[2018-11-09 16:09] stevekuznetsov commented on #2106
One of the jobs that failed to publish artifacts lost connection to the test machine. We should see if that's the most common source of error:

[code]

[2018-11-09 16:09] stevekuznetsov commented on #2106
Can you link us to a job that is hung and not reporting status?

[2018-11-09 16:42] richm commented on #2106
I don't have one yet - will just have to keep doing /retest until I can reproduce - here is another 3.11 PR which I'm using for testing - https://github.com/openshift/origin-aggregated-logging/pull/1447

[2018-11-09 17:07] richm commented on #2106
ok - at least the kibana test failures are due to https://github.com/openshift/aos-cd-jobs/pull/1526

[2018-11-09 18:19] richm commented on #2106
This test is hung: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_aggregated_logging_json_file-release-3.11/117/console

The test failed and the logging test script has exited - not sure what jenkins is doing

[2018-11-09 18:31] richm commented on #2106
I restarted the tests - the actual logging tests will hopefully pass since I have pushed https://github.com/openshift/aos-cd-jobs/pull/1526 for now - should solve the kibana failures anyway

[2018-11-09 18:43] richm commented on #2106
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_origin-aggregated-logging/1446/test_pull_request_origin_aggregated_logging_json_file-release-3.11/117/

says `No Test Failures!` but there were definitely test failures
There are now artifacts